.btn {
	display: inline-block;
	vertical-align: top;
	color: #fff;
	border: none;
	font-family: $font-medium;
	@include rem(height, 50px);
	@include rem(font-size, 14px);
	@include rem(line-height, 50px);
	@include rem(padding, 0px 20px);
	background-color: $color-green;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	border-radius: $border-radius-base;
	white-space: nowrap;
	text-transform: uppercase;
	max-width: 100%;
	transition: all $transition-speed ease;
	position: relative;
	font-weight: normal;

	&--stat {
		position: absolute;
		top: -5px;
		right: -9px;
		background: $color-red;
		border-radius: 50%;
		@include rem(font-size, 10px);
		@include rem(line-height, 20px);
		@include rem(min-width, 20px);
		@include rem(padding, 0px 3px);
		transition: background $transition-speed ease;
		text-align: center;
		color: #fff;
	}

	&--min {
		@include rem(height, 40px);
		@include rem(font-size, 14px);
		@include rem(line-height, 40px);
		@include rem(padding, 0px 20px);
	}

	&--micro {
		@include rem(height, 32px);
		@include rem(font-size, 12px);
		@include rem(line-height, 32px);
		@include rem(padding, 0px 20px);
	}
  
	&:hover {
		background: darken($color-green, 5%);
		text-decoration: none;
		color: #fff;
	}
	
	&--orange {
		background-color: $color-orange;
		
		&:hover {
			background: darken($color-orange, 5%);
		}
	}

	&--red {
		background-color: $color-red;

		&:hover {
			background: darken($color-red, 5%);
		}
	}

	&--white {
		background-color: #fff;
		color: $color-green;

		&:hover {
			background: darken(#fff, 3%);
			color: darken($color-green, 3%);
		}
	}

	&--grey {
		background-color: $color-grey;

		&:hover {
			background: darken($color-grey, 5%);
		}
	}

	&--fill {
		width: 100%;
		padding: 0px;
	}

	& [class^="icon--"], & [class*=" icon--"] {
		@include rem(margin-right, 10px);
		display: inline-block;
    	vertical-align: top;
		@include rem(font-size, 22px);
	}

	&--icon-after [class^="icon--"], &--icon-after [class*=" icon--"] {
		@include rem(margin-right, 0px);
		@include rem(margin-left, 10px);
	}

	&--min [class^="icon--"], &--min [class*=" icon--"] {
		@include rem(font-size, 18px);
	}

	&--micro [class^="icon--"], &--micro [class*=" icon--"] {
		@include rem(font-size, 16px);
	}

	& .icon--left-open-mini {
		@include rem(font-size, 26px);
	}

	&--empty {
		border: solid 1px $color-green;
		background: none;
		color: $color-green;

		&:hover {
			background: $color-green;
			color: #fff;
		}
	}

	&--full {
		border: initial;
		background: $color-green;
		color: #fff;
	}

	&--empty [class^="icon--"], &--empty [class*=" icon--"] {
		@include rem(line-height, 48px);
	}

	&--empty.btn--min [class^="icon--"], &--empty.btn--min [class*=" icon--"] {
		@include rem(line-height, 38px);
	}

	&--empty.btn--micro [class^="icon--"], &--empty.btn--micro [class*=" icon--"] {
		@include rem(line-height, 30px);
	}

	&--orange.btn--empty {
		border: solid 1px $color-orange;
		color: $color-orange;

		&:hover {
			background: $color-orange;
			color: #fff;
		}
	}

	&--red.btn--empty {
		border: solid 1px $color-red;
		color: $color-red;

		&:hover {
			background: $color-red;
			color: #fff;
		}
	}

	&--white.btn--empty {
		border: solid 1px $color-border;
		color: $color-green;
		background: #fff;

		&:hover {
			background: darken(#fff, 3%);
			color: darken($color-green, 3%);
			border: solid 1px darken($color-border, 3%);
		}
	}

	&--text-left {
		text-align: left;
		@include rem(padding, 0px 20px);
	}

	&--disabled {
		opacity: 0.5;
		cursor: default;
	}
}

//------------------- < 1200 ------------------//
@media only screen and (max-width: ($width-content-xl - 1px)) {
	.btn {

	}
}

//------------------- < 992 ------------------//
@media only screen and (max-width: ($width-content-lg - 1px)) {
	.btn {
		@include rem(font-size, 13px);

		&--min {
			@include rem(font-size, 13px);
		}

		&--micro {
			@include rem(font-size, 11.4px);
			@include rem(padding, 0px 15px);
		}

		&--micro [class^="icon--"], &--micro [class*=" icon--"] {
			@include rem(font-size, 14px);
			@include rem(margin-right, 7px);
		}
	}
}

//------------------- < 992 > 768 ------------------//
@media only screen and (max-width: ($width-content-lg - 1px)) and (min-width: ($width-content-md)) {
	.btn {
		&--md-icon-del [class^="icon--"], &--md-icon-del [class*=" icon--"] {
			@include rem(font-size, 0px);
			@include rem(margin, 0px);
		}
	}
}

//------------------- < 768 ------------------//
@media only screen and (max-width: ($width-content-md - 1px)) {
	.btn {
		&--sm-icon-del [class^="icon--"], &--sm-icon-del [class*=" icon--"] {
			@include rem(font-size, 0px);
			@include rem(margin, 0px);
		}
	}
}

//------------------- < 576 ------------------//
@media only screen and (max-width: ($width-content-sm - 1px)) {
	.btn {
		&--xsm-icon-del [class^="icon--"], &--xsm-icon-del [class*=" icon--"] {
			@include rem(font-size, 0px);
			@include rem(margin, 0px);
		}
	}
}