<!--
    Доллары - .icon--dollar
    Рубли - .icon--rouble
    Евро - .icon--euro
-->

<!-- Пример карточки Услуги, Работы, Товара -->
<a href="materials_detail.html" class="catalog-item">
    <div class="catalog-item__img">
        <img src="img/files/image_0_02_05_4bc37ddabadb39cd8f90fc6c1b50a5403c844a15a8f7ce1c0a91003569ed8118_V.jpg.250x250_q85_crop.jpg" alt="Монтаж столешницы" />
    </div>
    <div class="catalog-item__body">
        <div class="catalog-item__title">Монтаж столешницы</div>
        <div class="catalog-item__price"><!-- Только для каталога камней и Услуг -->
            <span class="catalog-item__icon-money icon--money"></span>Цена от:<span class="catalog-item__price-count">12 000</span><span class="catalog-item__icon-valuta icon--rouble"></span>
        </div>
    </div>
</a>