<div class="categories">
    <div class="categories__title">Категории</div>
    <ul class="categories__menu">
        <li class="categories__menu-item categories--active js-cat-wrap">
            <a href="/materials_lev2.html">Натуральный камень<span class="categories__menu-arrow categories--menu-arrow-close icon--down-open-mini js-cat-btn"></span><span class="categories__menu-arrow categories--menu-arrow-active icon--up-open-mini js-cat-btn"></span></a>
            <ul class="categories__menu-sub js-cat-list">
                <li class="categories__menu-item-sub"><a href="/materials_lev3.html">Гранит</a></li>
                <li class="categories__menu-item-sub"><a href="/materials_lev3.html">Мрамор</a></li>
                <li class="categories__menu-item-sub categories--sub-active"><a href="/materials_lev3.html">Лабрадорит</a></li>
                <li class="categories__menu-item-sub"><a href="/materials_lev3.html">Оникс</a></li>
                <li class="categories__menu-item-sub"><a href="/materials_lev3.html">Травертин</a></li>
                <li class="categories__menu-item-sub"><a href="/materials_lev3.html">Сланец</a></li>
                <li class="categories__menu-item-sub"><a href="/materials_lev3.html">Кварцит</a></li>
            </ul>
        </li>
        <li class="categories__menu-item js-cat-wrap">
            <a href="/materials_lev2.html">Искусственный камень<span class="categories__menu-arrow categories--menu-arrow-close icon--down-open-mini js-cat-btn"></span><span class="categories__menu-arrow categories--menu-arrow-active icon--up-open-mini js-cat-btn"></span></a>
            <ul class="categories__menu-sub js-cat-list">
                <li class="categories__menu-item-sub"><a href="/materials_lev3.html">Акриловый камень</a></li>
                <li class="categories__menu-item-sub"><a href="/materials_lev3.html">Кварцевый агломерат</a></li>
            </ul>
        </li>
    </ul>
</div>