<div class="catalog-item js-expand-wrap">
    <div class="catalog-item__del confirm-win js-confirm-win-wrap">
        <a href="" class="catalog-item__del-btn js-confirm-win-btn"><span class="icon--close"></span></a>
        <div class="confirm-win__modal js-confirm-win-modal">
            <div class="confirm-win__title">Хотите удалить услугу из вашего каталога?</div><!-- В зависимости от каталога менять: услугу, товар, работу -->
            <div class="row row--padd-min">
                <div class="col-6">
                    <a href="" class="btn btn--micro btn--fill">Да</a>
                </div>
                <div class="col-6">
                    <a href="" class="btn btn--red btn--micro btn--fill btn--empty js-confirm-win-btn-no">Нет</a>
                </div>
            </div>
        </div>
    </div>
    <a href="/profile-catalog-edit.html" class="catalog-item__edit"><span class="icon--edit"></span></a>
    <a href="/profile-catalog-edit.html" class="catalog-item__edit catalog-item--view"><span class="icon--eye"></span></a>
    <div target="_blank" class="catalog-item__img">
        <img src="img/files/image_0_02_05_4bc37ddabadb39cd8f90fc6c1b50a5403c844a15a8f7ce1c0a91003569ed8118_V.jpg.250x250_q85_crop.jpg" alt="Монтаж столешницы" />
        <div class="catalog-item__flag">На модерации<span class="catalog-item__flag-icon icon--waiting"></span></div>
    </div>
    <div class="catalog-item__body">
        <div target="_blank" class="catalog-item__title">Монтаж столешницы</div>
        <div class="catalog-item__price"><!-- Только для каталога камней и Услуг -->
            <span class="catalog-item__icon-money icon--money"></span>Цена от:<span class="catalog-item__price-count">12 000</span><span class="catalog-item__icon-valuta icon--rouble"></span>
        </div>
    </div>
</div>
<!--
    Доллары - .icon--dollar
    Рубли - .icon--rouble
    Евро - .icon--euro
-->