<a href="materials_lev2.html" class="catalog-item">
    <div class="catalog-item__img">
        <img src="img/files/category_img.jpg" alt="Натуральный камень" />
    </div>
    <div class="catalog-item__body">
        <div class="catalog-item__title">Натуральный камень</div>
        <div class="catalog-item__text">В каталоге представлен весь ассортимент камня на рынке с фотографиями и описанием. Также, на странице камня вы можете просматривать компании, которые занимаются продажей этого камня и их стоимость.</div>
    </div>
</a>