<div class="catalog-buy">
    <div class="row row--vert-center">
        <div class="col-lg-7 pos-md-center col-md-bottom-min">
            <div class="catalog-buy__company">
                <a href="" class="catalog-buy__company-name">Venezia Stone Company Ltd.</a>
                <div class="catalog-buy__city"><span class="catalog-buy__city-icon icon--location"></span>Москва</div>
            </div>
        </div>
        <div class="col-lg-5 pos-right pos-md-center">
            <div class="catalog-buy__right">
                <div class="catalog-buy__price">140<span class="catalog-buy__price-icon icon--euro"></span></div>
                <div class="catalog-buy__btn"><a href="" class="btn btn--min">Заказать</a></div>
            </div>
        </div>
    </div>
</div>