<div class="catalog-item js-expand-wrap">
    <div class="catalog-item__del confirm-win js-confirm-win-wrap">
        <a href="" class="catalog-item__del-btn js-confirm-win-btn"><span class="icon--close"></span></a>
        <div class="confirm-win__modal js-confirm-win-modal">
            <div class="confirm-win__title">Хотите удалить камень из вашего каталога?</div>
            <div class="row row--padd-min">
                <div class="col-6">
                    <a href="" class="btn btn--micro btn--fill">Да</a>
                </div>
                <div class="col-6">
                    <a href="" class="btn btn--red btn--micro btn--fill btn--empty js-confirm-win-btn-no">Нет</a>
                </div>
            </div>
        </div>
    </div>
    <a href="" class="catalog-item__edit js-expand-btn js-expand-hidden" data-expand="hidden"><span class="icon--edit"></span></a>
    <div class="none js-expand-show">
        <a href="" class="catalog-item__edit js-expand-btn" data-expand="show"><span class="icon--logout"></span></a>
    </div>
    <div class="catalog-item__edit-price-body js-expand-body">
        <div class="catalog-item__edit-price">
            <form action="" method="post" enctype="multipart/form-data">
                <div class="catalog-item__edit-price-title">СЛЭБ 20 мм</div>
                <div class="row row--padd-micro">
                    <div class="col-5">
                        <input placeholder="Цена / м²" name="" value="" type="text" class="form__input" />
                    </div>
                    <div class="col-7 catalog-item__edit-price-wrap">
                        <div class="catalog-item__edit-price-val">
                            <div class="pseudo-select">
                                <div class="pseudo-select__control">
                                    <div class="pseudo-select__arrow"><span class="icon--down-open-mini"></span></div>
                                    <div class="pseudo-select__text">руб</div>
                                </div>
                                <ul class="pseudo-select__list">
                                    <li class="pseudo-select__option current" data-value="1">руб</li>
                                    <li class="pseudo-select__option" data-value="2">usd</li>
                                    <li class="pseudo-select__option" data-value="3">eur</li>
                                </ul>
                                <select name="status" class="pseudo-select__real">
                                    <option value="1" selected="selected">руб</option>
                                    <option value="2">usd</option>
                                    <option value="3">eur</option>
                                </select>
                            </div>
                        </div>
                        <button class="catalog-item__edit-price-btn marg-l-micro" type="submit" name="" value=""><span class="icon--done"></span></button>
                    </div>
                </div>
                <div class="catalog-item__edit-price-title">СЛЭБ 30 мм</div>
                <div class="row row--padd-micro">
                    <div class="col-5">
                        <input placeholder="Цена / м²" name="" value="" type="text" class="form__input" />
                    </div>
                    <div class="col-7 catalog-item__edit-price-wrap">
                        <div class="catalog-item__edit-price-val">
                            <div class="pseudo-select">
                                <div class="pseudo-select__control">
                                    <div class="pseudo-select__arrow"><span class="icon--down-open-mini"></span></div>
                                    <div class="pseudo-select__text">руб</div>
                                </div>
                                <ul class="pseudo-select__list">
                                    <li class="pseudo-select__option current" data-value="1">руб</li>
                                    <li class="pseudo-select__option" data-value="2">usd</li>
                                    <li class="pseudo-select__option" data-value="3">eur</li>
                                </ul>
                                <select name="status" class="pseudo-select__real">
                                    <option value="1" selected="selected">руб</option>
                                    <option value="2">usd</option>
                                    <option value="3">eur</option>
                                </select>
                            </div>
                        </div>
                        <button class="catalog-item__edit-price-btn marg-l-micro" type="submit" name="" value=""><span class="icon--done"></span></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div target="_blank" class="catalog-item__img">
        <img src="img/files/stone-5.jpg" alt="Акриловый камень Abalone" />
    </div>
    <div class="catalog-item__body">
        <div target="_blank" class="catalog-item__title">Акриловый камень Abalone</div>
        <div class="catalog-item__price"><!-- Только для каталога камней и Услуг -->
            <span class="catalog-item__icon-money icon--money"></span>Цена от:<span class="catalog-item__price-count">12 000</span><span class="catalog-item__icon-valuta icon--rouble"></span>
        </div>
    </div>
</div>
<!--
    Доллары - .icon--dollar
    Рубли - .icon--rouble
    Евро - .icon--euro
-->