</main>

<div class="page__bottom">
    <!-- @@include = _subscription.html -->
    <!-- @@include = _footer-menu.html -->

    <footer class="page-footer">
        <div class="page__content-inner">
            <div class="row row--no-padd">
                <div class="col-lg-3 col-sm-6 pos-xsm-center col-xsm-bottom">
                    <a href="/" class="page-footer__logo"><img src="img/svg/logo-footer.svg" alt="Amigo Stone logo"></a>
                     <div class="socials socials--grey socials--big row-xsm-center">
                         <a href="https://www.facebook.com/Amigostone-1989608804600431" target="_blank" class="socials__btn socials--fb icon--facebook"></a>
                         <a href="https://www.pinterest.com/amigostone/" target="_blank" class="socials__btn socials--pint icon--pinterest"></a>
                         <a href="https://plus.google.com/u/0/113344476756594538738" target="_blank" class="socials__btn socials--ggl icon--gplus"></a>
                         <a href="https://vk.com/amigostone" target="_blank" class="socials__btn socials--vk icon--vkontakte"></a>
                         <a href="https://www.youtube.com/channel/UCJZJbzhAYuG41GyHZHEDUvA" target="_blank" class="socials__btn socials--yt icon--youtube"></a>
                         <a href="https://www.instagram.com/amigostone.russia/" target="_blank" class="socials__btn socials--inst icon--instagram"></a>
                     </div>
                    <div class="page-footer__copyright">ООО «Амиголаб» © 2015 - 2017</div>
                </div>
                <div class="col-lg-3 col-sm-6 push-lg-6 pos-right pos-xsm-center col-md-bottom">
                    <div class="page-footer__contacts">
                        <div class="page-footer__contacts-icon icon--phone"></div>
                        <div class="page-footer__contacts-body">
                            <a class="page-footer__link page-footer--link-phone" href="tel:88005500913">8-800-550-09-13</a>
                            <a class="page-footer__link page-footer--link-email" href="mailto:info@amigostone.ru">info@amigostone.ru</a>
                        </div>
                    </div>
                    <!--<div class="page-footer__mode">Режим работы: пн-вс 8:00-21:00</div>-->
                    <div class="page-footer__mode">Звонок бесплатный по России</div>
                    <a href="" class="page-footer__btn btn btn--min">Заказать консультацию</a>
                </div>
                <div class="col-lg-6 col-md-12 pull-lg-3 pos-center">
                    <div class="page-footer__menu-col col-xsm-bottom-min">
                        <div class="page-footer__title">Служба поддержки</div>
                        <ul class="page-footer__menu">
                            <li><a href="contacts.html">Контакты</a></li>
                            <li><a href="faq.html">Помощь</a></li>
                            <li><a href="contract.html">Пользовательское соглашение</a></li>
                        </ul>
                    </div>
                    <div class="page-footer__menu-col">
                        <div class="page-footer__title">Информация</div>
                        <ul class="page-footer__menu">
                            <li><a href="news.html">Статьи</a></li>
                            <li><a href="news.html">Новости</a></li>
                            <li><a href="">Форум</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- @@include = _modal-geoip.html -->
    <!-- @@include = _modal-order.html -->
</div>