<section class="footer-menu">
    <div class="page__content-inner">
        <div class="row row--no-padd">
            <div class="col-xl-2 col-sm-4 footer-menu__item">
                <a href="materials.html" class="footer-menu__link">Каталог камней</a>
            </div>
            <div class="col-xl-2 col-sm-4 footer-menu__item">
                <a href="materials.html" class="footer-menu__link">Каталог товаров</a>
            </div>
            <div class="col-xl-2 col-sm-4 footer-menu__item">
                <a href="materials.html" class="footer-menu__link">Каталог работ</a>
            </div>
            <div class="col-xl-2 col-sm-4 footer-menu__item">
                <a href="materials.html" class="footer-menu__link">Каталог услуг</a>
            </div>
            <div class="col-xl-2 col-sm-4 footer-menu__item">
                <a href="companies.html" class="footer-menu__link">Камнеобработчики</a>
            </div>
            <div class="col-xl-2 col-sm-4 footer-menu__item">
                <a href="companies.html" class="footer-menu__link">Поставщики</a>
            </div>
        </div>
    </div>
</section>