<!-- Модальное окно для смены города -->
<div class="modal-window" id="modal-geoip">
    <div class="modal-window__body">
        <div class="col-bottom-min">
            <div class="modal-window__title">Выберите город</div>
            <div class="modal-window__info">Найдите город по поиску или выберите из списка ниже</div>
        </div>
        <div class="js-geoip-wrap">
            <div class="col-bottom-min">
                <!-- @@include = _smart-search-city.html -->
            </div>
            <div class="row">
                <div class="col-4">
                    <ul class="geoip__cities">
                        <li class="geoip__cities-item js-geoip-select" data-id="223">Владивосток</li>
                        <li class="geoip__cities-item js-geoip-select" data-id="223">Волгоград</li>
                        <li class="geoip__cities-item js-geoip-select" data-id="223">Воронеж</li>
                        <li class="geoip__cities-item js-geoip-select" data-id="">Екатеринбург</li>
                        <li class="geoip__cities-item js-geoip-select" data-id="">Казань</li>
                        <li class="geoip__cities-item js-geoip-select" data-id="">Киров</li>
                        <li class="geoip__cities-item js-geoip-select" data-id="">Красноярск</li>
                    </ul>
                </div>
                <div class="col-4">
                    <ul class="geoip__cities">
                        <li class="geoip__cities-item js-geoip-select" data-id="">Москва</li>
                        <li class="geoip__cities-item js-geoip-select" data-id="">Нижний Новгород</li>
                        <li class="geoip__cities-item js-geoip-select" data-id="">Новосибирск</li>
                        <li class="geoip__cities-item js-geoip-select" data-id="">Омск</li>
                        <li class="geoip__cities-item js-geoip-select" data-id="">Пермь</li>
                        <li class="geoip__cities-item js-geoip-select" data-id="">Ростов-на-Дону</li>
                        <li class="geoip__cities-item js-geoip-select" data-id="">Самара</li>
                    </ul>
                </div>
                <div class="col-4">
                    <ul class="geoip__cities">
                        <li class="geoip__cities-item js-geoip-select" data-id="">Санкт-Петербург</li>
                        <li class="geoip__cities-item js-geoip-select" data-id="">Саратов</li>
                        <li class="geoip__cities-item js-geoip-select" data-id="">Уфа</li>
                        <li class="geoip__cities-item js-geoip-select" data-id="">Хабаровск</li>
                        <li class="geoip__cities-item js-geoip-select" data-id="">Челябинск</li>
                    </ul>
                </div>
            </div>
            <div class="pos-center col-top-min">
                <div class="btn btn--min">Изменить город</div>
            </div>
        </div>
    </div>
</div>