<div>
    <div class="notification notification--new"><!-- класс notification--new если не прочитано -->
        <div class="notification__info">
            <div class="notification__datetime">
                <div class="notification__date">30.05.17</div>
                <div class="notification__time">16:05</div>
            </div>
            <div class="notification__mess">
                <div class="notification__icon icon--bell"></div>
                <div class="notification__name">Ступени из мрамора из мрамора ступени ступени</div>
            </div>
        </div>
        <div class="show-more js-show-more-wrap">
            <div class="show-more__text show-more--text-min js-show-more-text notification__description">
                <p>Изменено поле Описание Изменено поле Certified by the moderator Посмотреть обновленную.</p>
                <p>Изменено поле Описание Изменено поле Certified by the moderator Посмотреть обновленную. Изменено поле Описание Изменено поле Certified by the moderator Посмотреть обновленную.</p>
            </div>
            <div class="show-more__btn-wrap">
                <div class="show-more__btn js-show-more-btn">Показать полностью</div>
            </div>
        </div>
    </div>
    <div class="notification">
        <div class="notification__info">
            <div class="notification__datetime">
                <div class="notification__date">30.05.17</div>
                <div class="notification__time">16:05</div>
            </div>
            <div class="notification__mess">
                <div class="notification__icon icon--bell"></div>
                <div class="notification__name">Новый расчет стоимости заказа ID 457</div>
            </div>
        </div>
        <div class="show-more js-show-more-wrap">
            <div class="show-more__text show-more--text-min js-show-more-text notification__description">
                Получен расчет стоимости Вашего заказа “<a href="">Срочно нужна столешница из гранита!</a>” от компании-производителя <a href="">ООО СТУПКА</a>.
                <div class="pos-right col-top-micro">
                    <a href="" class="btn btn--micro btn--orange col-xsm-full">Перейти к заказу</a>
                </div>
            </div>
            <div class="show-more__btn-wrap">
                <div class="show-more__btn js-show-more-btn">Показать полностью</div>
            </div>
        </div>
    </div>
</div>