<div class="news-card">
    <div class="news-card__flag">Акция до 30.01.2018</div>
    <!--
        Активная акция - .news-card__flag
        Активная завершена - .news-card__flag .news-card--flag-completed
    -->
    <div class="news-card__wrap">
        <div class="row">
            <div class="col-xl-4 col-lg-5 col-md-3 col-sm-4 col-xsm-bottom-min">
                <a href="new.html" class="news-card__img"><img src="img/files/default.png.250x250_q85_crop.jpg" alt="Столешница из искусственного камня Samsung Staron Sanded SS418"></a>
            </div>
            <div class="col-xl-8 col-lg-7 col-md-9 col-sm-8">
                <div class="news-card__body">
                    <a href="new.html" class="news-card__title">Новинки от BELLINZONI!</a>
                    <div class="news-card__text">Набор средств по уходу за мрамором MARMO SYSTEM BELLINZONI (Мармо Систем Беллинзони). Защита окружающей среды, в которой мы живем, это то, что позволяет...</div>
                    <a href="companies_detail.html" class="news-card__company">ООО "Компания АЛМИР"</a>
                </div>
            </div>
        </div>
    </div>
    <div class="news-card__info">
        <div class="row">
            <div class="col-7">
                <div class="news-card__info-item"><span class="news-card__icon icon--location"></span>Ростов-на-Дону</div>
            </div>
            <div class="col-5">
                <div class="news-card__info-item pos-right"><span class="news-card__icon icon--calendar"></span>28.03.2017</div>
            </div>
        </div>
    </div>
</div>