<div class="order order--grey">
    <div class="order__flag order--flag-selected">Исполнитель выбран</div>
    <!--
        Выбор исполнителя - .order__flag
        Исполнитель выбран - .order__flag .order--flag-selected
        Завершён- .order__flag .order--flag-completed
    -->
    <div class="order__wrap">
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-5 col-sm-4">
                <a href="order.html" class="order__img"><img src="img/files/image_0_02_05_4bc37ddabadb39cd8f90fc6c1b50a5403c844a15a8f7ce1c0a91003569ed8118_V.jpg.250x250_q85_crop.jpg" alt="Столешница из искусственного камня Samsung Staron Sanded SS418" /></a>
            </div>
            <div class="col-xl-9 col-lg-8 col-md-7 col-sm-8">
                <div class="order__body">
                    <div class="order__info">
                        <div class="left"><span class="order__info-icon icon--vcard"></span>Заказ <span class="order__id">ID 442</span></div>
                        <div class="right"><span class="order__info-icon icon--calendar"></span>23.11.2017</div>
                    </div>
                    <a href="order.html" class="order__title">Столешница из искусственного камня Samsung Staron Sanded SS418</a>
                    <div class="order__text">Нужна столешница из искусственного камня Samsung Staron&nbsp;Sanded&nbsp; SS418. Размер: 3000х600мм, толщина 600мм. Вырез под мойку (Просьба рассчитать с интегрированной мойкой и без). Под...</div>
                </div>
            </div>
        </div>
    </div>
    <div class="order__detail">
        <div class="left">
            <div class="order__detail-item"><span class="order__icon icon--location"></span>Ростов-на-Дону</div>
        </div>
        <div class="right">
            <div class="order__detail-item"><span class="order__icon icon--eye"></span><span class="order__detail-text">Просмотры: </span>81</div>
            <div class="order__detail-item"><span class="order__icon icon--chat"></span><span class="order__detail-text">Предложения: </span>4</div>
        </div>
    </div>
</div>