<ul class="pagination pos-sm-center">
    <li class="pagination__item"><a href="" class="pagination__link pagination--arrow"><span class="icon--left-open-mini"></span></a></li>
    <li class="pagination__item"><a href="" class="pagination__link">1</a></li>
    <li class="pagination__item pagination__item--active"><span class="pagination__link">2</span></li>
    <li class="pagination__item"><a href="" class="pagination__link">3</a></li>
    <li class="pagination__item"><div class="pagination__link pagination--sep"><span class="icon--dot"></span></div></li>
    <li class="pagination__item"><a href="" class="pagination__link">24</a></li>
    <li class="pagination__item"><a href="" class="pagination__link pagination--arrow"><span class="icon--right-open-mini"></span></a></li>
</ul>