<div class="col-bottom-micro">
    <div class="stone-select js-stone-check-wrap"><!-- Добавить класс .selected если камень выбран -->
        <div class="stone-select__status">Добавлен<span class="stone-select__status-icon icon--done"></span></div>
        <div class="stone-select__check-wrap">
            <div class="stone-select__check js-stone-check">
                <span class="stone-select__check-icon stone-select--check-icon-down icon--down-open-mini"></span>
                <span class="stone-select__check-icon stone-select--check-icon-up icon--up-open-mini"></span>
            </div>
            <div class="stone-select__name">Гранит Западно-Султаевский</div>
        </div>
        <div class="js-stone-prices none">
            <form action="" method="post" class="form" enctype="multipart/form-data">
                <div class="row row--padd-micro col-top-micro">
                    <div class="col-sm-4 col-3">
                        <div class="stone-select__name-item"><div>СЛЭБ <span>20 мм</span></div></div>
                    </div>
                    <div class="col-5">
                        <input placeholder="Цена / м²" name="" value="" type="text" class="form__input" />
                    </div>
                    <div class="col-sm-3 col-4">
                        <div class="pseudo-select">
                            <div class="pseudo-select__control">
                                <div class="pseudo-select__arrow"><span class="icon--down-open-mini"></span></div>
                                <div class="pseudo-select__text">руб</div>
                            </div>
                            <ul class="pseudo-select__list">
                                <li class="pseudo-select__option current" data-value="1">руб</li>
                                <li class="pseudo-select__option" data-value="2">usd</li>
                                <li class="pseudo-select__option" data-value="3">eur</li>
                            </ul>
                            <select name="status" class="pseudo-select__real">
                                <option value="1" selected="selected">руб</option>
                                <option value="2">usd</option>
                                <option value="3">eur</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="separate-line separate-line--micro"></div>
                <div class="row row--padd-micro">
                    <div class="col-sm-4 col-3">
                        <div class="stone-select__name-item"><div>СЛЭБ <span>30 мм</span></div></div>
                    </div>
                    <div class="col-5">
                        <input placeholder="Цена / м²" name="" value="" type="text" class="form__input" />
                    </div>
                    <div class="col-sm-3 col-4">
                        <div class="pseudo-select">
                            <div class="pseudo-select__control">
                                <div class="pseudo-select__arrow"><span class="icon--down-open-mini"></span></div>
                                <div class="pseudo-select__text">руб</div>
                            </div>
                            <ul class="pseudo-select__list">
                                <li class="pseudo-select__option current" data-value="1">руб</li>
                                <li class="pseudo-select__option" data-value="2">usd</li>
                                <li class="pseudo-select__option" data-value="3">eur</li>
                            </ul>
                            <select name="status" class="pseudo-select__real">
                                <option value="1" selected="selected">руб</option>
                                <option value="2">usd</option>
                                <option value="3">eur</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row row--padd-micro">
                    <div class="col-sm-9 col-8 col-xsm-hidden"></div>
                    <div class="col-sm-3">
                        <div class="btn btn--micro btn--fill col-top-micro">Добавить</div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="col-bottom-micro">
    <div class="stone-select js-stone-check-wrap selected"><!-- Добавить класс .selected если камень выбран -->
        <div class="stone-select__status">Добавлен<span class="stone-select__status-icon icon--done"></span></div>
        <div class="stone-select__check-wrap">
            <div class="stone-select__check js-stone-check">
                <span class="stone-select__check-icon stone-select--check-icon-down icon--down-open-mini"></span>
                <span class="stone-select__check-icon stone-select--check-icon-up icon--up-open-mini"></span>
            </div>
            <div class="stone-select__name">Гранит Западно-Султаевский</div>
        </div>
        <div class="js-stone-prices none">
            <form action="" method="post" class="form" enctype="multipart/form-data">
                <div class="row row--padd-micro col-top-micro">
                    <div class="col-sm-4 col-3">
                        <div class="stone-select__name-item"><div>СЛЭБ <span>20 мм</span></div></div>
                    </div>
                    <div class="col-5">
                        <input placeholder="Цена / м²" name="" value="" type="text" class="form__input" />
                    </div>
                    <div class="col-sm-3 col-4">
                        <div class="pseudo-select">
                            <div class="pseudo-select__control">
                                <div class="pseudo-select__arrow"><span class="icon--down-open-mini"></span></div>
                                <div class="pseudo-select__text">руб</div>
                            </div>
                            <ul class="pseudo-select__list">
                                <li class="pseudo-select__option current" data-value="1">руб</li>
                                <li class="pseudo-select__option" data-value="2">usd</li>
                                <li class="pseudo-select__option" data-value="3">eur</li>
                            </ul>
                            <select name="status" class="pseudo-select__real">
                                <option value="1" selected="selected">руб</option>
                                <option value="2">usd</option>
                                <option value="3">eur</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="separate-line separate-line--micro"></div>
                <div class="row row--padd-micro">
                    <div class="col-sm-4 col-3">
                        <div class="stone-select__name-item"><div>СЛЭБ <span>30 мм</span></div></div>
                    </div>
                    <div class="col-5">
                        <input placeholder="Цена / м²" name="" value="" type="text" class="form__input" />
                    </div>
                    <div class="col-sm-3 col-4">
                        <div class="pseudo-select">
                            <div class="pseudo-select__control">
                                <div class="pseudo-select__arrow"><span class="icon--down-open-mini"></span></div>
                                <div class="pseudo-select__text">руб</div>
                            </div>
                            <ul class="pseudo-select__list">
                                <li class="pseudo-select__option current" data-value="1">руб</li>
                                <li class="pseudo-select__option" data-value="2">usd</li>
                                <li class="pseudo-select__option" data-value="3">eur</li>
                            </ul>
                            <select name="status" class="pseudo-select__real">
                                <option value="1" selected="selected">руб</option>
                                <option value="2">usd</option>
                                <option value="3">eur</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row row--padd-micro">
                    <div class="col-sm-6 col-5 col-xsm-hidden"></div>
                    <div class="col-sm-3">
                        <div class="btn btn--micro btn--empty btn--fill col-top-micro">Убрать</div>
                    </div>
                    <div class="col-sm-3">
                        <div class="btn btn--micro btn--fill col-top-micro">Сохранить</div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>