<div class="order">
    <div class="order__wrap">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-3">
                <a href="profile-order-user.html" class="order__img"><img src="img/files/image_0_02_05_4bc37ddabadb39cd8f90fc6c1b50a5403c844a15a8f7ce1c0a91003569ed8118_V.jpg.250x250_q85_crop.jpg" alt="Столешница из искусственного камня Samsung Staron Sanded SS418" /></a>
            </div>
            <div class="col-lg-9 col-md-8 col-sm-9">
                <div class="order__body">
                    <div class="order__info">
                        <div class="left"><span class="order__info-icon icon--vcard"></span>Заказ <span class="order__id">ID 442</span></div>
                        <div class="right"><span class="order__info-icon icon--calendar"></span>23.11.2017</div>
                    </div>
                    <a href="profile-order-user.html" class="order__title">Столешница из искусственного камня Samsung Staron Sanded SS418</a>
                    <div class="order__text">Нужна столешница из искусственного камня Samsung Staron&nbsp;Sanded&nbsp; SS418. Размер: 3000х600мм, толщина 600мм. Вырез под мойку (Просьба рассчитать с интегрированной мойкой и без). Под...</div>
                    <div class="pos-right">
                        <a href="profile-order-user.html" class="btn btn--micro btn--orange btn--icon-after col-top-min col-md-full">Перейти к просмотру заказа<span class="icon--right-open-mini"></span></a>
                    </div>
                    <!-- Если есть дополнения к заказу, то выводим надпись и время последнего дополнения -->
                    <div class="order__addition-title-inlist">Заказ был дополнен <span>25.02.2018 / 17:39</span></div>
                </div>
            </div>
        </div>
        <div class="order__status-wrap order--status-selected">
            <div class="order__status">Заказ в работе<span class="order__status-icon icon--pickaxe"></span></div>
            <div class="order__status-info">Ваш заказ выполняется компанией, которую вы выбрали.</div>
        </div>
        <!--
        --------------- ВАРИАНТЫ ВСЕХ ВОЗМОЖНЫХ СТАТУСОВ: ---------------

        <div class="order__status-wrap">
            <div class="order__status">Проходит проверку<span class="order__status-icon icon--waiting"></span></div>
            <div class="order__status-info">Ваш заказ проходит проверку у администратора портала. Это может занять некоторое время... Подождите пожалуйста.</div>
        </div>

        ---- Если нет предложений ----
        <div class="order__status-wrap order--status-choose">
            <div class="order__status">Ожидает вашего выбора<span class="order__status-icon icon--waiting"></span></div>
            <div class="order__status-info">Подождите, когда на ваш заказ поступят предложения от компаний, готовых его выполнить, и выберите одну из них.</div>
        </div>

        ---- Если есть предложения ----
        <div class="order__status-wrap order--status-choose">
            <div class="order__status">Ожидает вашего выбора<span class="order__status-icon icon--waiting"></span></div>
            <div class="order__status-info">У вас есть предложения от компаний, готовых выполнить ваш заказ! Вы можете уже сейчас сделать свой выбор или подождать новых предложений.</div>
        </div>

        <div class="order__status-wrap order--status-selected">
            <div class="order__status">Заказ в работе<span class="order__status-icon icon--pickaxe"></span></div>
            <div class="order__status-info">Ваш заказ выполняется компанией, которую вы выбрали.</div>
        </div>

        <div class="order__status-wrap order--status-completed">
            <div class="order__status">Завершён<span class="order__status-icon icon--check"></span></div>
            <div class="order__status-info">Ваш заказ готов! Напишите свой отзыв о выполненной работе!</div>
        </div>

        <div class="order__status-wrap order--status-rejected">
            <div class="order__status">Отклонён<span class="order__status-icon icon--ban"></span></div>
            <div class="order__status-info">Ваш заказ не прошёл проверку у администратора портала и был отклонён.</div>
        </div>
        -->

        <!--
        --------------- Это не надо, отменённый функционал ---------------
        <div class="order__steps-wrap pos-center col-top-min">
            <div class="order__flag order--flag-selected">Исполнитель выбран</div>
            <div class="order__steps">
                <div class="order__step order--step-active"><span class="order__step-num">1</span>На модерации<span class="order__step-check icon--check"></span></div>
                <div class="order__step order--step-active"><span class="order__step-num">2</span>Выбор исполнителя<span class="order__step-check icon--check"></span></div>
                <div class="order__step"><span class="order__step-num">3</span>Исполнитель выбран<span class="order__step-check icon--waiting"></span></div>
                <div class="order__step"><span class="order__step-num">4</span>Завершён<span class="order__step-check icon--waiting"></span></div>
            </div>
        </div>
        -->

    </div>
    <div class="order__detail">
        <div class="left">
            <div class="order__detail-item"><span class="order__icon icon--location"></span>Ростов-на-Дону</div>
        </div>
        <div class="right">
            <div class="order__detail-item"><span class="order__icon icon--eye"></span><span class="order__detail-text">Просмотры: </span>81</div>
            <div class="order__detail-item"><span class="order__icon icon--chat"></span><span class="order__detail-text">Предложения: </span>4<span class="order__new-response">+ 2</span></div>
        </div>
    </div>
</div>