<div class="box page__info">
    <div class="clearfix">
        <div class="marg-r-min marg-r-md-micro left col-xsm-full">
            <a href="/profile-messages.html" class="btn btn--micro btn--empty btn--md-icon-del col-xsm-full"><span class="icon--mail"></span><div class="btn--stat">1</div>Личные сообщения</a>
        </div>
        <div class="marg-r-min marg-r-md-micro left col-xsm-full col-xsm-top-micro">
            <a href="/profile-notice.html" class="btn btn--micro btn--empty btn--md-icon-del col-xsm-full"><span class="icon--bell"></span>Уведомления</a>
        </div>
    </div>
    <div class="clearfix">
        <div class="marg-r-min marg-r-md-micro left col-xsm-full col-top-micro">
            <a href="/profile-orders.html" class="btn btn--micro btn--md-icon-del col-xsm-full"><span class="icon--pickaxe"></span>Работа с заказами</a>
        </div>
        <div class="marg-r-min marg-r-md-micro left col-xsm-full col-top-micro">
            <a href="/profile-orders-list.html" class="btn btn--micro btn--empty btn--md-icon-del col-xsm-full"><span class="icon--list"></span>Лента заказов</a>
        </div>
        <div class="marg-r-min marg-r-md-micro left col-xsm-full col-top-micro">
            <a href="/profile-orders-user.html" class="btn btn--micro btn--empty btn--md-icon-del col-xsm-full"><span class="icon--order"></span>Мои заказы</a>
        </div>
    </div>
</div>