<a href="companies_detail.html" class="product-card">
    <div class="product-card__img"><img src="img/files/favicon.jpg.238x238_q85_crop.jpg" alt="ООО Каменный портал" /></div>
    <div class="product-card__body">
        <div class="product-card__name">ООО "Каменный портал"</div>
        <!--<div class="product-card__reviews">
            <div class="product-card__reviews-stars">
                <div class="product-card__reviews-stars-empty">
                    <span class="icon--thumb"></span>
                    <span class="icon--thumb"></span>
                    <span class="icon--thumb"></span>
                    <span class="icon--thumb"></span>
                    <span class="icon--thumb"></span>
                </div>
                <div class="product-card__reviews-stars-active" style="width: 30%">
                    <span class="icon--thumb"></span>
                    <span class="icon--thumb"></span>
                    <span class="icon--thumb"></span>
                    <span class="icon--thumb"></span>
                    <span class="icon--thumb"></span>
                </div>
            </div>
            <div class="product-card__reviews-count"><span class="product-card__reviews-title">Отзывов:</span><span class="product-card__reviews-num">3</span></div>
        </div>-->
        <div class="product-card__reviews">
            <div class="product-card__reviews-stars">
                <div class="product-card__reviews-stars-empty">
                    <span class="icon--star"></span>
                    <span class="icon--star"></span>
                    <span class="icon--star"></span>
                    <span class="icon--star"></span>
                    <span class="icon--star"></span>
                </div>
                <div class="product-card__reviews-stars-active" style="width: 50%">
                    <span class="icon--star"></span>
                    <span class="icon--star"></span>
                    <span class="icon--star"></span>
                    <span class="icon--star"></span>
                    <span class="icon--star"></span>
                </div>
            </div>
            <div class="product-card__reviews-count"><span class="product-card__reviews-title">Отзывов:</span><span class="product-card__reviews-num">3</span></div>
        </div>
        <div class="product-card__btn btn btn--min btn--fill btn--empty">Подробнее</div>
        <div class="product-card__city"><span class="product-card__city-icon icon--location"></span>Санкт-Петербург</div>
    </div>
</a>