<div class="profile__card">
    <div class="profile__card-body">
        <div class="profile__card-info">
            <div class="profile__card-img"><img src="img/files/logotip_dlya_industrii_kamnya_d0z1m2.jpg.238x238_q85_crop.jpg" alt="" /></div>
            <div class="profile__card-name">Кожевникова Виктория Юрьевна</div>
        </div>
        <a href="/profile-edit-user.html" class="btn btn--orange btn--micro btn--fill btn--md-icon-del"><span class="icon--settings"></span>Редактировать профиль</a>
        <div class="profile__city"><span class="profile__city-icon icon--location"></span>Санкт-Петербург</div>
    </div>
    <!--<div class="profile__card-bottom">
        <a href="" class="profile__card-btn">Редактировать<span class="profile__card-icon icon--edit"></span></a>
        <a href="" class="profile__card-btn pos-right">Посмотреть<span class="profile__card-icon icon--eye"></span></a>
    </div>-->
</div>