<div class="tabs-page__btns">
    <div class="tabs-page__btn-wrap tabs-page--btn-first current"><a href="/profile-edit.html" class="tabs-page__btn">Данные компании</a></div>
    <div class="tabs-page__btn-wrap"><a href="/profile-edit-photo.html" class="tabs-page__btn">Логотип</a></div>
    <div class="tabs-page__btn-wrap"><a href="/profile-edit-pass.html" class="tabs-page__btn">Логин / пароль</a></div>
    <div class="tabs-page__btn-wrap"><a href="/profile-edit-notice.html" class="tabs-page__btn">Email-уведомления</a></div>
</div>