<div class="categories">
    <div class="categories__title">Меню кабинета</div>
    <ul class="categories__menu">
        <li class="categories__menu-item categories--active js-cat-wrap">
            <a href="/profile.html">Мой кабинет<span class="categories__menu-arrow icon--avatar"></span></a>
        </li>
        <li class="categories__menu-item js-cat-wrap">
            <a href="/profile-catalog.html">Портфолио работ<span class="categories__menu-arrow icon--portfolio"></span></a>
        </li>
        <li class="categories__menu-item js-cat-wrap">
            <a href="/profile-catalog.html">Акции и предложения<span class="categories__menu-arrow icon--sale"></span></a>
        </li>
            <li class="categories__menu-item js-cat-wrap categories--active">
            <a href="" class="js-cat-btn">Каталоги компании<span class="categories__menu-arrow categories--menu-arrow-close icon--down-open-mini"></span><span class="categories__menu-arrow categories--menu-arrow-active icon--up-open-mini js-cat-btn"></span></a>
            <ul class="categories__menu-sub js-cat-list">
                <li class="categories__menu-item-sub">
                    <a href="/profile-catalog-stone.html">Каталог камня</a>
                    <a href="/profile-catalog-stone-add.html" class="categories__menu-add icon--plus-squared"></a>
                </li>
                <li class="categories__menu-item-sub categories--sub-active">
                    <a href="/profile-catalog.html">Каталог товаров</a>
                    <a href="/profile-catalog-add.html" class="categories__menu-add icon--plus-squared"></a>
                </li>
                <li class="categories__menu-item-sub">
                    <a href="/profile-catalog.html">Каталог услуг</a>
                    <a href="/profile-catalog-add.html" class="categories__menu-add icon--plus-squared"></a>
                </li>
                <!--<li class="categories__menu-item-sub">
                    <a href="/profile-catalog.html">Акции и предложения</a>
                    <a href="/profile-catalog-add.html" class="categories__menu-add icon--plus-squared"></a>
                </li>-->
            </ul>
        </li>
        <li class="categories__menu-item js-cat-wrap">
            <a href="" class="js-cat-btn">Медиа<span class="categories__menu-arrow categories--menu-arrow-close icon--down-open-mini"></span><span class="categories__menu-arrow categories--menu-arrow-active icon--up-open-mini js-cat-btn"></span></a>
            <ul class="categories__menu-sub js-cat-list">
                <li class="categories__menu-item-sub"><a href="/profile-articles.html">Новости компании</a><a href="/profile-articles-edit.html" class="categories__menu-add icon--plus-squared"></a></li>
                <li class="categories__menu-item-sub"><a href="/profile-articles.html">Мероприятия</a><a href="/profile-articles-edit.html" class="categories__menu-add icon--plus-squared"></a></li>
                <li class="categories__menu-item-sub"><a href="/profile-articles.html">Статьи</a><a href="/profile-articles-edit.html" class="categories__menu-add icon--plus-squared"></a></li>
            </ul>
        </li>
        <!--<li class="categories__menu-item js-cat-wrap">
            <a href="/profile-orders-docs.html">Документы по заказам<span class="categories__menu-arrow icon--doc-form"></span></a>
        </li>
        <li class="categories__menu-item js-cat-wrap">
            <a href="/profile-orders-reviews.html">Отзывы о компании<span class="categories__menu-arrow icon--chat"></span></a>
        </li>-->
        <li class="categories__menu-item js-cat-wrap">
            <a href="" class="js-cat-btn">Помощь<span class="categories__menu-arrow categories--menu-arrow-close icon--down-open-mini"></span><span class="categories__menu-arrow categories--menu-arrow-active icon--up-open-mini js-cat-btn"></span></a>
            <ul class="categories__menu-sub js-cat-list">
                <li class="categories__menu-item-sub">
                    <a href="/profile-instruction.html">Видеоинструкция<span class="categories__menu-arrow icon--video"></span></a>
                </li>
                <li class="categories__menu-item-sub">
                    <a href="/profile-faq.html">Частые вопросы<span class="categories__menu-arrow icon--lifebuoy"></span></a>
                </li>
                <li class="categories__menu-item-sub">
                    <a href="/profile-ticket.html">Задать вопрос Amigo Stone<span class="categories__menu-arrow icon--help"></span></a>
                </li>
                <li class="categories__menu-item-sub">
                    <a href="/profile-ticket.html">Сообщить об ошибке<span class="categories__menu-arrow icon--attention"></span></a>
                </li>
                <li class="categories__menu-item-sub">
                    <a href="/profile-tickets.html">Мои обращения<span class="categories__menu-arrow icon--pencil"></span></a>
                </li>
            </ul>
        </li>
        <li class="categories__menu-item js-cat-wrap">
            <a href="/profile-docs.html">Отчётные документы<span class="categories__menu-arrow icon--doc-form"></span></a>
        </li>
    </ul>
</div>