<div class="categories">
    <div class="categories__title">Меню кабинета</div>
    <ul class="categories__menu">
        <li class="categories__menu-item categories--active js-cat-wrap">
            <a href="/profile-user.html">Мой кабинет<span class="categories__menu-arrow icon--avatar"></span></a>
        </li>
        <li class="categories__menu-item js-cat-wrap">
            <a href="/profile-instruction.html">Видеоинструкция<span class="categories__menu-arrow icon--video"></span></a>
        </li>
        <!--<li class="categories__menu-item js-cat-wrap">
            <a href="">Документы<span class="categories__menu-arrow icon--doc-form"></span></a>
        </li>-->
        <!--<li class="categories__menu-item js-cat-wrap">
            <a href="">Настройки профиля<span class="categories__menu-arrow icon--settings"></span></a>
        </li>-->
        <li class="categories__menu-item js-cat-wrap">
            <a href="/profile-faq.html">Частые вопросы<span class="categories__menu-arrow icon--lifebuoy"></span></a>
        </li>
        <li class="categories__menu-item js-cat-wrap">
            <a href="/profile-ticket.html">Задать вопрос Amigo Stone<span class="categories__menu-arrow icon--help"></span></a>
        </li>
        <li class="categories__menu-item js-cat-wrap">
            <a href="/profile-ticket.html">Сообщить об ошибке<span class="categories__menu-arrow icon--attention"></span></a>
        </li>
        <li class="categories__menu-item js-cat-wrap">
            <a href="/profile-tickets.html">Мои обращения<span class="categories__menu-arrow icon--pencil"></span></a>
        </li>
        <li class="categories__menu-item js-cat-wrap">
            <a href="">Форум<span class="categories__menu-arrow icon--chat"></span></a>
        </li>
    </ul>
</div>