<div class="profile__card">
    <div class="profile__card-body">
        <div class="profile__card-info">
            <div class="profile__card-img"><img src="img/files/logotip_dlya_industrii_kamnya_d0z1m2.jpg.238x238_q85_crop.jpg" alt="" /></div>
            <div class="profile__card-name">Компания "ГрандСтиль"</div>
        </div>
        <div class="profile__reviews">
            <div class="profile__reviews-stars">
                <div class="profile__reviews-stars-empty">
                    <span class="icon--star"></span>
                    <span class="icon--star"></span>
                    <span class="icon--star"></span>
                    <span class="icon--star"></span>
                    <span class="icon--star"></span>
                </div>
                <div class="profile__reviews-stars-active" style="width: 50%">
                    <span class="icon--star"></span>
                    <span class="icon--star"></span>
                    <span class="icon--star"></span>
                    <span class="icon--star"></span>
                    <span class="icon--star"></span>
                </div>
            </div>
            <div class="profile__reviews-count"><span class="profile__reviews-title">Отзывов:</span><span class="profile__reviews-num">3</span></div>
        </div>
        <a href="" class="btn btn--micro btn--fill btn--empty btn--md-icon-del"><span class="icon--stats"></span>Рекламировать компанию</a>
        <a href="" class="btn btn--empty btn--micro btn--fill btn--md-icon-del col-top-micro"><span class="icon--eye"></span>Мой профиль на портале</a>
        <a href="/profile-edit.html" class="btn btn--orange btn--micro btn--fill btn--md-icon-del col-top-micro"><span class="icon--settings"></span>Редактировать профиль</a>
        <div class="profile__city"><span class="profile__city-icon icon--location"></span>Санкт-Петербург</div>
    </div>
    <!--<div class="profile__card-bottom">
        <a href="" class="profile__card-btn">Редактировать<span class="profile__card-icon icon--edit"></span></a>
        <a href="" class="profile__card-btn pos-right">Посмотреть<span class="profile__card-icon icon--eye"></span></a>
    </div>-->
</div>