<div class="tabs-page__btns">
    <div class="tabs-page__btn-wrap tabs-page--btn-first current"><a href="/profile-edit-user.html" class="tabs-page__btn">Персональные данные</a></div>
    <div class="tabs-page__btn-wrap"><a href="/profile-edit-photo-user.html" class="tabs-page__btn">Ваше фото</a></div>
    <div class="tabs-page__btn-wrap"><a href="/profile-edit-pass-user.html" class="tabs-page__btn">Логин / пароль</a></div>
    <div class="tabs-page__btn-wrap"><a href="/profile-edit-notice-user.html" class="tabs-page__btn">Email-уведомления</a></div>
</div>