<div class="box page__info clearfix">
    <div class="marg-r-min marg-r-md-micro left col-xsm-full">
        <a href="/profile-orders-user.html" class="btn btn--micro btn--md-icon-del col-xsm-full"><span class="icon--order"></span>Мои заказы</a>
    </div>
    <div class="marg-r-min marg-r-md-micro left col-xsm-full col-xsm-top-micro">
        <a href="/profile-messages.html" class="btn btn--micro btn--empty btn--md-icon-del col-xsm-full"><span class="icon--mail"></span><div class="btn--stat">23</div>Личные сообщения</a>
    </div>
    <div class="left col-xsm-full col-xsm-top-micro">
        <a href="/profile-notice.html" class="btn btn--micro btn--empty btn--md-icon-del col-xsm-full"><span class="icon--bell"></span><div class="btn--stat">1</div>Уведомления</a>
    </div>
</div>