<!--
Серый фон - .review .review--grey
-->
<div class="review">
    <div class="review__order">
        <div class="review__order-title">Отзыв о компании <span class="icon--right-open-mini"></span> <a href="">ГрандСтиль</a></div>
        <div class="review__order-name">Заказ <span class="review__order-id">ID 442</span>: <a href="">П-образная столешница на кухню из акрила светлых тонов</a></div>
    </div>
    <div class="review__body">
        <div class="review__name"><div class="review__name-icon icon--quote"></div><div class="review__name-text">Кожевникова Виктория Юрьевна</div></div>
        <div class="review__text">На портале "Амиго стоун" мне пришло около 10ти предложений с разбегом цен до 50ти тысяч. Предлагался в основном один и тот же производитель камня. Выбор достаточно большой и толком ни цвет, ни другой информации по камню не предоставлялось, мол смотрите в интернете там всё есть. Вот и пришлось углубиться в изучение материала.</div>
    </div>
    <div class="review__info">
        <div class="row">
            <div class="col-6">
                <div class="review__rating">
                    <div class="review__rating-stars">
                        <div class="review__rating-stars-empty">
                            <span class="icon--star"></span>
                            <span class="icon--star"></span>
                            <span class="icon--star"></span>
                            <span class="icon--star"></span>
                            <span class="icon--star"></span>
                        </div>
                        <div class="review__rating-stars-active" style="width: 50%">
                            <span class="icon--star"></span>
                            <span class="icon--star"></span>
                            <span class="icon--star"></span>
                            <span class="icon--star"></span>
                            <span class="icon--star"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="review__date pos-right"><span class="review__icon icon--calendar"></span>28.03.2017</div>
            </div>
        </div>
    </div>
</div>