<!-- AJAX-поиск по городам -->
<div class="smart-search" data-id="city" data-ajax-url="http://127.0.0.1:8000/geo/city/filter/">
    <div class="smart-search__search">
        <div class="smart-search__search-text"><span class="js-text-insert">Найдите город через поиск, например: “Москва”</span><div class="smart-search__search-icon icon--search"></div></div>
        <div class="smart-search__search-wrap">
            <input type="text" name="" value="" placeholder="Начать поиск..." class="form__input smart-search__search-input" autocomplete="off" />
            <input type="hidden" name="" value="" class="js-search-id" />
            <div class="smart-search__search-result"></div>
            <div class="js-ajax"></div>
        </div>
    </div>
</div>