<section class="subscription page--bg-stone-light">
    <div class="page__content-inner">
        <div class="subscription__info">
            <div class="subscription__title">Хотите быть в курсе наших событий?</div>
            <div class="subscription__text">Подпишитесь на новости <span>Amigo Stone</span></div>
        </div>
        <div class="subscription__btn"><a href="" class="btn btn--min btn--orange col-xsm-full"><span class="icon--newspaper"></span>Подписаться на новости</a></div>
    </div>
</section>