<div class="col-bottom-min">
    <div class="message">
        <div class="message__order">
            <div class="clearfix">
                <div class="left">
                    <div class="message__order-id"><span class="message__order-icon icon--vcard"></span>Обращение <span class="message__order-id-num">ID 442</span></div>
                </div>
                <div class="right">
                    <div class="message__order-date"><span class="message__order-icon icon--calendar"></span>30.05.17</div>
                </div>
            </div>
        </div>
        <div class="message__order-name">Сообщить об ошибке</div><!-- Здесь выводится тема тикета -->
        <a href="/profile-ticket.html" class="message__body">
            <div class="message__btn col-xsm-hidden">
                <div class="btn btn--micro">Перейти к просмотру</div>
            </div>
            <div class="message__user col-xsm-full">
                <div class="message__img"><img src="/img/files/favicon.jpg.238x238_q85_crop.jpg" alt="" /></div>
                <div class="message__text">Здравствуйте, как поживаете? Напишите скорее, очень жду</div>
            </div>
            <div class="btn btn--micro btn--fill col-xsm-visiable col-xsm-top-micro">Перейти к просмотру</div>
        </a>
        <div class="message__stat">
            <div class="message__stat-mess message--stat-mess-new"><!-- Если есть непрочитанные, добавляем класс .message--stat-mess-new -->
                <span class="message__stat-icon icon--mail"></span>
                <span class="message__stat-text">Сообщений: </span>
                <span class="message__stat-count">81</span>
                <span class="message__stat-new">+ 3</span><!-- Если есть непрочитанные, выводим счетчик -->
            </div>
        </div>
    </div>
</div>

<div class="col-bottom-min">
    <div class="message">
        <div class="message__order">
            <div class="clearfix">
                <div class="left">
                    <div class="message__order-id"><span class="message__order-icon icon--vcard"></span>Обращение <span class="message__order-id-num">ID 442</span></div>
                </div>
                <div class="right">
                    <div class="message__order-date"><span class="message__order-icon icon--calendar"></span>30.05.17</div>
                </div>
            </div>
        </div>
        <div class="message__order-name">Сообщить об ошибке</div><!-- Здесь выводится тема тикета -->
        <a href="/profile-ticket-closed.html" class="message__body">
            <div class="message__btn col-xsm-hidden">
                <div class="btn btn--disabled btn--grey btn--micro">Обращение закрыто</div>
            </div>
            <div class="message__user col-xsm-full">
                <div class="message__img"><img src="/img/files/favicon.jpg.238x238_q85_crop.jpg" alt="" /></div>
                <div class="message__text">Здравствуйте, как поживаете? Напишите скорее, очень жду</div>
            </div>
            <div class="btn btn--disabled btn--grey btn--micro btn--fill col-xsm-visiable col-xsm-top-micro">Обращение закрыто</div>
        </a>
        <div class="message__stat">
            <div class="message__stat-mess message--stat-mess-new"><!-- Если есть непрочитанные, добавляем класс .message--stat-mess-new -->
                <span class="message__stat-icon icon--mail"></span>
                <span class="message__stat-text">Сообщений: </span>
                <span class="message__stat-count">81</span>
                <span class="message__stat-new">+ 3</span><!-- Если есть непрочитанные, выводим счетчик -->
            </div>
        </div>
    </div>
</div>