<!-- @@master  = partials/_master.html-->
 
<!-- @@block  =  content-->
<section class="page__section">
    <div class="page__content-inner">
        <ul class="breadcrumbs">
            <li class="breadcrumbs__item"><a href="" class="breadcrumbs__link"><span class="icon--home"></span></a></li>
            <li class="breadcrumbs__item"><a href="/companies.html" class="breadcrumbs__link">Каталог поставщиков</a></li>
            <li class="breadcrumbs__item"><div class="breadcrumbs__link">Компания "ГрандСтиль"</div></li>
        </ul>
        <div class="page__header">
            <h1 class="page__header-title">Компания "ГрандСтиль"</h1>
        </div>
        <div class="page__body">
            <div class="product-detail">
                <div class="box col-bottom-min">
                    <div class="product-detail__status col-bottom-min">
                        <div class="product-detail__status-item"><span class="product-detail__status-icon icon--brickwall"></span>Камнеобработчик</div>
                        <div class="product-detail__status-item"><span class="product-detail__status-icon icon--truck"></span>Поставщик</div>
                        <div class="product-detail__status-item"><span class="product-detail__status-icon icon--repair-tools"></span>Мастер</div>
                        <div class="product-detail__status-item"><span class="product-detail__status-icon icon--designer"></span>Дизайнер / архитектор</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-4">
                            <div class="product-detail__img-wrap">
                                <div class="product-detail__img">
                                    <img src="img/files/image_0_02_05_4bc37ddabadb39cd8f90fc6c1b50a5403c844a15a8f7ce1c0a91003569ed8118_V.jpg.250x250_q85_crop.jpg" alt="" />
                                </div>
                                <div class="product-card__btn btn btn--orange btn--min btn--fill">Заказать у компании</div>
                                <div class="product-card__city"><span class="product-card__city-icon icon--location"></span>Санкт-Петербург</div>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-8 col-sm-top">
                            <div class="row col-bottom-min">
                                <div class="col-sm-3 col-6 col-xsm-bottom">
                                    <div class="product-detail__info">
                                        <div class="product-detail__info-icon"><span class="icon--view"></span></div>
                                        <div class="product-detail__info-title">Просмотров<br />профиля</div>
                                        <div class="product-detail__info-text">125</div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-6 col-xsm-bottom">
                                     <div class="product-detail__info">
                                        <div class="product-detail__info-icon"><span class="icon--order"></span></div>
                                        <div class="product-detail__info-title">Выполненных<br />заказов</div>
                                        <div class="product-detail__info-text">14</div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-6">
                                     <div class="product-detail__info">
                                        <div class="product-detail__info-icon"><span class="icon--like"></span></div>
                                        <div class="product-detail__info-title">Отзывов</div>
                                        <div class="product-detail__info-text">6</div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-6">
                                    <div class="product-detail__info">
                                        <div class="product-detail__info-icon"><span class="icon--star"></span></div>
                                        <div class="product-detail__info-title">Рейтинг</div>
                                        <div class="product-detail__info-rating">
                                            <div class="product-card__reviews-stars">
                                                <div class="product-card__reviews-stars-empty">
                                                    <span class="icon--star"></span>
                                                    <span class="icon--star"></span>
                                                    <span class="icon--star"></span>
                                                    <span class="icon--star"></span>
                                                    <span class="icon--star"></span>
                                                </div>
                                                <div class="product-card__reviews-stars-active" style="width: 50%">
                                                    <span class="icon--star"></span>
                                                    <span class="icon--star"></span>
                                                    <span class="icon--star"></span>
                                                    <span class="icon--star"></span>
                                                    <span class="icon--star"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="box col-onesize">
                                        <ul class="product-detail__list">
                                            <li class="product-detail__list-item"><a href="" target="_blank"><span class="product-detail__list-icon icon--point-at"></span>Каталог камней <span class="product-detail__list-count">(5)</span></a></li>
                                            <li class="product-detail__list-item"><a href="" target="_blank"><span class="product-detail__list-icon icon--point-at"></span>Товары компании <span class="product-detail__list-count">(14)</span></a></li>
                                            <li class="product-detail__list-item"><a href="" target="_blank"><span class="product-detail__list-icon icon--point-at"></span>Портфолио компании <span class="product-detail__list-count">(4)</span></a></li>
                                            <li class="product-detail__list-item"><a href="" target="_blank"><span class="product-detail__list-icon icon--point-at"></span>Услуги компании <span class="product-detail__list-count">(6)</span></a></li>
                                            <li class="product-detail__list-item"><a href="" target="_blank"><span class="product-detail__list-icon icon--point-at"></span>Дизайн-проекты компании <span class="product-detail__list-count">(2)</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-top-min">
                                    <div class="box col-onesize">
                                        <ul class="product-detail__list">
                                            <li class="product-detail__list-item"><a href="" target="_blank"><span class="product-detail__list-icon icon--point-at"></span>Статьи <span class="product-detail__list-count">(2)</span></a></li>
                                            <li class="product-detail__list-item"><a href="" target="_blank"><span class="product-detail__list-icon icon--point-at"></span>Новости <span class="product-detail__list-count">(5)</span></a></li>
                                            <li class="product-detail__list-item"><a href="" target="_blank"><span class="product-detail__list-icon icon--point-at"></span>Акции и предложения <span class="product-detail__list-count">(4)</span></a></li>
                                            <li class="product-detail__list-item"><a href="" target="_blank"><span class="product-detail__list-icon icon--point-at"></span>Отзывы о компании <span class="product-detail__list-count">(1)</span></a></li>
                                            <li class="product-detail__list-item"><a href="" target="_blank"><span class="product-detail__list-icon icon--point-at"></span>Мероприятия <span class="product-detail__list-count">(1)</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--<div class="product-detail__contacts-wrap box box--orange pos-center col-bottom-min">
                    <div class="product-detail__contacts"><span class="product-detail__contacts-icon icon--user-form"></span>Контактное лицо<div class="product-detail__contacts-text">Алексей Петрович</div></div>
                    <div class="product-detail__contacts active"><span class="product-detail__contacts-icon icon--phone-form"></span>Телефон<a href="" class="product-detail__contacts-text">+7 952-452-21-64</a></div>
                    <div class="product-detail__contacts"><span class="product-detail__contacts-icon icon--email-form"></span>E-mail<a href="" class="product-detail__contacts-text">amigo@mail.ru</a></div>
                    <div class="product-detail__contacts"><span class="product-detail__contacts-icon icon--company"></span>Web-сайт<div class="product-detail__contacts-text">http://vk.com</div></div>
                    <div class="product-detail__contacts"><span class="product-detail__contacts-icon icon--location"></span>Адрес<div class="product-detail__contacts-text">г. Санкт-Петербург, наб. Крюкова канала, д.25</div></div>
                </div>-->

                <div class="col-bottom-min">
                    <h2 class="heading heading--middle col-top">Описание деятельности компании</h2>
                    <div class="box">
                        <div class="show-more js-show-more-wrap">
                            <div class="page__text show-more__text js-show-more-text">
                                <p>В соответствии с решением акционеров компания «Венеция Констракшен» сменила название на «FavoriteStone». Новое название юр. лица, логотип и фирменная символика новой компании может использоваться с 10 мая 2017 года.</p>
                                <p>Компания «FavoriteStone» работает на рынке поставок, обработки и монтажа изделий из природного камня более 10 лет.</p>
                                <p>За это время нами накоплен огромный опыт и собран уникальный коллектив специалистов, профессионалов, хорошо знакомых со всеми этапами работы каменной отрасли: от карьерной разработки блоков и производства до монтажа готовых изделий непосредственно на строительных объектах.</p>
                                <p>Компания «FavoriteStone» оказывает полный цикл услуг, начиная от геодезических измерений и разработки чертежей, заканчивая непосредственно производством, монтажом и установкой изделий из натурального камня. Натуральный камень незаменим для отделки фасадов, применяется для оформления бизнес-центров и жилых помещений, создания полов и напольных покрытий, отделки потолков и стен. Мы предлагаем широкий выбор камня, более 150 наименований гранита и 100 наименований мрамора, а также травертин, оникс, сланец.</p>
                                <p><strong>Специализация и принцип работы</strong></p>
                                <p>«FavoriteStone» специализируется на реализации проектов из натурального камня любой сложности и масштаба, включая разработку проектной документации. Для производства изделий компания располагает собственной производственной базой, оснащенной самым современным и автоматизированным оборудованием, которое обеспечивает производство продукции любой сложности и в кратчайшие сроки.</p>
                                <p><strong>Основные виды выполняемых нами работ:</strong></p>
                                <ul>
                                    <li>Поставка и монтаж вентилируемой фасадной системы с облицовкой плитами из натурального камня (мрамор, гранит);</li>
                                    <li>Облицовка натуральным гранитом цокольной части здания и входных групп, порталов «мокрым» методом;</li>
                                    <li>Поставка и монтаж сложных архитектурных форм на фасадной части здания;</li>
                                    <li>Поставка материалов и облицовка мрамором и гранитом интерьерной части здания;</li>
                                    <li>Изготовление и монтаж сложных панно и мозаик из натурального камня с применением гидроабразивного метода резки;</li>
                                    <li>Облицовка лестниц, монтаж балюстрад, каминов и пр.</li>
                                </ul>
                                <p><strong>Наши преимущества</strong></p>
                                <p>Непосредственное и прямое участие на всех этапах реализации проектов позволило нам предложить конечный продукт высочайшего качества по конкурентным ценам, стать одним из крупнейших участников рынка натурального камня, завоевать доверие и уважение большого количества заказчиков и крупных девелоперов федерального уровня.</p>
                                <p><strong>Результаты</strong></p>
                                <p>«FavoriteStone» — компания, ориентированная на результат. Каждый наш клиент может получить не просто партию природного камня нужного вида и расцветки, а воплощенный в реальность конечный продукт — готовый проект любого уровня сложности.</p>
                            </div>
                            <div class="show-more__btn-wrap"><div class="show-more__btn js-show-more-btn">Показать полностью</div></div>
                        </div>
                    </div>
                </div>

                <div class="col-bottom-min">
                    <h2 class="heading heading--middle col-top">Витрина компании</h2>
                    <div class="tabs-page js-tab">
                        <div class="tabs-page__btns">
                            <div class="tabs-page__btn-wrap tabs-page--btn-first current js-tab-btn" data-tab="1"><div class="tabs-page__btn">Портфолио</div></div>
                            <div class="tabs-page__btn-wrap js-tab-btn" data-tab="2"><div class="tabs-page__btn">Товары</div></div>
                            <div class="tabs-page__btn-wrap js-tab-btn" data-tab="3"><div class="tabs-page__btn">Услуги</div></div>
                            <div class="tabs-page__btn-wrap js-tab-btn" data-tab="4"><div class="tabs-page__btn">Камень</div></div>
                        </div>
                        <div class="tabs-page__body tabs-page--body-no-border">
                            <div class="tabs-page__content js-tab-content current" data-tab="1">
                                <div class="row row--padd-min">
                                    <div class="col-xl-3 col-md-4 col-sm-6 col-bottom-min">
                                        <!-- @@include = partials/_catalog-item.html -->
                                    </div>
                                    <div class="col-xl-3 col-md-4 col-sm-6 col-bottom-min">
                                        <!-- @@include = partials/_catalog-item.html -->
                                    </div>
                                    <div class="col-xl-3 col-md-4 col-sm-6 col-bottom-min">
                                       <!-- @@include = partials/_catalog-item.html -->
                                    </div>
                                    <div class="col-xl-3 col-md-4 col-sm-6 col-bottom-min">
                                        <!-- @@include = partials/_catalog-item.html -->
                                    </div>
                                    <div class="col-xl-3 col-md-4 col-sm-6 col-bottom-min">
                                        <!-- @@include = partials/_catalog-item.html -->
                                    </div>
                                    <div class="col-xl-3 col-md-4 col-sm-6 col-bottom-min">
                                        <!-- @@include = partials/_catalog-item.html -->
                                    </div>
                                    <div class="col-xl-3 col-md-4 col-sm-6 col-bottom-min">
                                        <!-- @@include = partials/_catalog-item.html -->
                                    </div>
                                    <div class="col-xl-3 col-md-4 col-sm-6 col-bottom-min">
                                        <!-- @@include = partials/_catalog-item.html -->
                                    </div>
                                </div>

                                <div class="pos-center">
                                    <a href="" target="_blank" class="btn btn--min btn--orange col-xsm-full">Посмотреть все работы</a>
                                </div>
                            </div>
                            <div class="tabs-page__content js-tab-content" data-tab="2">
                                <div class="row row--padd-min">
                                    <div class="col-xl-3 col-md-4 col-sm-6 col-bottom-min">
                                        <!-- @@include = partials/_catalog-item.html -->
                                    </div>
                                    <div class="col-xl-3 col-md-4 col-sm-6 col-bottom-min">
                                        <!-- @@include = partials/_catalog-item.html -->
                                    </div>
                                    <div class="col-xl-3 col-md-4 col-sm-6 col-bottom-min">
                                       <!-- @@include = partials/_catalog-item.html -->
                                    </div>
                                    <div class="col-xl-3 col-md-4 col-sm-6 col-bottom-min">
                                        <!-- @@include = partials/_catalog-item.html -->
                                    </div>
                                    <div class="col-xl-3 col-md-4 col-sm-6 col-bottom-min">
                                        <!-- @@include = partials/_catalog-item.html -->
                                    </div>
                                    <div class="col-xl-3 col-md-4 col-sm-6 col-bottom-min">
                                        <!-- @@include = partials/_catalog-item.html -->
                                    </div>
                                    <div class="col-xl-3 col-md-4 col-sm-6 col-bottom-min">
                                        <!-- @@include = partials/_catalog-item.html -->
                                    </div>
                                    <div class="col-xl-3 col-md-4 col-sm-6 col-bottom-min">
                                        <!-- @@include = partials/_catalog-item.html -->
                                    </div>
                                </div>

                                <div class="pos-center">
                                    <a href="" target="_blank" class="btn btn--min btn--orange col-xsm-full">Посмотреть все товары</a>
                                </div>
                            </div>
                            <div class="tabs-page__content js-tab-content" data-tab="3">
                                <div class="row row--padd-min">
                                    <div class="col-xl-3 col-md-4 col-sm-6 col-bottom-min">
                                        <!-- @@include = partials/_catalog-item.html -->
                                    </div>
                                    <div class="col-xl-3 col-md-4 col-sm-6 col-bottom-min">
                                        <!-- @@include = partials/_catalog-item.html -->
                                    </div>
                                    <div class="col-xl-3 col-md-4 col-sm-6 col-bottom-min">
                                       <!-- @@include = partials/_catalog-item.html -->
                                    </div>
                                    <div class="col-xl-3 col-md-4 col-sm-6 col-bottom-min">
                                        <!-- @@include = partials/_catalog-item.html -->
                                    </div>
                                    <div class="col-xl-3 col-md-4 col-sm-6 col-bottom-min">
                                        <!-- @@include = partials/_catalog-item.html -->
                                    </div>
                                    <div class="col-xl-3 col-md-4 col-sm-6 col-bottom-min">
                                        <!-- @@include = partials/_catalog-item.html -->
                                    </div>
                                    <div class="col-xl-3 col-md-4 col-sm-6 col-bottom-min">
                                        <!-- @@include = partials/_catalog-item.html -->
                                    </div>
                                    <div class="col-xl-3 col-md-4 col-sm-6 col-bottom-min">
                                        <!-- @@include = partials/_catalog-item.html -->
                                    </div>
                                </div>

                                <div class="pos-center">
                                    <a href="" target="_blank" class="btn btn--min btn--orange col-xsm-full">Посмотреть все услуги</a>
                                </div>
                            </div>
                            <div class="tabs-page__content js-tab-content" data-tab="4">
                                <div class="row row--padd-min">
                                    <div class="col-xl-3 col-md-4 col-sm-6 col-bottom-min">
                                        <!-- @@include = partials/_catalog-item-stone.html -->
                                    </div>
                                    <div class="col-xl-3 col-md-4 col-sm-6 col-bottom-min">
                                        <!-- @@include = partials/_catalog-item-stone.html -->
                                    </div>
                                    <div class="col-xl-3 col-md-4 col-sm-6 col-bottom-min">
                                       <!-- @@include = partials/_catalog-item-stone.html -->
                                    </div>
                                    <div class="col-xl-3 col-md-4 col-sm-6 col-bottom-min">
                                        <!-- @@include = partials/_catalog-item-stone.html -->
                                    </div>
                                    <div class="col-xl-3 col-md-4 col-sm-6 col-bottom-min">
                                        <!-- @@include = partials/_catalog-item-stone.html -->
                                    </div>
                                    <div class="col-xl-3 col-md-4 col-sm-6 col-bottom-min">
                                        <!-- @@include = partials/_catalog-item-stone.html -->
                                    </div>
                                    <div class="col-xl-3 col-md-4 col-sm-6 col-bottom-min">
                                        <!-- @@include = partials/_catalog-item-stone.html -->
                                    </div>
                                    <div class="col-xl-3 col-md-4 col-sm-6 col-bottom-min">
                                        <!-- @@include = partials/_catalog-item-stone.html -->
                                    </div>
                                </div>

                                <div class="pos-center">
                                    <a href="" target="_blank" class="btn btn--min btn--orange col-xsm-full">Посмотреть весь камень</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-bottom-min">
                    <h2 class="heading heading--middle col-top">Отзывы о компании</h2>
                    <div class="col-bottom-min">
                        <!-- @@include = partials/_review-white.html -->
                    </div>
                    <div class="col-bottom-min">
                        <!-- @@include = partials/_review-white.html -->
                    </div>
                    <div class="row row--vert-center row--padd-min">
                        <div class="col-sm-6 pos-right pos-xsm-center col-xsm-bottom-min">
                            <a href="" target="_blank" class="btn btn--min btn--orange col-xsm-full">Все отзывы</a>
                        </div>
                        <div class="col-sm-6 pos-left pos-xsm-center">
                            <a href="" target="_blank" class="btn btn--min col-xsm-full">Написать отзыв</a>
                        </div>
                    </div>
                </div>

                <!--<h2 class="heading heading--middle col-top">Медиа</h2>
                <div class="tabs-page js-tab">
                    <div class="tabs-page__btns">
                        <div class="tabs-page__btn-wrap tabs-page--btn-first current js-tab-btn" data-tab="1"><div class="tabs-page__btn">Акции и предложения</div></div>
                        <div class="tabs-page__btn-wrap js-tab-btn" data-tab="2"><div class="tabs-page__btn">Новости</div></div>
                        <div class="tabs-page__btn-wrap js-tab-btn" data-tab="3"><div class="tabs-page__btn">Статьи</div></div>
                        <div class="tabs-page__btn-wrap js-tab-btn" data-tab="4"><div class="tabs-page__btn">Мероприятия</div></div>
                    </div>
                    <div class="tabs-page__body tabs-page--body-no-border">
                        <div class="tabs-page__content js-tab-content current" data-tab="1">
                            <div class="row">
                                <div class="col-lg-6 col-bottom-min">
                                    <!-- @@include = partials/_offer-card-full-page.html *->
                                </div>
                                <div class="col-lg-6 col-bottom-min">
                                    <!-- @@include = partials/_offer-card-full-page.html *->
                                </div>
                            </div>
                            <div class="pos-center">
                                <a href="" target="_blank" class="btn btn--min btn--orange col-xsm-full">Посмотреть все акции</a>
                            </div>
                        </div>
                        <div class="tabs-page__content js-tab-content" data-tab="2">
                            <div class="row">
                                <div class="col-lg-6 col-bottom-min">
                                    <!-- @@include = partials/_news-card-white.html *->
                                </div>
                                <div class="col-lg-6 col-bottom-min">
                                    <!-- @@include = partials/_news-card-white.html *->
                                </div>
                            </div>
                            <div class="pos-center">
                                <a href="" target="_blank" class="btn btn--min btn--orange col-xsm-full">Посмотреть все новости</a>
                            </div>
                        </div>
                        <div class="tabs-page__content js-tab-content" data-tab="3">
                            <div class="row">
                                <div class="col-lg-6 col-bottom-min">
                                    <!-- @@include = partials/_articles-card-white.html *->
                                </div>
                                <div class="col-lg-6 col-bottom-min">
                                    <!-- @@include = partials/_articles-card-white.html *->
                                </div>
                            </div>
                            <div class="pos-center">
                                <a href="" target="_blank" class="btn btn--min col-xsm-full">Посмотреть все статьи</a>
                            </div>
                        </div>
                        <div class="tabs-page__content js-tab-content" data-tab="4">

                        </div>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</section>
<!-- @@close-->