<!-- @@master  = partials/_master.html-->
 
<!-- @@block  =  content-->
<section class="page__section">
    <div class="page__content-inner">
        <ul class="breadcrumbs">
            <li class="breadcrumbs__item"><a href="" class="breadcrumbs__link"><span class="icon--home"></span></a></li>
            <li class="breadcrumbs__item"><div class="breadcrumbs__link">Контактная информация</div></li>
        </ul>
        <div class="page__header">
            <h1 class="page__header-title">Контактная информация</h1>
        </div>
        <div class="page__body">
            <div class="page__box">
                <div class="row row--vert-center">
                    <div class="col-lg-6 col-separat-wrap">
                        <div class="col-lg-separat">
                            <div class="contacts">
                                <div class="contacts__item">
                                    <div class="contacts__title">Телефон</div>
                                    <div class="contacts__info">Бесплатно по всей России</div>
                                    <a href="tel:89216535049" class="contacts__text"><span class="contacts__icon icon--phone"></span>8-921-653-50-49</a>
                                </div>
                                <div class="contacts__item">
                                    <div class="contacts__title">E-mail</div>
                                    <a href="mailto:info@amigostone.ru" class="contacts__text"><span class="contacts__icon icon--mail"></span>info@amigostone.ru</a>
                                </div>
                                <div class="contacts__item">
                                    <div class="contacts__title">Наш адрес</div>
                                    <a href="https://yandex.ru/maps/-/CBaOQUAulC" target="_blank" class="contacts__text"><span class="contacts__icon icon--location"></span>191187, г. Санкт-Петербург, ул. Гагаринская, 6/1</a>
                                </div>
                                <div class="contacts__item">
                                    <div class="contacts__title">Реквизиты ООО «Амиго Лаб»</div>
                                    <div class="contacts__requisites">
                                        <p>
                                            <b>Полное наименование:</b><br />
                                            Общество с ограниченной ответственностью «Амиго Лаб»
                                        </p>
                                        <p>
                                            <b>Адрес:</b><br />
                                            190121, Санкт-Петербург, наб. Реки Пряжки, д.30, литера А, помещение 207
                                        </p>
                                        <p>
                                            <b>ИНН:</b> 7839078258<br />
                                            <b>КПП:</b> 783901001<br />
                                            <b>ОГРН:</b> 1177847044407<br />
                                            <b>ОКПО:</b> 06507088<br />
                                            <b>ОКВЭД:</b> 63.12; 46.19, 62.01; 63.11; 73.11
                                        </p>
                                        <p>
                                            <b>р/сч:</b> 40702810890350001260 в ПАО «Банк «Санкт-Петербург»<br />
                                            <b>к/сч:</b> 30101810900000000790 БИК 044030790
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-separat-wrap col-md-top">
                        <div class="col-lg-separat">
                            <form name="" action="" method="POST" enctype="multipart/form-data">
                                <div class="form">
                                    <div class="form__header">Есть вопросы?<br />Свяжитесь с нами!</div>
                                    <div class="js-form-replace">
                                        <div class="form__field form--field-name form--field-icon">
                                            <input placeholder="Имя" name="" value="" type="text" class="form__input request-name" />
                                            <div class="form__field-icon"><span class="icon--user-form"></span></div>
                                        </div>
                                        <div class="form__field form--field-email form--field-icon">
                                            <input placeholder="E-mail" name="" value="" type="email" class="form__input request-email" />
                                            <div class="form__field-icon"><span class="icon--email-form"></span></div>
                                        </div>
                                        <div class="form__field form--field-phone form--field-icon">
                                            <input placeholder="Телефон" name="" value="" type="tel" class="form__input request-phone" />
                                            <div class="form__field-icon"><span class="icon--phone-form"></span></div>
                                        </div>
                                        <div class="form__field form--field-mess form--field-icon">
                                            <textarea placeholder="Ваше сообщение" name="" class="form__textarea request-mess"></textarea>
                                            <div class="form__field-icon"><span class="icon--comment-form"></span></div>
                                        </div>
                                        <div class="pos-right">
                                            <button type="submit" name="" class="btn btn--min btn--orange request-btn col-xsm-full">Отправить сообщение</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- @@close-->