<!-- @@master  = partials/_master.html-->
 
<!-- @@block  =  content-->
<section class="page__section">
    <div class="page__content-inner">
        <ul class="breadcrumbs">
            <li class="breadcrumbs__item"><a href="" class="breadcrumbs__link"><span class="icon--home"></span></a></li>
            <li class="breadcrumbs__item"><div class="breadcrumbs__link">Помощь</div></li>
        </ul>
        <div class="page__header">
            <h1 class="page__header-title">Помощь</h1>
        </div>
        <div class="page__body">
            <div class="faq">
                <div class="faq__item js-faq-wrap">
                    <div class="faq__title js-faq-btn">Зачем нужен сервис биржи?<span class="faq__icon faq--icon-down icon--down-open-mini"></span><span class="faq__icon faq--icon-up icon--up-open-mini"></span></div>
                    <div class="faq__text js-faq-body">
                        <p>Сервис биржи создан для связи между покупателями и производителями изделий из камня. Это надёжная торговая площадка и, одновременно, информационный портал каменной отрасли.</p>
                        <p>Покупатели легко и без посредников отыщут на бирже лучших исполнителей. Закажут изделие из камня или найдут мастера для работы с камнем. Через биржу можно купить профессиональные средства по уходу за изделиями из камня и получить совет специалистов.</p>
                        <p>Компании-производители найдут на бирже заказы на изготовление изделий, поставку и обработку камня, работы по монтажу и укладке. Получат заявки на поставку инструмента и оборудования или сами приобретут недостающий материал, инструмент и наймут специалистов.</p>
                        <p>Камнеобработчки так же смогут найти на бирже партнёров, получить подрядные договоры на производство продукции, поставку материала и инструмента, выполнение работ на объектах.</p>
                        <p>Биржа гарантирует всем пользователям портала достоверность и надёжность информации, широкий ассортимент, качество продукции и материалов, а так же оперативность и отсутствие посредников.</p>
                    </div>
                </div>
                <div class="faq__item js-faq-wrap">
                    <div class="faq__title js-faq-btn">Как оставить заказ?<span class="faq__icon faq--icon-down icon--down-open-mini"></span><span class="faq__icon faq--icon-up icon--up-open-mini"></span></div>
                    <div class="faq__text js-faq-body">
                        <p>Чтобы оставить заказа на изготовление, нужно заполнить форму, которая открывается после нажатия кнопки «Оформить заказ».</p>
                        <p><b>Заполняйте все имеющиеся пункты формы:</b></p>
                        <ul>
                            <li><em>ФИО</em></li>
                            <li><em>Телефон</em></li>
                            <li><em>Электронная почта</em></li>
                            <li><em>Название изделия или вид работы</em></li>
                            <li><em>Описание заказа</em></li>
                        </ul>
                        <p>В описании расскажите о заказе в формате: «Хочу заказать изделие (например, столешницу) или выполнить работу (например, облицовку фасада), из такого-то камня». Опишите изделие подробно, прикрепите эскиз, рисунок или фото аналогичного предмета.</p>
                        <p>Проверьте правильность внесённых контактов и нажмите кнопку «Отправить». После этого заявка попадает на проверку и вы увидите уведомление, что заказ отправлен на модерацию. Вы так же получите сообщение о принятии заказа в работу.</p>
                        <p>Если заказ оформляется впервые — на указанные почту и телефон придёт пароль от личного кабинета покупателя. Отправка заказа одновременно является регистрацией на бирже.</p>
                        <p>Затем вам позвонит менеджер сайта и уточнит детали заявки для прохождения модерации. После чего заказ попадает в базу и станет виден всем исполнителям. В вашем личном кабинете он появится в списке заказов и вы получите уведомление на почту, что заказ добавлен в базу.</p>
                    </div>
                </div>
                <div class="faq__item js-faq-wrap">
                    <div class="faq__title js-faq-btn">Кто отвечает на мой заказ?<span class="faq__icon faq--icon-down icon--down-open-mini"></span><span class="faq__icon faq--icon-up icon--up-open-mini"></span></div>
                    <div class="faq__text js-faq-body">
                        <p>На ваш заказ отвечают все заинтересованные компании. На бирже используется конкурентная тендерная система, что даёт заказчику максимальный выбор предложений.</p>
                        <p>Сообщение о новом заказе появляется в личном кабинете зарегистрированных на бирже исполнителей. И они откликаются на заявку с указанием условий и цены работы.</p>
                        <p>Вы получаете отклики от компаний с пояснениями, расчётами по заявке и стоимостью заказа. Можно задать вопрос и получить дополнительные документы от кандидата в исполнители. Конкурсная система обеспечивает максимальный интерес компаний и большое число откликов на вашу заявку, с наиболее выгодными условиями. Изучайте ответы и выбирайте своего мастера.</p>
                    </div>
                </div>
                <div class="faq__item js-faq-wrap">
                    <div class="faq__title js-faq-btn">Как обезопасить себя от возможных рисков?<span class="faq__icon faq--icon-down icon--down-open-mini"></span><span class="faq__icon faq--icon-up icon--up-open-mini"></span></div>
                    <div class="faq__text js-faq-body">
                        <p>Сервис «безопасная сделка» создан для расчётов между покупателем и исполнителем. Он гарантирует, что заказанный товар поступит к покупателю и будет соответствовать всем условиям договора. Деньги от клиента резервируются в системе «безопасной сделки» и поступают к исполнителю только после подготовки изделия к отгрузке.</p>
                        <p>Такая система бережёт покупателя от затягивания сроков изготовления изделий и от обмана по качеству. Если вы впервые заказываете продукцию из камня — выбирайте для оплаты «безопасную сделку». Вы получите договор через биржу, по которому специалисты проконсультируют вас и расскажут, как проверить готовое изделие на соответствие заказу.</p>
                        <p>При отказе от сделки, из-за нарушений по договору и низком качестве работы, деньги вернуться на ваш счёт.</p>
                        <p>Для камненобработчиков сервис «безопасная сделка» - защита от капризов и придирок заказчика к несуществующим недостаткам. Если работа выполнена в полном объёма и с высоким качеством, отказ в оплате по причине «передумали» не принимается, исполнитель получает деньги за изготовленное изделие.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- @@close-->