<!-- @@master  = partials/_master.html-->
 
<!-- @@block  =  content-->
<section>
    <div class="slide-main">
        <div class="slide-main__gal js-slider-main col-sm-hidden">
            <div class="slide-main__gal-item"><img src="img/bg-main.jpg" alt="" /></div>
            <div class="slide-main__gal-item"><img src="img/bg-main.jpg" alt="" /></div>
        </div>
        <div class="slide-main__top">
            <div class="page__content-inner">
                <div class="slide-main__wrap">
                    <div class="row row--vert-bottom">
                        <div class="col-xl-8 col-lg-6 col-md-5 col-sm-bottom">
                            <h1 class="slide-main__header">Мы найдём для вас лучшую цену на любое изделие из камня!</h1>
                            <div class="pos-left">
                                <a href="" class="btn col-top col-md-full"><span class="icon--sale"></span>Акции и предложения</a>
                            </div>
                            <a href="#instruction" class="slide-main__video ancLinks"><span class="slide-main__video-icon icon--video"></span>Как это работает</a>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-7">
                            <div class="slide-main__form">
                                <form name="" action="" method="POST" enctype="multipart/form-data">
                                    <div class="form">
                                        <div class="form__header">Оставить заявку сейчас!</div>
                                        <div class="js-form-replace">
                                            <div class="form__field form--field-name form--field-icon">
                                                <input placeholder="Имя" name="" value="" type="text" class="form__input request-name" />
                                                <div class="form__field-icon"><span class="icon--user-form"></span></div>
                                            </div>
                                            <div class="form__field form--field-email form--field-icon">
                                                <input placeholder="E-mail" name="" value="" type="email" class="form__input request-email" />
                                                <div class="form__field-icon"><span class="icon--email-form"></span></div>
                                            </div>
                                            <div class="form__field form--field-phone form--field-icon">
                                                <input placeholder="Телефон" name="" value="" type="tel" class="form__input request-phone" />
                                                <div class="form__field-icon"><span class="icon--phone-form"></span></div>
                                            </div>
                                            <div class="form__field form--field-mess form--field-icon">
                                                <textarea placeholder="Ваше сообщение" name="" class="form__textarea form--textarea-min request-mess"></textarea>
                                                <div class="form__field-icon"><span class="icon--comment-form"></span></div>
                                            </div>
                                            <div class="form__field form--field-doc">
                                                <label class="form__file" for=""><span class="form__file-icon icon--doc-form"></span>Прикрепить чертёж или эскиз</label>
                                            </div>
                                            <div class="form__field">
                                                <label for="check1" class="pseudo-check">
                                                    <div class="pseudo-check__check"><span class="pseudo-check__check-icon icon--check"></span></div>
                                                    <div class="pseudo-check__text">Я принимаю условия <a href="" targen="_blank">пользовательского соглашения</a></div>
                                                    <input id="check1" name="" value="yes" type="checkbox" class="pseudo-check__real" />
                                                </label>
                                            </div>
                                            <div class="pos-center">
                                                <button type="submit" name="" class="btn btn--orange btn--fill request-btn">Получить лучшую цену</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="counter">
        <div class="page__content-inner">
            <div class="counter__wrap">
                <div class="counter__sticker col-lg-hidden">
                    <div class="counter__sticker-pos">
                        <div class="counter__sticker-inner">
                            <div class="counter__sticker-innermin">
                                <div class="counter__sticker-title">Мы экономим ваше время!</div>
                                <div class="counter__sticker-text">Помогаем легко найти исполнителя или заказчика!</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="counter__body">
                    <div class="row row--no-padd">
                        <div class="counter__col col-md col-sm-12">
                            <a href="" class="counter__item">
                                <div class="counter__num">225</div>
                                <div class="counter__title">Поставщиков <span>на сайте</span></div>
                            </a>
                        </div>
                        <div class="counter__col counter--col-big col-md col-sm-12">
                            <a href="" class="counter__item">
                                <div class="counter__num">406</div>
                                <div class="counter__title">Камнеобработчиков <span>на сайте</span></div>
                            </a>
                        </div>
                        <div class="counter__col col-md col-sm-12">
                            <a href="" class="counter__item">
                                <div class="counter__num">361</div>
                                <div class="counter__title">Размещённых <span>заказов</span></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page__section page--white">
    <div class="page__content-inner">
        <h2 class="heading">Почему заказывают у нас?</h2>
        <div class="row">
            <div class="col-xl-3 col-md-6 col-lg-bottom">
                <div class="why">
                    <div class="why__img"><img src="img/why_icon_1.png" alt="Быстро" /></div>
                    <div class="why_name">Быстро</div>
                    <div class="why__text">10 минут, среднее время расчета стоимости заказа</div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-lg-bottom">
                 <div class="why">
                    <div class="why__img"><img src="img/why_icon_2.png" alt="Удобно" /></div>
                    <div class="why_name">Удобно!</div>
                    <div class="why__text">Все цены и предложения на одной странице</div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-sm-bottom">
                 <div class="why">
                     <div class="why__img"><img src="img/why_icon_3.png" alt="Профессионально" /></div>
                    <div class="why_name">Только профессионалы!</div>
                    <div class="why__text">У нас работают профессиональные камнеобработчики и поставщики</div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                 <div class="why">
                     <div class="why__img"><img src="img/why_icon_4.png" alt="Без посредников" /></div>
                    <div class="why_name">Без посредников!</div>
                    <div class="why__text">Вы работаете напрямую с производителями изделий</div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page__section" id="instruction">
    <div class="page__content-inner">
        <h2 class="heading">Как мы работаем?</h2>
        <div class="row row--vert-center">
            <div class="col-lg-7 col-md-bottom">
                <div class="steps">
                    <div class="steps__item steps--left">
                        <div class="steps__name">Вы создаете заказ</div>
                        <div class="steps__num">1</div>
                        <div class="steps__arrow"><span class="icon--down-curved-arrow-r"></span></div>
                    </div>
                    <div class="steps__item steps--right">
                        <div class="steps__arrow"><span class="icon--down-curved-arrow-l"></span></div>
                        <div class="steps__num">2</div>
                        <div class="steps__name">Исполнители предлагают свои цены и условия</div>
                    </div>
                    <div class="steps__item steps--left">
                        <div class="steps__name">Вы обсуждаете детали заказа и выбираете исполнителя</div>
                        <div class="steps__num">3</div>
                        <div class="steps__arrow"><span class="icon--down-curved-arrow-r"></span></div>
                    </div>
                    <div class="steps__item steps--right">
                        <div class="steps__arrow"><span class="icon--down-curved-arrow-l"></span></div>
                        <div class="steps__num">4</div>
                        <div class="steps__name">Исполнитель приступает к работе</div>
                    </div>
                    <div class="steps__item steps--left">
                        <div class="steps__name">Вы принимаете и оплачиваете заказ</div>
                        <div class="steps__num">5</div>
                        <div class="steps__arrow"><span class="icon--down-curved-arrow-r"></span></div>
                    </div>
                    <div class="steps__item steps--right">
                        <div class="steps__arrow"><span class="icon--down-curved-arrow-l"></span></div>
                        <div class="steps__num">6</div>
                        <div class="steps__name">Исполнитель передает Вам готовое изделие</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="video">
                    <div class="video__inner">
                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/ziGWlFYu7EE" frameborder="0" allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row--vert-center col-top">
            <div class="col-md-6 pos-right pos-sm-center col-sm-bottom-min">
                <a href="" class="btn btn--orange col-sm-full"><span class="icon--calc"></span>Рассчитать стоимость</a>
            </div>
            <div class="col-md-6 pos-left pos-sm-center">
                <a href="" class="btn col-sm-full"><span class="icon--phone"></span>Заказать обратный звонок</a>
            </div>
        </div>
    </div>
</section>

<section class="page__section page--white">
    <div class="page__content-inner">
        <h2 class="heading">Заказы в работе</h2>
        <div class="row">
            <div class="col-md-8 col-sm-bottom">
                <div class="col-bottom-min">
                   <!-- @@include = partials/_order-grey.html -->
                </div>
                <div class="col-bottom-min">
                   <!-- @@include = partials/_order-grey.html -->
                </div>
                <div class="col-bottom-min">
                   <!-- @@include = partials/_order-grey.html -->
                </div>
                <div class="col-bottom-min">
                   <!-- @@include = partials/_order-grey.html -->
                </div>
            </div>
            <div class="col-md-4">
                <div class="block-info">
                    <div class="block-info__header">Частые вопросы</div>
                    <ul class="block-info__list">
                        <li class="block-info__list-item"><a href=""><span class="block-info__list-inner">Зачем нужен сервис биржи?</span></a></li>
                        <li class="block-info__list-item"><a href=""><span class="block-info__list-inner">Как оставить заказ?</span></a></li>
                        <li class="block-info__list-item"><a href=""><span class="block-info__list-inner">Кто отвечает на мой заказ?</span></a></li>
                        <li class="block-info__list-item"><a href=""><span class="block-info__list-inner">Как обезопасить себя от возможных рисков?</span></a></li>
                    </ul>
                    <div class="block-info__text col-top-min">
                        <p>Если вы заняты или в дороге, одним кликом вы можете заказать консультацию специалиста или оставить заказ по телефону.</p>
                    </div>
                    <div class="pos-center col-top-min">
                        <a href="" class="btn btn--min btn--fill">Заказать консультацию</a>
                    </div>
                    <div class="block-info__banners col-top">
                        <div class="row">
                            <div class="col-md-12 col-sm-6 col-12">
                                <a href="" class="block-info__banner"><img src="img/files/banner300x300.jpg" alt="" /></a>
                            </div>
                            <div class="col-md-12 col-sm-6 col-12 col-top-min col-sm-top-0 col-xsm-top-min">
                                <a href="" class="block-info__banner"><img src="img/files/banner.jpg" alt="" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row--vert-center col-top">
            <div class="col-md-6 pos-right pos-sm-center col-sm-bottom-min">
                <a href="" class="btn btn--orange col-sm-full"><span class="icon--calc"></span>Рассчитать стоимость</a>
            </div>
            <div class="col-md-6 pos-left pos-sm-center">
                <a href="" class="btn col-sm-full"><span class="icon--phone"></span>Заказать обратный звонок</a>
            </div>
        </div>
    </div>
</section>

<section class="page__section">
    <div class="page__content-inner">
        <h2 class="heading">Только профессионалы каменной отрасли</h2>
        <div class="slick-wrap">
            <div class="js-responsive-productcard">
                <div class="marg-r-micro marg-l-micro col-bottom">
                    <!-- @@include = partials/_product-card.html -->
                </div>

                <div class="marg-r-micro marg-l-micro col-bottom">
                    <!-- @@include = partials/_product-card.html -->
                </div>

                <div class="marg-r-micro marg-l-micro col-bottom">
                    <!-- @@include = partials/_product-card.html -->
                </div>

                <div class="marg-r-micro marg-l-micro col-bottom">
                    <!-- @@include = partials/_product-card.html -->
                </div>

                <div class="marg-r-micro marg-l-micro col-bottom">
                    <!-- @@include = partials/_product-card.html -->
                </div>

                <div class="marg-r-micro marg-l-micro col-bottom">
                    <!-- @@include = partials/_product-card.html -->
                </div>

                <div class="marg-r-micro marg-l-micro col-bottom">
                    <!-- @@include = partials/_product-card.html -->
                </div>

                <div class="marg-r-micro marg-l-micro col-bottom">
                    <!-- @@include = partials/_product-card.html -->
                </div>
            </div>
        </div>
        <div class="row row--vert-center col-top">
            <div class="col-md-6 pos-right pos-sm-center col-sm-bottom-min">
                <a href="" class="btn btn--orange col-sm-full"><span class="icon--truck"></span>Все поставщики</a>
            </div>
            <div class="col-md-6 pos-left pos-sm-center">
                <a href="" class="btn col-sm-full"><span class="icon--brickwall"></span>Все камнеобработчики</a>
            </div>
        </div>
    </div>
</section>

<section class="page__section page--white">
    <div class="page__content-inner">
        <div class="row">
            <div class="col-lg-6 col-separat-wrap col-md-bottom">
                <h2 class="heading">Изделия из камня</h2>
                <div class="col-lg-separat">
                    <div class="row">
                        <div class="col-xl-4 col-lg-6 col-sm-4 col-bottom-min">
                            <a href="" class="services">
                                <div class="services__icon"><span class="icon--countertop"></span></div>
                                <div class="services__text">Столешницы</div>
                            </a>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-sm-4 col-bottom-min">
                            <a href="" class="services">
                                <div class="services__icon"><span class="icon--floor"></span></div>
                                <div class="services__text">Полы</div>
                            </a>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-sm-4 col-bottom-min">
                            <a href="" class="services">
                                <div class="services__icon"><span class="icon--window"></span></div>
                                <div class="services__text">Подоконники</div>
                            </a>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-sm-4 col-xsm-bottom-min">
                            <a href="" class="services">
                                <div class="services__icon"><span class="icon--facade"></span></div>
                                <div class="services__text">Облицовка фасадов</div>
                            </a>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-sm-4 col-xsm-bottom-min">
                            <a href="" class="services">
                                <div class="services__icon"><span class="icon--fireplace"></span></div>
                                <div class="services__text">Камины</div>
                            </a>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-sm-4">
                            <a href="" class="services">
                                <div class="services__icon"><span class="icon--stairs"></span></div>
                                <div class="services__text">Лестницы и ступени</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-separat-wrap">
                <h2 class="heading">Услуги по камню</h2>
                <div class="col-lg-separat">
                    <div class="row">
                        <div class="col-xl-4 col-lg-6 col-sm-4 col-bottom-min">
                            <a href="" class="services">
                                <div class="services__icon"><span class="icon--repair-tools"></span></div>
                                <div class="services__text">Монтажные работы</div>
                            </a>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-sm-4 col-bottom-min">
                            <a href="" class="services">
                                <div class="services__icon"><span class="icon--stonehenge"></span></div>
                                <div class="services__text">Ландшафтный дизайн</div>
                            </a>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-sm-4 col-bottom-min">
                            <a href="" class="services">
                                <div class="services__icon"><span class="icon--floor-work"></span></div>
                                <div class="services__text">Укладка полов</div>
                            </a>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-sm-4 col-xsm-bottom-min">
                            <a href="" class="services">
                                <div class="services__icon"><span class="icon--hammer"></span></div>
                                <div class="services__text">Восстановительные работы</div>
                            </a>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-sm-4 col-xsm-bottom-min">
                            <a href="" class="services">
                                <div class="services__icon"><span class="icon--polish"></span></div>
                                <div class="services__text">Полировка</div>
                            </a>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-sm-4">
                            <a href="" class="services">
                                <div class="services__icon"><span class="icon--project"></span></div>
                                <div class="services__text">Разработка проекта</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row--vert-center col-top">
            <div class="col-md-6 pos-right pos-sm-center col-sm-bottom-min">
                <a href="" class="btn btn--orange col-sm-full"><span class="icon--calc"></span>Рассчитать стоимость</a>
            </div>
            <div class="col-md-6 pos-left pos-sm-center">
                <a href="" class="btn col-sm-full"><span class="icon--phone"></span>Заказать обратный звонок</a>
            </div>
        </div>
    </div>
</section>

<section class="page__section page--bg-stone">
    <div class="page__content-inner">
        <h2 class="heading heading--white">Каталог натурального и искусственного камня</h2>
        <div class="tabs js-tab">
            <ul class="tabs__list">
                <li class="tabs__btn js-tab-btn current" data-tab="1">Натуральный камень</li>
                <li class="tabs__btn js-tab-btn" data-tab="2">Искусственный камень</li>
            </ul>
            <div class="tabs__body">
                <div class="tabs__content js-tab-content current" data-tab="1">
                    <div class="row row--padd-min">
                        <div class="col-xl-2 col-md-3 col-sm-4 col-6 col-bottom-min">
                            <a href="" class="catalog-card">
                                <img src="img/files/stone-1.jpg" alt="Aragon" />
                                <div class="catalog-card__top">Aragon</div>
                            </a>
                        </div>
                        <div class="col-xl-2 col-md-3 col-sm-4 col-6 col-bottom-min">
                            <a href="" class="catalog-card">
                                <img src="img/files/stone-2.jpg" alt="Arctic" />
                                <div class="catalog-card__top">Arctic</div>
                            </a>
                        </div>
                        <div class="col-xl-2 col-md-3 col-sm-4 col-6 col-bottom-min">
                            <a href="" class="catalog-card">
                                <img src="img/files/stone-3.jpg" alt="Crema Marfil" />
                                <div class="catalog-card__top">Crema Marfil</div>
                            </a>
                        </div>
                        <div class="col-xl-2 col-md-3 col-sm-4 col-6 col-bottom-min">
                            <a href="" class="catalog-card">
                                <img src="img/files/stone-4.jpg" alt="Labradorite Multicolor" />
                                <div class="catalog-card__top">Labradorite Multicolor</div>
                            </a>
                        </div>
                        <div class="col-xl-2 col-md-3 col-sm-4 col-6 col-bottom-min">
                            <a href="" class="catalog-card">
                                <img src="img/files/stone-5.jpg" alt="Mistique Dark" />
                                <div class="catalog-card__top">Mistique Dark</div>
                            </a>
                        </div>
                        <div class="col-xl-2 col-md-3 col-sm-4 col-6 col-bottom-min">
                            <a href="" class="catalog-card">
                                <img src="img/files/stone-6.jpg" alt="Moon White" />
                                <div class="catalog-card__top">Moon White</div>
                            </a>
                        </div>
                        <div class="col-xl-2 col-md-3 col-sm-4 col-6 col-lg-bottom-min">
                            <a href="" class="catalog-card">
                                <img src="img/files/stone-5.jpg" alt="Aragon" />
                                <div class="catalog-card__top">Aragon</div>
                            </a>
                        </div>
                        <div class="col-xl-2 col-md-3 col-sm-4 col-6 col-lg-bottom-min">
                            <a href="" class="catalog-card">
                                <img src="img/files/stone-4.jpg" alt="Arctic" />
                                <div class="catalog-card__top">Arctic</div>
                            </a>
                        </div>
                        <div class="col-xl-2 col-md-3 col-sm-4 col-6 col-sm-bottom-min">
                            <a href="" class="catalog-card">
                                <img src="img/files/stone-1.jpg" alt="Crema Marfil" />
                                <div class="catalog-card__top">Crema Marfil</div>
                            </a>
                        </div>
                        <div class="col-xl-2 col-md-3 col-sm-4 col-6 col-xsm-bottom-min">
                            <a href="" class="catalog-card">
                                <img src="img/files/stone-3.jpg" alt="Labradorite Multicolor" />
                                <div class="catalog-card__top">Labradorite Multicolor</div>
                            </a>
                        </div>
                        <div class="col-xl-2 col-md-3 col-sm-4 col-6">
                            <a href="" class="catalog-card">
                                <img src="img/files/stone-6.jpg" alt="Mistique Dark" />
                                <div class="catalog-card__top">Mistique Dark</div>
                            </a>
                        </div>
                        <div class="col-xl-2 col-md-3 col-sm-4 col-6">
                            <a href="" class="catalog-card">
                                <img src="img/files/stone-2.jpg" alt="Moon White" />
                                <div class="catalog-card__top">Moon White</div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="tabs__content js-tab-content" data-tab="2">
                    <div class="row row--padd-min">
                        <div class="col-xl-2 col-md-3 col-sm-4 col-6 col-bottom-min">
                            <a href="" class="catalog-card">
                                <img src="img/files/stone-6.jpg" alt="Aragon" />
                                <div class="catalog-card__top">Aragon</div>
                            </a>
                        </div>
                        <div class="col-xl-2 col-md-3 col-sm-4 col-6 col-bottom-min">
                            <a href="" class="catalog-card">
                                <img src="img/files/stone-4.jpg" alt="Arctic" />
                                <div class="catalog-card__top">Arctic</div>
                            </a>
                        </div>
                        <div class="col-xl-2 col-md-3 col-sm-4 col-6 col-bottom-min">
                            <a href="" class="catalog-card">
                                <img src="img/files/stone-5.jpg" alt="Crema Marfil" />
                                <div class="catalog-card__top">Crema Marfil</div>
                            </a>
                        </div>
                        <div class="col-xl-2 col-md-3 col-sm-4 col-6 col-bottom-min">
                            <a href="" class="catalog-card">
                                <img src="img/files/stone-4.jpg" alt="Labradorite Multicolor" />
                                <div class="catalog-card__top">Labradorite Multicolor</div>
                            </a>
                        </div>
                        <div class="col-xl-2 col-md-3 col-sm-4 col-6 col-bottom-min">
                            <a href="" class="catalog-card">
                                <img src="img/files/stone-1.jpg" alt="Mistique Dark" />
                                <div class="catalog-card__top">Mistique Dark</div>
                            </a>
                        </div>
                        <div class="col-xl-2 col-md-3 col-sm-4 col-6 col-bottom-min">
                            <a href="" class="catalog-card">
                                <img src="img/files/stone-2.jpg" alt="Moon White" />
                                <div class="catalog-card__top">Moon White</div>
                            </a>
                        </div>
                        <div class="col-xl-2 col-md-3 col-sm-4 col-6 col-lg-bottom-min">
                            <a href="" class="catalog-card">
                                <img src="img/files/stone-2.jpg" alt="Aragon" />
                                <div class="catalog-card__top">Aragon</div>
                            </a>
                        </div>
                        <div class="col-xl-2 col-md-3 col-sm-4 col-6 col-lg-bottom-min">
                            <a href="" class="catalog-card">
                                <img src="img/files/stone-6.jpg" alt="Arctic" />
                                <div class="catalog-card__top">Arctic</div>
                            </a>
                        </div>
                        <div class="col-xl-2 col-md-3 col-sm-4 col-6 col-sm-bottom-min">
                            <a href="" class="catalog-card">
                                <img src="img/files/stone-5.jpg" alt="Crema Marfil" />
                                <div class="catalog-card__top">Crema Marfil</div>
                            </a>
                        </div>
                        <div class="col-xl-2 col-md-3 col-sm-4 col-6 col-xsm-bottom-min">
                            <a href="" class="catalog-card">
                                <img src="img/files/stone-3.jpg" alt="Labradorite Multicolor" />
                                <div class="catalog-card__top">Labradorite Multicolor</div>
                            </a>
                        </div>
                        <div class="col-xl-2 col-md-3 col-sm-4 col-6">
                            <a href="" class="catalog-card">
                                <img src="img/files/stone-1.jpg" alt="Mistique Dark" />
                                <div class="catalog-card__top">Mistique Dark</div>
                            </a>
                        </div>
                        <div class="col-xl-2 col-md-3 col-sm-4 col-6">
                            <a href="" class="catalog-card">
                                <img src="img/files/stone-5.jpg" alt="Moon White" />
                                <div class="catalog-card__top">Moon White</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pos-center col-top">
            <a href="" class="btn btn--min btn--orange col-xsm-full">Посмотреть весь каталог</a>
        </div>
    </div>
</section>

<section class="page__section page--white">
    <div class="page__content-inner">
        <div class="row">
            <div class="col-lg-6 col-md-bottom col-separat-wrap">
                <h2 class="heading">Новости и события</h2>
                <div class="col-lg-separat">
                    <div class="col-bottom-min">
                        <!-- @@include = partials/_news-card-grey.html -->
                    </div>
                    <!-- @@include = partials/_news-card-grey.html -->
                </div>
                <div class="pos-center col-top col-md-visiable">
                    <a href="" class="btn btn--min btn--empty col-xsm-full">Все новости и события на рынке</a>
                </div>
            </div>
            <div class="col-lg-6 col-separat-wrap">
                <h2 class="heading">Статьи о камне</h2>
                <div class="col-lg-separat">
                    <div class="col-bottom-min">
                        <!-- @@include = partials/_articles-card.html -->
                    </div>
                    <!-- @@include = partials/_articles-card.html -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-bottom col-md-hidden">
                <div class="pos-center col-top">
                    <a href="" class="btn btn--min btn--empty col-xsm-full">Все новости и события на рынке</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="pos-center col-top">
                    <a href="" class="btn btn--min btn--orange btn--empty col-xsm-full">Все статьи</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- @@close-->