<!-- @@master  = partials/_master.html-->
 
<!-- @@block  =  content-->
<section class="page__section">
    <div class="page__content-inner">
        <ul class="breadcrumbs">
            <li class="breadcrumbs__item"><a href="" class="breadcrumbs__link"><span class="icon--home"></span></a></li>
            <li class="breadcrumbs__item"><div class="breadcrumbs__link">Авторизация</div></li>
        </ul>
        <div class="page__header">
            <h1 class="page__header-title">Авторизация</h1>
        </div>
        <div class="page__body">
            <div class="box js-expand-wrap">
                <form action="" method="post" class="form" enctype="multipart/form-data">
                    <div class="page--content-inner-min">
                        <div class="page__info-header col-bottom-min">Войдите с помощью логина и пароля</div>
                        <div class="form__field">
                            <div class="form__title">E-mail</div>
                            <input placeholder="Ваш e-mail" name="" value="" type="email" class="form__input" />
                        </div>
                        <div class="form__field">
                            <div class="form__title">Пароль</div>
                            <input placeholder="Ваш пароль" name="" value="" type="password" class="form__input" />
                        </div>
                        <div class="box box--light-orange box--err page__info col-bottom-micro">Ошибка!</div>
                        <div class="clearfix">
                            <label for="check1" class="pseudo-check left col-top-micro col-bottom-micro col-xsm-top-0">
                                <div class="pseudo-check__check"><span class="pseudo-check__check-icon icon--check"></span></div>
                                <div class="pseudo-check__text">Запомнить меня</div>
                                <input id="check1" name="" value="yes" type="checkbox" class="pseudo-check__real">
                            </label>
                            <button class="btn btn--min right col-xsm-full" type="submit" name="" value="0">Войти</button>
                            <div class="right col-xsm-full col-xsm-top-micro"><a href="" class="btn btn--min btn--empty marg-r-min js-expand-btn col-xsm-full">Забыли пароль?</a></div>
                        </div>
                    </div>
                </form>
                <div class="col-top js-expand-body none">
                    <form action="" method="post" class="form" enctype="multipart/form-data">
                        <div class="page--content-inner-min">
                            <div class="page__info-header col-bottom-min">Напомнить пароль</div>
                            <div class="page__info col-bottom-min">Забыли свой пароль? Введите E-mail или номер телефона, указанные при регистрации или создании заказа, и мы сразу же вышлем вам данные для восстановления пароля.</div>
                            <div class="box box--light-orange box--err page__info col-bottom-micro">Ошибка!</div>
                            <div class="row row--padd-min">
                                <div class="col-sm-9">
                                    <div class="form__field">
                                        <input placeholder="Ваш e-mail" name="" value="" type="email" class="form__input" />
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <button class="btn btn--min btn--fill" type="submit" name="state" value="0">Выслать</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-top">
                    <div class="page--content-inner-min">
                        <div class="separate-line separate-line--minless"></div>
                        <div class="page__info-header col-bottom-min">Войти через аккаунт Google</div>
                        <div class="socials socials--green socials--big">
                            <a href="" class="socials__btn socials--ggl icon--gplus"></a>
                        </div>
                        <div class="separate-line separate-line--minless"></div>
                        <div class="pos-right">
                            <a href="/registration.html"><span class="icon--user-plus marg-r-micro"></span>Зарегистрироваться</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- @@close-->