<!-- @@master  = partials/_master.html-->
 
<!-- @@block  =  content-->
<section class="page__section">
    <div class="page__content-inner">
        <ul class="breadcrumbs">
            <li class="breadcrumbs__item"><a href="" class="breadcrumbs__link"><span class="icon--home"></span></a></li>
            <li class="breadcrumbs__item"><a href="/materials.html" class="breadcrumbs__link">Каталог камней</a></li>
            <li class="breadcrumbs__item"><a href="/materials_lev2.html" class="breadcrumbs__link">Натуральный камень</a></li>
            <li class="breadcrumbs__item"><a href="/materials_lev3.html" class="breadcrumbs__link">Лабрадорит</a></li>
            <li class="breadcrumbs__item"><div class="breadcrumbs__link">Акриловый камень Abalone</div></li>
        </ul>
        <div class="page__header">
            <h1 class="page__header-title">Акриловый камень Abalone</h1>
        </div>
        <div class="page__body">
            <div class="row">
                <div class="col-xl-3 col-md-4 col-sm-bottom-min">
                    <!-- @@include = partials/_categories.html -->
                </div>
                <div class="col-xl-9 col-md-8">
                    <div class="catalog-detail">
                        <div class="col-bottom-min">
                            <a href="/materials_lev3.html" class="btn btn--min btn--white btn--empty btn--fill btn--text-left"><span class="icon--left-open-mini"></span>Вернуться в каталог</a>
                        </div>

                        <div class="box col-bottom-min catalog-detail__wrap">
                            <div class="row">
                                <div class="col-xl-4 col-xsm-bottom-micro">
                                    <div class="catalog-detail__gal">
                                        <div class="row">
                                            <div class="col-xl-12 col-sm-4 col-bottom-micro col-lg-bottom-min col-xsm-bottom-micro">
                                                <a href="" class="catalog-detail__gal-img">
                                                    <img src="img/files/stone-5.jpg" alt="" />
                                                    <div class="catalog-detail__gal-search"><span class="catalog-detail__gal-icon icon--search"></span></div>
                                                </a>
                                            </div>
                                            <div class="col-xl-12 col-sm-8">
                                                <div class="catalog-detail__gal-thumbs">
                                                    <div class="row row--padd-min">
                                                        <div class="col-xl-4 col-lg-2 col-3 col-bottom-micro">
                                                            <a href="" class="catalog-detail__gal-thumb">
                                                                <img src="img/files/stone-5.jpg" alt="" />
                                                                <div class="catalog-detail__gal-search"><span class="catalog-detail__gal-icon icon--search"></span></div>
                                                            </a>
                                                        </div>
                                                        <div class="col-xl-4 col-lg-2 col-3 col-bottom-micro">
                                                            <a href="" class="catalog-detail__gal-thumb">
                                                                <img src="img/files/stone-5.jpg" alt="" />
                                                                <div class="catalog-detail__gal-search"><span class="catalog-detail__gal-icon icon--search"></span></div>
                                                            </a>
                                                        </div>
                                                        <div class="col-xl-4 col-lg-2 col-3 col-bottom-micro">
                                                            <a href="" class="catalog-detail__gal-thumb">
                                                                <img src="img/files/stone-5.jpg" alt="" />
                                                                <div class="catalog-detail__gal-search"><span class="catalog-detail__gal-icon icon--search"></span></div>
                                                            </a>
                                                        </div>
                                                        <div class="col-xl-4 col-lg-2 col-3 col-bottom-micro">
                                                            <a href="" class="catalog-detail__gal-thumb">
                                                                <img src="img/files/stone-5.jpg" alt="" />
                                                                <div class="catalog-detail__gal-search"><span class="catalog-detail__gal-icon icon--search"></span></div>
                                                            </a>
                                                        </div>
                                                        <div class="col-xl-4 col-lg-2 col-3 col-bottom-micro">
                                                            <a href="" class="catalog-detail__gal-thumb">
                                                                <img src="img/files/stone-5.jpg" alt="" />
                                                                <div class="catalog-detail__gal-search"><span class="catalog-detail__gal-icon icon--search"></span></div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-8">
                                    <div class="catalog-detail__body">
                                        <h2 class="catalog-detail__title col-bottom-min">Акриловый камень Abalone</h2>

                                        <div class="tabs-page js-tab">
                                            <div class="tabs-page__btns">
                                                <div class="tabs-page__btn-wrap tabs-page--btn-first current js-tab-btn" data-tab="1"><div class="tabs-page__btn">Характеристики</div></div>
                                                <div class="tabs-page__btn-wrap js-tab-btn" data-tab="2"><div class="tabs-page__btn">Описание камня</div></div>
                                            </div>
                                            <div class="tabs-page__body tabs-page--body-no-border">
                                                <div class="tabs-page__content js-tab-content current" data-tab="1">
                                                    <!--<div class="catalog-detail__title-min col-bottom-micro">Характеристики</div>-->
                                                    <div class="catalog-detail__character col-bottom-min">

                                                        <!--
                                                        Для натурального камня: Страна происхождения и цвет.
                                                        Ссылки ведут на фильтрацию по каталогу.

                                                        <div class="catalog-detail__character-block">
                                                            <div class="row">
                                                                <div class="col-sm-5"><div class="catalog-detail__character-title">Страна происхождения:</div></div>
                                                                <div class="col-sm-7"><a href="" class="catalog-detail__character-text">Корея</a></div>
                                                            </div>
                                                        </div>
                                                        -->

                                                        <div class="catalog-detail__character-block">
                                                            <div class="row">
                                                                <div class="col-sm-6"><div class="catalog-detail__character-title">Страна производства:</div></div><!-- Если натуральный камень: страна происхождения-->
                                                                <div class="col-sm-6"><a href="" class="catalog-detail__character-text">Корея</a></div>
                                                            </div>
                                                        </div>
                                                        <div class="catalog-detail__character-block">
                                                            <div class="row">
                                                                <div class="col-sm-6"><div class="catalog-detail__character-title">Производитель:</div></div><!-- Только для искусственного камня -->
                                                                <div class="col-sm-6"><a href="" class="catalog-detail__character-text">Samsung</a></div>
                                                            </div>
                                                        </div>
                                                        <div class="catalog-detail__character-block">
                                                            <div class="row">
                                                                <div class="col-sm-6"><div class="catalog-detail__character-title">Линейка:</div></div><!-- Только для искусственного камня -->
                                                                <div class="col-sm-6"><a href="" class="catalog-detail__character-text">Supreme</a></div>
                                                            </div>
                                                        </div>
                                                        <div class="catalog-detail__character-block">
                                                            <div class="row">
                                                                <div class="col-sm-6"><div class="catalog-detail__character-title">Цвет:</div></div>
                                                                <div class="col-sm-6"><a href="" class="catalog-detail__character-text">коричневый</a></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tabs-page__content js-tab-content" data-tab="2">
                                                    <!--<div class="catalog-detail__title-min col-bottom-micro">Описание<span class="catalog-detail__title-icon icon--text"></span></div>-->
                                                    <div class="catalog-detail__description">
                                                        <p>В качестве элемента декоративной отделки очень часто используется гранит Vyra Juparana. Это материал природного происхождения с многотысячелетней историей, имеющий мелкозернистую структуру.</p>
                                                        <p>Текстура камня построена на желто-горчичной фоновой базе с ярко выраженным рисунком, содержащим пятнисто-полосчатые фрагменты. Также в нем просматриваются еле заметные каменные вены серого и голубого оттенков. Общая картина отражает некую динамику при движении земной коры в процессе тектонических сдвигов.&nbsp;&nbsp;</p>
                                                        <p><strong>Сфера применения</strong></p>
                                                        <p>Гранит Джупарана Вира применяется во многих сферах, начиная от производства оригинальных столешниц, заканчивая отделкой пола и стен. Он идеально гармонирует с натуральной природной зеленью, дополняя дизайн до совершенства.</p>
                                                        <p>Используется для отделки поверхностей как внутри, так и снаружи помещений, обеспечивая привлекательный внешний вид. Характеристики материала зависят от способов обработки.</p>
                                                        <p><strong>Характеристики камня</strong></p>
                                                        <table border="1" cellpadding="1" cellspacing="1">
                                                            <tbody>
                                                                <tr>
                                                                    <th>Толщина материала</th>
                                                                    <th>Доступное количество типоразмеров</th>
                                                                    <th>Происхождение</th>
                                                                </tr>
                                                                <tr>
                                                                    <td>30 мм, длина и ширина может быть любой в зависимости от требований, партии, условий вырубки</td>
                                                                    <td>не менее 11 вариантов от 5,4 до 6,054 кв. м.</td>
                                                                    <td>природное</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="catalog-detail__price">
                                            Цена от:<span class="catalog-detail__price-num">90 000<span class="catalog-detail__price-icon icon--rouble"></span></span>
                                        </div>

                                        <!--<div class="row row--padd-min row--vert-center col-top-min">
                                            <div class="col-lg-6 col-md-bottom-micro">
                                                <a href="" class="btn btn--min btn--orange btn--fill"><span class="icon--calc"></span>Рассчитать стоимость</a>
                                            </div>
                                            <div class="col-lg-6">
                                                <a href="" class="btn btn--min btn--fill"><span class="icon--phone"></span>Заказать обратный звонок</a>
                                            </div>
                                        </div>-->
                                    </div>
                                </div>
                            </div>
                            <!--<div class="catalog-detail__info catalog-detail--info-bottom">
                                <div class="catalog-detail__info-item pos-right"><span class="catalog-detail__info-icon icon--location"></span>Ростов-на-Дону</div>
                            </div>-->
                        </div>
                    </div>

                    <div class="heading heading--middle col-top">Цены от производителей</div>

                    <div class="box col-bottom-min">
                        <h2 class="page__info-header col-bottom-min">Купить акриловый камень Abalone</h2>
                        <div class="tabs-page js-tab">
                            <div class="tabs-page__btns">
                                <div class="tabs-page__btn-wrap tabs-page--btn-first current js-tab-btn" data-tab="1"><div class="tabs-page__btn">Слэб<br />20 мм<br /></div></div>
                                <div class="tabs-page__btn-wrap js-tab-btn" data-tab="2"><div class="tabs-page__btn">Слэб<br />30 мм<br /></div></div>
                            </div>
                            <div class="tabs-page__body tabs-page--body-no-border">
                                <div class="tabs-page__content js-tab-content current" data-tab="1">
                                    <!-- @@include = partials/_catalog-buy.html -->
                                    <!-- @@include = partials/_catalog-buy.html -->
                                    <!-- @@include = partials/_catalog-buy.html -->
                                </div>
                                <div class="tabs-page__content js-tab-content" data-tab="2">
                                    <!-- @@include = partials/_catalog-buy.html -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box box--light-green box--ok page__info col-bottom-micro"><div class="pos-center">Комментарий</div></div>

                    <div class="row row--padd-min row--vert-center col-bottom-min">
                        <div class="col-lg-6 col-md-bottom-micro pos-right">
                            <a href="" class="btn btn--min btn--orange col-lg-full"><span class="icon--calc"></span>Уточнить наличие и цену</a>
                        </div>
                        <div class="col-lg-6">
                            <a href="" class="btn btn--min col-lg-full"><span class="icon--phone"></span>Заказать обратный звонок</a>
                        </div>
                    </div>

                    <div class="box page__info">
                        <h2 class="page__info-header col-bottom-min">Aquamarine искусственный камень</h2>
                        <p>Кварцевый агломерат Abalone экологически чистый, прочный материал. По своим потребительским характеристиками искусственный камень Abalone близок к граниту и кварцу, а поверхность камня повторяет узоры из жил мрамора. Устойчивый к истиранию кварцевый агломерат Abalone можно использовать в зонах повышенной эксплуатации – при изготовлении барных стоек, столешниц, ступеней, декоративных архитектурных элементов и при наружной отделке. Искусственный камень Abalone блестяще сочетает в себе долговечность гранита и утонченную красоту натурального мрамора.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- @@close-->