<!-- @@master  = partials/_master.html-->
 
<!-- @@block  =  content-->
<section class="page__section">
    <div class="page__content-inner">
        <ul class="breadcrumbs">
            <li class="breadcrumbs__item"><a href="" class="breadcrumbs__link"><span class="icon--home"></span></a></li>
            <li class="breadcrumbs__item"><a href="/materials.html" class="breadcrumbs__link">Каталог камней</a></li>
            <li class="breadcrumbs__item"><a href="/materials_lev2.html" class="breadcrumbs__link">Натуральный камень</a></li>
            <li class="breadcrumbs__item"><a href="/materials_lev3.html" class="breadcrumbs__link">Лабрадорит</a></li>
            <li class="breadcrumbs__item"><div class="breadcrumbs__link">Акриловый камень Abalone</div></li>
        </ul>
        <div class="page__header">
            <h1 class="page__header-title">Акриловый камень Abalone</h1>
        </div>
        <div class="page__body">
            <div class="row">
                <div class="col-xl-3 col-md-4 col-sm-bottom-min">
                    <!-- @@include = partials/_categories.html -->
                </div>
                <div class="col-xl-9 col-md-8">
                    <div class="catalog-detail">
                        <div class="col-bottom-min">
                            <a href="/materials_lev3.html" class="btn btn--min btn--white btn--empty btn--fill btn--text-left"><span class="icon--left-open-mini"></span>Вернуться в каталог</a>
                        </div>

                        <div class="box col-bottom-min catalog-detail__wrap">
                            <div class="catalog-detail__info">
                                <a href="" class="catalog-detail__info-item"><span class="catalog-detail__info-icon icon--company"></span>Торгово-производственная компания "Глобакс"</a>
                            </div>
                            <div class="row">
                                <div class="col-xl-4 col-xsm-bottom-micro">
                                    <div class="catalog-detail__gal">
                                        <div class="row">
                                            <div class="col-xl-12 col-sm-4 col-bottom-micro col-lg-bottom-min col-xsm-bottom-micro">
                                                <a href="" class="catalog-detail__gal-img">
                                                    <img src="img/files/image_0_02_05_4bc37ddabadb39cd8f90fc6c1b50a5403c844a15a8f7ce1c0a91003569ed8118_V.jpg.250x250_q85_crop.jpg" alt="" />
                                                    <div class="catalog-detail__gal-search"><span class="catalog-detail__gal-icon icon--search"></span></div>
                                                </a>
                                            </div>
                                            <div class="col-xl-12 col-sm-8">
                                                <div class="catalog-detail__gal-thumbs">
                                                    <div class="row row--padd-min">
                                                        <div class="col-xl-4 col-lg-2 col-3 col-bottom-micro">
                                                            <a href="" class="catalog-detail__gal-thumb">
                                                                <img src="img/files/image_0_02_05_4bc37ddabadb39cd8f90fc6c1b50a5403c844a15a8f7ce1c0a91003569ed8118_V.jpg.250x250_q85_crop.jpg" alt="" />
                                                                <div class="catalog-detail__gal-search"><span class="catalog-detail__gal-icon icon--search"></span></div>
                                                            </a>
                                                        </div>
                                                        <div class="col-xl-4 col-lg-2 col-3 col-bottom-micro">
                                                            <a href="" class="catalog-detail__gal-thumb">
                                                                <img src="img/files/image_0_02_05_4bc37ddabadb39cd8f90fc6c1b50a5403c844a15a8f7ce1c0a91003569ed8118_V.jpg.250x250_q85_crop.jpg" alt="" />
                                                                <div class="catalog-detail__gal-search"><span class="catalog-detail__gal-icon icon--search"></span></div>
                                                            </a>
                                                        </div>
                                                        <div class="col-xl-4 col-lg-2 col-3 col-bottom-micro">
                                                            <a href="" class="catalog-detail__gal-thumb">
                                                                <img src="img/files/image_0_02_05_4bc37ddabadb39cd8f90fc6c1b50a5403c844a15a8f7ce1c0a91003569ed8118_V.jpg.250x250_q85_crop.jpg" alt="" />
                                                                <div class="catalog-detail__gal-search"><span class="catalog-detail__gal-icon icon--search"></span></div>
                                                            </a>
                                                        </div>
                                                        <div class="col-xl-4 col-lg-2 col-3 col-bottom-micro">
                                                            <a href="" class="catalog-detail__gal-thumb">
                                                                <img src="img/files/image_0_02_05_4bc37ddabadb39cd8f90fc6c1b50a5403c844a15a8f7ce1c0a91003569ed8118_V.jpg.250x250_q85_crop.jpg" alt="" />
                                                                <div class="catalog-detail__gal-search"><span class="catalog-detail__gal-icon icon--search"></span></div>
                                                            </a>
                                                        </div>
                                                        <div class="col-xl-4 col-lg-2 col-3 col-bottom-micro">
                                                            <a href="" class="catalog-detail__gal-thumb">
                                                                <img src="img/files/image_0_02_05_4bc37ddabadb39cd8f90fc6c1b50a5403c844a15a8f7ce1c0a91003569ed8118_V.jpg.250x250_q85_crop.jpg" alt="" />
                                                                <div class="catalog-detail__gal-search"><span class="catalog-detail__gal-icon icon--search"></span></div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-8">
                                    <div class="catalog-detail__body">
                                        <h2 class="catalog-detail__title col-bottom-min">Монтаж столешницы</h2>

                                        <div class="catalog-detail__title-min col-bottom-micro">Описание<span class="catalog-detail__title-icon icon--text"></span></div>
                                        <div class="catalog-detail__description">Кварцевый агломерат Abalone экологически чистый, прочный материал. По своим потребительским характеристиками искусственный камень Abalone близок к граниту и кварцу, а поверхность камня повторяет узоры из жил мрамора. Устойчивый к истиранию кварцевый агломерат Abalone можно использовать в зонах повышенной эксплуатации – при изготовлении барных стоек, столешниц, ступеней, декоративных архитектурных элементов и при наружной отделке. Искусственный камень Abalone блестяще сочетает в себе долговечность гранита и утонченную красоту натурального мрамора.</div>

                                        <div class="catalog-detail__price"><!-- Только для каталога Услуг -->
                                            Цена от:<span class="catalog-detail__price-num">90 000<span class="catalog-detail__price-icon icon--rouble"></span></span>
                                        </div>
                                        <div class="row row--padd-min row--vert-center col-top-min">
                                            <div class="col-lg-6 col-md-bottom-micro">
                                                <a href="" class="btn btn--min btn--orange btn--fill"><span class="icon--calc"></span>Рассчитать стоимость</a>
                                            </div>
                                            <div class="col-lg-6">
                                                <a href="" class="btn btn--min btn--fill"><span class="icon--phone"></span>Заказать обратный звонок</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="catalog-detail__info catalog-detail--info-bottom">
                                <div class="catalog-detail__info-item pos-right"><span class="catalog-detail__info-icon icon--location"></span>Ростов-на-Дону</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- @@close-->