<!-- @@master  = partials/_master.html-->
 
<!-- @@block  =  content-->
<section class="page__section">
    <div class="page__content-inner">
        <ul class="breadcrumbs">
            <li class="breadcrumbs__item"><a href="" class="breadcrumbs__link"><span class="icon--home"></span></a></li>
            <li class="breadcrumbs__item"><a href="" class="breadcrumbs__link">Новости</a></li>
            <li class="breadcrumbs__item"><div class="breadcrumbs__link">Отделка полов камнем</div></li>
        </ul>
        <div class="page__header">
            <h1 class="page__header-title">Отделка полов камнем</h1>
        </div>
        <div class="page__body">
            <div class="news-card news-card--detail">
                <div class="news-card__flag">Акция до 30.01.2018</div>
                <div class="news-card__wrap">
                    <div class="row row--sm-vert-center">
                        <div class="col-lg-3 col-md-3 col-sm-4 col-sm-bottom-min">
                            <div class="news-card__img"><img src="img/files/default.png.250x250_q85_crop.jpg" alt="Столешница из искусственного камня Samsung Staron Sanded SS418"></div>
                        </div>
                        <div class="col-sm-8 col-sm-visiable"><div class="news-card__title">Отделка полов камнем</div></div>
                        <div class="col-lg-9 col-md-9">
                            <div class="news-card__body">
                                <div class="news-card__title col-sm-hidden">Отделка полов камнем</div>
                                <div class="page__text">
                                    <p>Отделка полов камнем – наиболее практичное решение при составлении уникального интерьера. Подобная стилистическая деталь способна придать атмосфере любого помещения неповторимость и загадочность. Выглядит такой пол неимоверно стильно, к тому же, при надлежащем уходе, отличаются высокой износостойкостью и долговечностью.</p>
                                    <p>Но у монтажа каменного пола есть один очень существенный нюанс. Самостоятельное проведение отделочных работ не рекомендуется, так как работа с натуральным камнем может сопровождаться определенными трудностями. В связи с этим стоит нанять профессиональных специалистов. Также, помимо опыта, для данной деятельности необходим и незаурядный художественный вкус. В таком случае, каменный пол станет достойным украшением всего интерьера.&nbsp;</p>
                                    <p><img src="img/files/naturalnyiy_kamen_dlya_otdelki_pola_v_vannoy.jpg" alt="" />Естественный камень – наиболее прочный и надежный материал для укладки пола из ныне существующих.&nbsp;</p>
                                    <p>При соблюдении правил эксплуатации каменного пола, долговечность данного покрытия может составлять достаточно долгий период. Качества породы позволяют отделывать естественным материалом полы и частного жилья, и общественных заведений. Есть возможность как полной облицовки всей площади пола, так и частичного его декорирования.&nbsp;</p>
                                    <p>Немаловажным фактором в процессе отделки полов камнем является возможность создания не только монохромных композиций, но и разнообразных мозаик, рисунков и орнаментов. На данный момент на рынке строительных материалов есть плитка разнообразнейших оттенков и фактур, что дает возможность воплощать абсолютно неповторимые дизайнерские идеи, ничем не ограничивая собственное воображение.&nbsp;</p>
                                    <h2>Варианты предоставляемого покрытия&nbsp;</h2>
                                    <p>Множество предприятий, занимающихся производством строительных материалов для облицовки полов камнем, выпускают на рынок плитку различных параметров. В основном, она имеет стандартные размеры: 30х30, 40х40 и 60х30 сантиметров. Толщина плитки чаще всего составляет от одного до двух сантиметров.&nbsp;</p>
                                    <p>Помимо размеров, немаловажной является и фактура покрытия. Чаще всего, вся каменная плитка распределяется по следующей классификации:</p>
                                    <ul>
                                        <li>гладкая плитка с матовой поверхностью – характеризуется отсутствием блеска и достаточно заметным узором естественных прожилок материала;</li>
                                        <li>плитка с полированной поверхностью – имеет заметный блеск и достаточно четко отражает все свое окружение. Такое покрытие благодаря своим качествам очень популярно в отделке гостиниц. Но есть и недостаток данного материала – под воздействие влаги полированная плитка перестает быть надежной опорой, поэтому для лестниц и определенных помещений она не подойдет;</li>
                                        <li>сколотая плитка – имитирует естественную поверхность необработанного камня и обладает различными неровностями, имеющими достаточно большую высоту;</li>
                                        <li>тотечная плитка – имеет шероховатости, и неровности рельефа до полусантиметра;</li>
                                        <li>отшлифованная плитка – наиболее безопасный вариант для укладки на ступенях и в комнатах с высоким риском пролития воды. Абсолютно не скользит, имеет шероховатую поверхность и сглаженный природный орнамент;</li>
                                        <li>пиленая плитка – обладает очень ярким рисунком и неровностями высотой до двух миллиметров;</li>
                                        <li>термически обработанная плитка – приятно шелушащаяся и шероховатая.</li>
                                    </ul>
                                    <h2>Используемые породы</h2>
                                    <p><img src="img/files/45_1.jpg" alt="" />Для облицовки полов камнем подходят только стойкие к вытиранию породы. Это основано на том, что на покрытие пола постоянно действует достаточно высокая механическая нагрузка и периодическое попадание на поверхность разнообразных абразивов (камешков, песка или же грязи). Для облицовки пола чаще всего используют:</p>
                                    <ul>
                                        <li><em><strong>мрамор</strong></em> – наиболее дорогой и красивый материал, который применяют для отделки помещений уже очень давно. Даная порода имеет очень большое разнообразие оттенков и характеризуется наличием уникального естественного рисунка, максимально проявляющегося в процессе полировки. Но существует один очень важный нюанс – мрамор крайне подвержен негативному воздействию грязи и повышенной влажности;</li>
                                        <li><em><strong>гранит</strong></em> – материал, обладающий наибольшей прочностью и способный сохранять неизменный внешний вид очень долгий промежуток времени. Не боится ни грязи, ни влажности, ни физического воздействия. При этом гранит также обладает серьезным цветовым разнообразием и высокими эстетическими характеристиками. Стоимость данной породы гораздо ниже, чем у мрамора, что является еще одним преимуществом камня.&nbsp;</li>
                                    </ul>
                                    <p>Для того, чтобы окончательно сформировать решение о выборе оптимального покрытия, лучше всего зайти на сайт AMIGO STONE. На Едином портале каменной промышленности можно приобрести абсолютно любой товар из природного, а также искусственного камня. При этом стоимость изделий будет наиболее выгодная, а времени и усилий на покупку уйдет совсем немного.&nbsp;</p>
                                </div>
                                <div class="news-card__price">Цена от:<span class="news-card__price-num">90 000<span class="news-card__price-icon icon--rouble"></span></span></div>
                                    <div class="row row--padd-min row--vert-center col-top-min">
                                        <div class="col-lg-6 col-md-bottom-micro">
                                            <a href="" class="btn btn--min btn--orange btn--fill"><span class="icon--calc"></span>Рассчитать стоимость</a>
                                        </div>
                                        <div class="col-lg-6">
                                            <a href="" class="btn btn--min btn--fill"><span class="icon--phone"></span>Заказать обратный звонок</a>
                                        </div>
                                    </div>
                                <a href="" class="news-card__company">ООО "Компания АЛМИР"</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="news-card__info">
                    <div class="row">
                        <div class="col">
                            <div class="news-card__info-item"><span class="news-card__icon icon--location"></span>Ростов-на-Дону</div>
                        </div>
                        <div class="col">
                            <div class="news-card__info-item pos-right"><span class="news-card__icon icon--calendar"></span>28.03.2017</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- @@close-->