<!-- @@master  = partials/_master.html-->
 
<!-- @@block  =  content-->
<section class="page__section">
    <div class="page__content-inner">
        <ul class="breadcrumbs">
            <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link"><span class="icon--home"></span></a></li>
            <li class="breadcrumbs__item"><a href="orders.html" class="breadcrumbs__link"><span class="breadcrumbs__text">Заказы</span></a></li>
            <li class="breadcrumbs__item"><div class="breadcrumbs__link"><span class="breadcrumbs__text">Столешница из лабрадорита Blue Pearl</span></div></li>
        </ul>
        <div class="page__header">
            <h1 class="page__header-title">Столешница из лабрадорита Blue Pearl</h1>
        </div>
        <div class="page__body">
            <div class="order order--detail col-bottom-min">
                <div class="order__flag">Выбор исполнителя</div>
                <div class="order__wrap">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-6 col-sm-bottom">
                            <!--<div class="order__img"><img src="img/files/image_0_02_05_4bc37ddabadb39cd8f90fc6c1b50a5403c844a15a8f7ce1c0a91003569ed8118_V.jpg.250x250_q85_crop.jpg" alt="Столешница из искусственного камня Samsung Staron Sanded SS418" /></div>-->
                            <div class="catalog-detail__gal">
                                <div class="col-bottom-min">
                                    <a href="" class="catalog-detail__gal-img">
                                        <img src="img/files/image_0_02_05_4bc37ddabadb39cd8f90fc6c1b50a5403c844a15a8f7ce1c0a91003569ed8118_V.jpg.250x250_q85_crop.jpg" alt="" />
                                        <div class="catalog-detail__gal-search"><span class="catalog-detail__gal-icon icon--search"></span></div>
                                    </a>
                                </div>
                                <div class="catalog-detail__gal-thumbs">
                                    <div class="row row--padd-min">
                                        <div class="col-4 col-bottom-micro">
                                            <a href="" class="catalog-detail__gal-thumb">
                                                <img src="img/files/image_0_02_05_4bc37ddabadb39cd8f90fc6c1b50a5403c844a15a8f7ce1c0a91003569ed8118_V.jpg.250x250_q85_crop.jpg" alt="" />
                                                <div class="catalog-detail__gal-search"><span class="catalog-detail__gal-icon icon--search"></span></div>
                                            </a>
                                        </div>
                                        <div class="col-4 col-bottom-micro">
                                            <a href="" class="catalog-detail__gal-thumb">
                                                <img src="img/files/image_0_02_05_4bc37ddabadb39cd8f90fc6c1b50a5403c844a15a8f7ce1c0a91003569ed8118_V.jpg.250x250_q85_crop.jpg" alt="" />
                                                <div class="catalog-detail__gal-search"><span class="catalog-detail__gal-icon icon--search"></span></div>
                                            </a>
                                        </div>
                                        <div class="col-4 col-bottom-micro">
                                            <a href="" class="catalog-detail__gal-thumb">
                                                <img src="img/files/image_0_02_05_4bc37ddabadb39cd8f90fc6c1b50a5403c844a15a8f7ce1c0a91003569ed8118_V.jpg.250x250_q85_crop.jpg" alt="" />
                                                <div class="catalog-detail__gal-search"><span class="catalog-detail__gal-icon icon--search"></span></div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="order__file-header col-top">Прикреплённые файлы</div>
                            <div class="row row--padd-min">
                                <div class="col-sm-4 col-3 col-top-micro">
                                    <a href="" class="order__file">
                                        <span class="order__file-icon icon--doc"></span>
                                        <span class="order__file-name">xls</span>
                                        <span class="order__file-load icon--download"></span>
                                    </a>
                                </div>
                                <div class="col-sm-4 col-3 col-top-micro">
                                    <a href="" class="order__file">
                                        <span class="order__file-icon icon--doc"></span>
                                        <span class="order__file-name">doc</span>
                                        <span class="order__file-load icon--download"></span>
                                    </a>
                                </div>
                                <div class="col-sm-4 col-3 col-top-micro">
                                    <a href="" class="order__file">
                                        <span class="order__file-icon icon--doc"></span>
                                        <span class="order__file-name">b3d</span>
                                        <span class="order__file-load icon--download"></span>
                                    </a>
                                </div>
                                <div class="col-sm-4 col-3 col-top-micro">
                                    <a href="" class="order__file">
                                        <span class="order__file-icon icon--doc"></span>
                                        <span class="order__file-name">pdf</span>
                                        <span class="order__file-load icon--download"></span>
                                    </a>
                                </div>
                                <div class="col-sm-4 col-3 col-top-micro">
                                    <a href="" class="order__file">
                                        <span class="order__file-icon icon--doc"></span>
                                        <span class="order__file-name">doc</span>
                                        <span class="order__file-load icon--download"></span>
                                    </a>
                                </div>
                                <div class="col-sm-4 col-3 col-top-micro">
                                    <a href="" class="order__file">
                                        <span class="order__file-icon icon--doc"></span>
                                        <span class="order__file-name">b3d</span>
                                        <span class="order__file-load icon--download"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!--<div class="col-sm-7 col-sm-visiable">
                            <div class="order__info">
                                <div class="left"><span class="order__info-icon icon--vcard"></span>Заказ <span class="order__id">ID 442</span></div>
                                <div class="right"><span class="order__info-icon icon--calendar"></span>23.11.2017</div>
                            </div>
                            <h2 class="order__title">Столешница из лабрадорита Blue Pearl</h2>
                        </div>-->
                        <div class="col-lg-9 col-md-8">
                            <div class="order__body">
                                <div class="order__info">
                                    <div class="left"><span class="order__info-icon icon--vcard"></span>Заказ <span class="order__id">ID 442</span></div>
                                    <div class="right"><span class="order__info-icon icon--calendar"></span>23.11.2017</div>
                                </div>
                                <div class="order__title">Столешница из лабрадорита Blue Pearl</div>
                                <div class="page__text">
                                    <p>Нужна Г-образная столешница из лабрадорита Blue Pearl на кухню.</p>
                                    <p>Размеры по длинным сторонам 2800*2200мм, ширина 600мм, толщина 20мм.</p>
                                    <p>Небольшое скругление кромки, вырезы под мойку с креплением снизу, смеситель и варочную панель.</p>
                                    <p>Плинтус 20мм.</p>
                                    <p>Рассчитать стоимость "под ключ" с доставкой в г.Пушкин.</p>
                                </div>
                                <div class="order__price">Приблизительная стоимость заказа:<span class="order__price-num">90 000<span class="order__price-icon icon--rouble"></span></span></div>
                                <div class="order__contractor"><span class="icon--thumb"></span> Исполнитель:<a href="" class="order__contractor-name">ООО "Компания АЛМИР"</a></div>

                                 <div class="reg-info col-top-min">
                                    <div class="row">
                                        <div class="col-xl col-lg-bottom-min">
                                            <div class="reg-info__text">Для ответа на заказ необходимо войти в свой аккаунт или зарегистрироваться.</div>
                                        </div>
                                        <div class="col-xl">
                                            <div class="reg-info__btns col-xsm-full">
                                                <div class="left col-xsm-full"><a href="" class="btn btn--min col-xsm-full"><span class="icon--login"></span>Войти</a></div>
                                                <div class="left col-xsm-full marg-l-min marg-l-min-xsm-reset col-xsm-top-min"><a href="" class="btn btn--min btn--empty col-xsm-full"><span class="icon--user-plus"></span>Зарегистрироваться</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="box box--light-orange box--err page__info col-top-min">
                                    <div class="pos-center">
                                        <p><b>Внимание!</b></p>
                                        <p>Вам доступен ограниченный функционал.</p>
                                        <div class="form__hint"><div class="pos-center">Подтвердите договор оферту для дальнейшей работы на портале.</div></div>
                                        <a href="/profile-oferta.html" class="btn btn--min btn--orange col-top-micro col-xsm-full"><span class="icon--done"></span>Подтвердить</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="order__detail">
                    <div class="left">
                        <div class="order__detail-item"><span class="order__icon icon--location"></span>Ростов-на-Дону</div>
                    </div>
                    <div class="right">
                        <div class="order__detail-item"><span class="order__icon icon--eye"></span><span class="order__detail-text">Просмотры: </span>81</div>
                        <div class="order__detail-item"><span class="order__icon icon--chat"></span><span class="order__detail-text">Предложения: </span>4</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- @@close-->