<!-- @@master  = partials/_master-accounts.html-->
 
<!-- @@block  =  content-->
<section class="page__section">
    <div class="page__content-inner">
        <ul class="breadcrumbs">
            <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link"><span class="icon--home"></span></a></li>
            <li class="breadcrumbs__item"><a href="profile.html" class="breadcrumbs__link">Личный кабинет</a></li>
            <li class="breadcrumbs__item"><div class="breadcrumbs__link">Мои заказы</div></li>
        </ul>
        <div class="page__header">
            <h1 class="page__header-title">Личный кабинет | ООО СТУПКА</h1>
        </div>
        <div class="page__body profile">
            <div class="row">
                <div class="col-xl-3 col-md-4">
                    <div class="col-bottom-min">
                        <!-- @@include = partials/_profile-card.html -->
                    </div>
                    <!-- @@include = partials/_profile-menu.html -->
                </div>
                <div class="col-xl-9 col-md-8 col-sm-top-min">
                    <div class="col-bottom-min">
                        <!-- @@include = partials/_profile-menu-top.html -->
                    </div>
                    <div class="col-bottom-min">
                        <div class="clearfix">
                            <div class="left col-md-full pos-md-center">
                                <div class="profile__header">Работа с заказами</div>
                            </div>
                            <div class="right col-md-full col-md-top-micro">
                                <a href="" target="_blank" class="btn btn--min btn--orange col-md-full"><span class="icon--plus-squared"></span>Разместить новый заказ</a>
                            </div>
                        </div>
                    </div>
                    <div class="box page__info col-bottom-min">Здесь отображаются все заказы, на которые вы когда-либо отвечали.</div>
                    <div class="col-bottom-min">
                        <div class="tabs-page js-tab">
                            <div class="tabs-page__btns">
                                <a href="/profile-orders.html" class="tabs-page__btn-wrap tabs-page--btn-first current"><div class="tabs-page__btn">Мои ответы на заказы</div></a>
                                <a href="/profile-orders-docs.html" class="tabs-page__btn-wrap"><div class="tabs-page__btn">Документы к заказам</div></a>
                                <a href="/profile-orders-reviews.html" class="tabs-page__btn-wrap"><div class="tabs-page__btn">Отзывы к заказам</div></a>
                            </div>
                            <div class="tabs-page__body tabs-page--body-no-border">

                                <!-- Показываем, если ответов на заказы нет:
                                <div class="box box--light-green box--ok page__info">Вы пока не ответили ни на один заказ.</div>
                                -->

                                <div class="col-bottom-min">
                                    <div class="row">
                                        <div class="col-xl-8 col-lg-7 col-md-12 col-sm-6 pos-lg-center-only pos-xsm-center">
                                            <div class="sorting-cabinet">
                                                <div class="sorting-cabinet__title">Сортировать по дате:</div>
                                                <a href="" class="sorting-cabinet__toggle-views sorting-cabinet--toggle-views-active"><span class="sorting-cabinet__icon icon--up-open-mini"></span></a>
                                                <a href="" class="sorting-cabinet__toggle-views"><span class="sorting-cabinet__icon icon--down-open-mini"></span></a>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-lg-5 col-md-12 col-sm-6">
                                            <div class="pseudo-select">
                                                <div class="pseudo-select__control">
                                                    <div class="pseudo-select__arrow"><span class="icon--down-open-mini"></span></div>
                                                    <div class="pseudo-select__text">Все заказы</div>
                                                </div>
                                                <ul class="pseudo-select__list">
                                                    <li class="pseudo-select__option current" data-value="1">Все заказы</li>
                                                    <li class="pseudo-select__option" data-value="2">Ожидают решения заказчика</li>
                                                    <li class="pseudo-select__option" data-value="3">Вас выбрали</li>
                                                    <li class="pseudo-select__option" data-value="4">Завершённые заказы</li>
                                                    <li class="pseudo-select__option" data-value="5">Отклонённые</li>
                                                </ul>
                                                <select name="status" class="pseudo-select__real">
                                                    <option value="1" selected="selected">Все заказы</option>
                                                    <option value="2">Ожидают решения заказчика</option>
                                                    <option value="3">Вас выбрали</option>
                                                    <option value="4">Завершённые заказы</option>
                                                    <option value="5">Отклонённые</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-bottom-min">
                                    <!-- @@include = partials/_profile-order.html -->
                                </div>
                                <div class="col-bottom-min">
                                    <!-- @@include = partials/_profile-order.html -->
                                </div>
                                <div class="col-bottom-min">
                                    <!-- @@include = partials/_profile-order.html -->
                                </div>
                                <!-- @@include = partials/_pagination.html -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- @@close-->