<!-- @@master  = partials/_master-accounts.html-->
 
<!-- @@block  =  content-->
<section class="page__section">
    <div class="page__content-inner">
        <ul class="breadcrumbs">
            <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link"><span class="icon--home"></span></a></li>
            <li class="breadcrumbs__item"><a href="profile.html" class="breadcrumbs__link">Личный кабинет</a></li>
            <li class="breadcrumbs__item"><div class="breadcrumbs__link">Мои заказы</div></li>
        </ul>
        <div class="page__header">
            <h1 class="page__header-title">Личный кабинет | ООО СТУПКА</h1>
        </div>
        <div class="page__body profile">
            <div class="row">
                <div class="col-xl-3 col-md-4">
                    <div class="col-bottom-min">
                        <!-- @@include = partials/_profile-card.html -->
                    </div>
                    <!-- @@include = partials/_profile-menu.html -->
                </div>
                <div class="col-xl-9 col-md-8 col-sm-top-min">
                    <div class="col-bottom-min">
                        <!-- @@include = partials/_profile-menu-top.html -->
                    </div>
                    <div class="col-bottom-min">
                        <div class="clearfix">
                            <div class="left col-md-full pos-md-center">
                                <div class="profile__header">Работа с заказами</div>
                            </div>
                            <div class="right col-md-full col-md-top-micro">
                                <a href="" target="_blank" class="btn btn--min btn--orange col-md-full"><span class="icon--plus-squared"></span>Разместить новый заказ</a>
                            </div>
                        </div>
                    </div>
                    <div class="box page__info col-bottom-min">Здесь может отображаться какая-то подсказка.</div>
                    <div class="col-bottom-min">
                        <div class="tabs-page">
                            <div class="tabs-page__btns">
                                <a href="/profile-orders.html" class="tabs-page__btn-wrap tabs-page--btn-first"><div class="tabs-page__btn">Мои ответы на заказы</div></a>
                                <a href="/profile-orders-docs.html" class="tabs-page__btn-wrap"><div class="tabs-page__btn">Документы к заказам</div></a>
                                <a href="/profile-orders-reviews.html" class="tabs-page__btn-wrap current"><div class="tabs-page__btn">Отзывы к заказам</div></a>
                            </div>
                            <div class="tabs-page__body tabs-page--body-no-border">
                                <div class="col-bottom-min">
                                    <!-- @@include = partials/_review-order.html -->
                                </div>
                                <div class="col-bottom-min">
                                    <!-- @@include = partials/_review-order.html -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- @@close-->