<!-- @@master  = partials/_master-accounts.html-->
 
<!-- @@block  =  content-->
<section class="page__section">
    <div class="page__content-inner">
        <ul class="breadcrumbs">
            <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link"><span class="icon--home"></span></a></li>
            <li class="breadcrumbs__item"><a href="profile.html" class="breadcrumbs__link">Личный кабинет</a></li>
            <li class="breadcrumbs__item"><div class="breadcrumbs__link">Мои заказы</div></li>
        </ul>
        <div class="page__header">
            <h1 class="page__header-title">Личный кабинет | ООО СТУПКА</h1>
        </div>
        <div class="page__body profile">
            <div class="row">
                <div class="col-xl-3 col-md-4">
                    <div class="col-bottom-min">
                        <!-- @@include = partials/_profile-card.html -->
                    </div>
                    <!-- @@include = partials/_profile-menu.html -->
                </div>
                <div class="col-xl-9 col-md-8 col-sm-top-min">
                    <div class="col-bottom-min">
                        <!-- @@include = partials/_profile-menu-top.html -->
                    </div>
                    <div class="col-bottom-min">
                        <div class="pos-md-center">
                            <div class="profile__header">Ваши обращения</div>
                        </div>
                    </div>
                    <div class="col-bottom-min">
                        <a href="profile-tickets.html" class="btn btn--min btn--white btn--empty btn--fill btn--text-left"><span class="icon--left-open-mini"></span>К списку обращений</a>
                    </div>
                    <div class="js-expand-wrap">
                        <div class="message message--detail">
                            <div class="message__order">
                                <div class="clearfix">
                                    <div class="left">
                                        <div class="message__order-id"><span class="message__order-icon icon--vcard"></span>Обращение <span class="message__order-id-num">ID 442</span></div>
                                    </div>
                                    <div class="right">
                                        <div class="message__order-date"><span class="message__order-icon icon--calendar"></span>30.05.17</div>
                                    </div>
                                </div>
                            </div>
                            <div class="message__order-name">Сообщить об ошибке</div>
                            <div class="message__body">
                                <div class="message__mess-count col-xsm-hidden">
                                    <div class="message__stat-mess">
                                        <span class="message__stat-icon icon--mail"></span>
                                        <span class="message__stat-text">Сообщений: </span>
                                        <span class="message__stat-count">81</span>
                                    </div>
                                </div>
                                <div class="message__user col-xsm-full">
                                    <div class="message__img"><img src="/img/files/default.png.250x250_q85_crop.jpg" alt="" /></div>
                                    <div class="message__name">Администратор Amigo Stone</div>
                                </div>
                                <div class="col-xsm-visiable col-xsm-top-micro pos-right">
                                    <div class="message__stat-mess">
                                        <span class="message__stat-icon icon--mail"></span>
                                        <span class="message__stat-text">Сообщений: </span>
                                        <span class="message__stat-count">81</span>
                                    </div>
                                </div>
                            </div>
                            <div class="message__chat">
                                <div class="message__chat-body">
                                    <div class="message__chat-mess">
                                        <div class="message__chat-mess-header">
                                            <div class="message__chat-mess-name"><div class="message__chat-mess-img"><img src="/img/files/default.png.250x250_q85_crop.jpg" alt="" /></div>Администратор Amigo Stone</div>
                                            <div class="message__chat-mess-date">25.02.2018 17:39:04</div>
                                        </div>
                                        <div class="message__chat-mess-text">Здравствуйте! Как там поживает моя столешница? Я всё жду-жду, а вы молчите.</div>
                                    </div>
                                    <div class="message__chat-mess">
                                        <div class="message__chat-mess-header">
                                            <div class="message__chat-mess-name"><div class="message__chat-mess-img"><img src="/img/files/favicon.jpg.238x238_q85_crop.jpg" alt="" /></div>ООО СТУПКА</div>
                                            <div class="message__chat-mess-date">25.02.2018 17:39:04</div>
                                        </div>
                                        <div class="message__chat-mess-text">Здравствуйте! Как там поживает моя столешница? Я всё жду-жду, а вы молчите.</div>
                                    </div>
                                    <div class="message__chat-mess">
                                        <div class="message__chat-mess-header">
                                            <div class="message__chat-mess-name"><div class="message__chat-mess-img"><img src="/img/files/default.png.250x250_q85_crop.jpg" alt="" /></div>Администратор Amigo Stone</div>
                                            <div class="message__chat-mess-date">25.02.2018 17:39:04</div>
                                        </div>
                                        <div class="message__chat-mess-text">Здравствуйте! Как там поживает моя столешница? Я всё жду-жду, а вы молчите.</div>
                                        <div class="order__docs"><!-- Выводим, если есть файлы -->
                                            <a href="" class="order__doc left marg-r-micro">
                                                <span class="order__doc-icon icon--doc"></span>
                                                <span class="order__doc-name">xls</span>
                                                <span class="order__doc-load icon--download"></span>
                                            </a>
                                            <a href="" class="order__doc left marg-r-micro">
                                                <span class="order__doc-icon icon--doc"></span>
                                                <span class="order__doc-name">doc</span>
                                                <span class="order__doc-load icon--download"></span>
                                            </a>
                                            <a href="" class="order__doc left marg-r-micro">
                                                <img src="img/files/image_0_02_05_4bc37ddabadb39cd8f90fc6c1b50a5403c844a15a8f7ce1c0a91003569ed8118_V.jpg.250x250_q85_crop.jpg" alt="" />
                                                <span class="order__doc-load icon--search"></span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="message__chat-mess">
                                        <div class="message__chat-mess-header">
                                            <div class="message__chat-mess-name"><div class="message__chat-mess-img"><img src="/img/files/favicon.jpg.238x238_q85_crop.jpg" alt="" /></div>ООО СТУПКА</div>
                                            <div class="message__chat-mess-date">25.02.2018 17:39:04</div>
                                        </div>
                                        <div class="message__chat-mess-text">Здравствуйте! Как там поживает моя столешница? Я всё жду-жду, а вы молчите.</div>
                                    </div>
                                    <div class="message__chat-mess">
                                        <div class="message__chat-mess-header">
                                            <div class="message__chat-mess-name"><div class="message__chat-mess-img"><img src="/img/files/default.png.250x250_q85_crop.jpg" alt="" /></div>Администратор Amigo Stone</div>
                                            <div class="message__chat-mess-date">25.02.2018 17:39:04</div>
                                        </div>
                                        <div class="message__chat-mess-text">Здравствуйте! Как там поживает моя столешница? Я всё жду-жду, а вы молчите.</div>
                                    </div>
                                    <div class="message__chat-mess">
                                        <div class="message__chat-mess-header">
                                            <div class="message__chat-mess-name"><div class="message__chat-mess-img"><img src="/img/files/favicon.jpg.238x238_q85_crop.jpg" alt="" /></div>ООО СТУПКА</div>
                                            <div class="message__chat-mess-date">25.02.2018 17:39:04</div>
                                        </div>
                                        <div class="message__chat-mess-text">Здравствуйте! Как там поживает моя столешница? Я всё жду-жду, а вы молчите.</div>
                                        <div class="order__docs"><!-- Выводим, если есть файлы -->
                                            <a href="" class="order__doc left marg-r-micro">
                                                <span class="order__doc-icon icon--doc"></span>
                                                <span class="order__doc-name">xls</span>
                                                <span class="order__doc-load icon--download"></span>
                                            </a>
                                            <a href="" class="order__doc left marg-r-micro">
                                                <span class="order__doc-icon icon--doc"></span>
                                                <span class="order__doc-name">doc</span>
                                                <span class="order__doc-load icon--download"></span>
                                            </a>
                                            <a href="" class="order__doc left marg-r-micro">
                                                <img src="img/files/image_0_02_05_4bc37ddabadb39cd8f90fc6c1b50a5403c844a15a8f7ce1c0a91003569ed8118_V.jpg.250x250_q85_crop.jpg" alt="" />
                                                <span class="order__doc-load icon--search"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="message__chat-write">
                                    <div class="form__field">
                                        <textarea class="message__chat-write-area" placeholder="Введите ваше сообщение..."></textarea>
                                    </div>
                                    <div class="form__field">
                                        <div class="form__title">Вы можете прикрепить к обращению изображения</div>
                                        <div class="form__hint col-bottom-micro"><div class="pos-left">Не более 3-х файлов. Размер каждого файла не должен превышать 5Мб. Допустимые форматы .jpg, png.</div></div>
                                        <div class="btn btn--micro col-xsm-full"><span class="icon--upload"></span>Прикрепить файлы</div>
                                        <div class="col-top-micro"><!-- Выводим, если загрузили файлы -->
                                            <div class="order__docs order--docs-t-no">
                                                <div class="order__doc left marg-r-micro">
                                                    <span class="order__doc-icon icon--doc"></span>
                                                    <span class="order__doc-name">xls</span>
                                                </div>
                                                <div class="order__doc left marg-r-micro">
                                                    <span class="order__doc-icon icon--doc"></span>
                                                    <span class="order__doc-name">doc</span>
                                                </div>
                                                <div class="order__doc left marg-r-micro">
                                                    <img src="img/files/image_0_02_05_4bc37ddabadb39cd8f90fc6c1b50a5403c844a15a8f7ce1c0a91003569ed8118_V.jpg.250x250_q85_crop.jpg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix">
                                        <div class="btn btn--micro col-top-micro col-sm-full right marg-l-micro marg-r-min-sm-reset col-sm-top-micro">Отправить</div>
                                        <div class="btn btn--micro btn--empty col-top-micro col-sm-full right js-expand-btn" data-id="expand-1"><span class="icon--done"></span>Вопрос решён</div><!-- Если получен ответ от администратора -->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Форма для оценки качества работы техподдержки -->
                        <div class="js-expand-body none" data-id="expand-1">
                            <div class="box col-top-min">
                                <form action="" method="post" class="form" enctype="multipart/form-data">
                                    <div class="page__info-header col-bottom-min">Оцените качество работы администрации портала</div>
                                    <div class="form__field">
                                        <div class="form__title">Ваша оценка</div>
                                        <div class="order__mark js-order-mark">
                                            <span class="order__mark-star icon--star js-order-mark-star" data-star="1"></span>
                                            <span class="order__mark-star icon--star js-order-mark-star" data-star="2"></span>
                                            <span class="order__mark-star icon--star js-order-mark-star" data-star="3"></span>
                                            <span class="order__mark-star icon--star js-order-mark-star" data-star="4"></span>
                                            <span class="order__mark-star icon--star js-order-mark-star" data-star="5"></span>
                                            <input type="hidden" name="" value="" class="js-order-mark-res" />
                                        </div>
                                    </div>
                                    <div class="form__field">
                                        <div class="form__title">Нам важно ваше мнение!</div>
                                        <textarea placeholder="Напишите свой комментарий" name="" class="form__textarea"></textarea>
                                        <!--<div class="form__hint">Выставление оценки обязательно для завершения заказа!</div>-->
                                    </div>
                                    <div class="clearfix">
                                        <button class="btn btn--micro right col-sm-full" type="submit" name="" value="0">Закрыть обращение</button>
                                        <div class="btn btn--micro btn--empty right col-sm-full marg-r-min marg-r-min-sm-reset col-sm-top-micro js-expand-btn" data-expand="show" data-id="expand-1">Отмена</div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- @@close-->