<!-- @@master  = partials/_master-accounts.html-->
 
<!-- @@block  =  content-->
<section class="page__section">
    <div class="page__content-inner">
        <ul class="breadcrumbs">
            <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link"><span class="icon--home"></span></a></li>
            <li class="breadcrumbs__item"><a href="profile.html" class="breadcrumbs__link">Личный кабинет</a></li>
            <li class="breadcrumbs__item"><div class="breadcrumbs__link">Мои заказы</div></li>
        </ul>
        <div class="page__header">
            <h1 class="page__header-title">Личный кабинет | ООО СТУПКА</h1>
        </div>
        <div class="page__body profile">
            <div class="row">
                <div class="col-xl-3 col-md-4">
                    <div class="col-bottom-min">
                        <!-- @@include = partials/_profile-card.html -->
                    </div>
                    <!-- @@include = partials/_profile-menu.html -->
                </div>
                <div class="col-xl-9 col-md-8 col-sm-top-min">
                    <div class="col-bottom-min">
                        <!-- @@include = partials/_profile-menu-top.html -->
                    </div>
                    <div class="col-bottom-min">
                        <div class="clearfix">
                            <div class="left col-md-full pos-md-center">
                                <div class="profile__header">Ваши обращения</div>
                            </div>
                            <div class="right col-md-full col-md-top-micro">
                                <a href="" target="_blank" class="btn btn--min btn--orange col-md-full"><span class="icon--plus-squared"></span>Разместить новый заказ</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-bottom-min">
                        <a href="profile-tickets.html" class="btn btn--min btn--white btn--empty btn--fill btn--text-left"><span class="icon--left-open-mini"></span>К списку обращений</a>
                    </div>
                    <div class="js-expand-wrap">
                        <div class="message message--detail">
                            <div class="message__order">
                                <div class="clearfix">
                                    <div class="left">
                                        <div class="message__order-id"><span class="message__order-icon icon--vcard"></span>Обращение <span class="message__order-id-num">ID 442</span></div>
                                    </div>
                                    <div class="right">
                                        <div class="message__order-date"><span class="message__order-icon icon--calendar"></span>30.05.17</div>
                                    </div>
                                </div>
                            </div>
                            <div class="message__order-name">Сообщить об ошибке</div>
                            <div class="message__body">
                                <div class="message__mess-count col-xsm-hidden">
                                    <div class="message__stat-mess">
                                        <span class="message__stat-icon icon--mail"></span>
                                        <span class="message__stat-text">Сообщений: </span>
                                        <span class="message__stat-count">81</span>
                                    </div>
                                </div>
                                <div class="message__user col-xsm-full">
                                    <div class="message__img"><img src="/img/files/default.png.250x250_q85_crop.jpg" alt="" /></div>
                                    <div class="message__name">Администратор Amigo Stone</div>
                                </div>
                                <div class="col-xsm-visiable col-xsm-top-micro pos-right">
                                    <div class="message__stat-mess">
                                        <span class="message__stat-icon icon--mail"></span>
                                        <span class="message__stat-text">Сообщений: </span>
                                        <span class="message__stat-count">81</span>
                                    </div>
                                </div>
                            </div>
                            <div class="message__chat">
                                <div class="message__chat-body">
                                    <div class="message__chat-mess">
                                        <div class="message__chat-mess-header">
                                            <div class="message__chat-mess-name"><div class="message__chat-mess-img"><img src="/img/files/default.png.250x250_q85_crop.jpg" alt="" /></div>Администратор Amigo Stone</div>
                                            <div class="message__chat-mess-date">25.02.2018 17:39:04</div>
                                        </div>
                                        <div class="message__chat-mess-text">Здравствуйте! Как там поживает моя столешница? Я всё жду-жду, а вы молчите.</div>
                                    </div>
                                    <div class="message__chat-mess">
                                        <div class="message__chat-mess-header">
                                            <div class="message__chat-mess-name"><div class="message__chat-mess-img"><img src="/img/files/favicon.jpg.238x238_q85_crop.jpg" alt="" /></div>ООО СТУПКА</div>
                                            <div class="message__chat-mess-date">25.02.2018 17:39:04</div>
                                        </div>
                                        <div class="message__chat-mess-text">Здравствуйте! Как там поживает моя столешница? Я всё жду-жду, а вы молчите.</div>
                                    </div>
                                    <div class="message__chat-mess">
                                        <div class="message__chat-mess-header">
                                            <div class="message__chat-mess-name"><div class="message__chat-mess-img"><img src="/img/files/default.png.250x250_q85_crop.jpg" alt="" /></div>Администратор Amigo Stone</div>
                                            <div class="message__chat-mess-date">25.02.2018 17:39:04</div>
                                        </div>
                                        <div class="message__chat-mess-text">Здравствуйте! Как там поживает моя столешница? Я всё жду-жду, а вы молчите.</div>
                                    </div>
                                    <div class="message__chat-mess">
                                        <div class="message__chat-mess-header">
                                            <div class="message__chat-mess-name"><div class="message__chat-mess-img"><img src="/img/files/favicon.jpg.238x238_q85_crop.jpg" alt="" /></div>ООО СТУПКА</div>
                                            <div class="message__chat-mess-date">25.02.2018 17:39:04</div>
                                        </div>
                                        <div class="message__chat-mess-text">Здравствуйте! Как там поживает моя столешница? Я всё жду-жду, а вы молчите.</div>
                                    </div>
                                    <div class="message__chat-mess">
                                        <div class="message__chat-mess-header">
                                            <div class="message__chat-mess-name"><div class="message__chat-mess-img"><img src="/img/files/default.png.250x250_q85_crop.jpg" alt="" /></div>Администратор Amigo Stone</div>
                                            <div class="message__chat-mess-date">25.02.2018 17:39:04</div>
                                        </div>
                                        <div class="message__chat-mess-text">Здравствуйте! Как там поживает моя столешница? Я всё жду-жду, а вы молчите.</div>
                                    </div>
                                    <div class="message__chat-mess">
                                        <div class="message__chat-mess-header">
                                            <div class="message__chat-mess-name"><div class="message__chat-mess-img"><img src="/img/files/favicon.jpg.238x238_q85_crop.jpg" alt="" /></div>ООО СТУПКА</div>
                                            <div class="message__chat-mess-date">25.02.2018 17:39:04</div>
                                        </div>
                                        <div class="message__chat-mess-text">Здравствуйте! Как там поживает моя столешница? Я всё жду-жду, а вы молчите.</div>
                                    </div>
                                </div>
                                <div class="message__chat-write">
                                    <div class="pos-center">
                                        <div class="btn btn--micro col-xsm-full">Возобновить обращение</div>
                                        <div class="form__hint"><div class="pos-center">Обращение было закрыто</div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- @@close-->