<!-- @@master  = partials/_master-accounts.html-->
 
<!-- @@block  =  content-->
<section class="page__section">
    <div class="page__content-inner">
        <ul class="breadcrumbs">
            <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link"><span class="icon--home"></span></a></li>
            <li class="breadcrumbs__item"><a href="profile.html" class="breadcrumbs__link">Личный кабинет</a></li>
            <li class="breadcrumbs__item"><div class="breadcrumbs__link">Отчётные документы</div></li>
        </ul>
        <div class="page__header">
            <h1 class="page__header-title">Личный кабинет | ООО СТУПКА</h1>
        </div>
        <div class="page__body profile">
            <div class="row">
                <div class="col-xl-3 col-md-4">
                    <div class="col-bottom-min">
                        <!-- @@include = partials/_profile-card.html -->
                    </div>
                    <!-- @@include = partials/_profile-menu.html -->
                </div>
                <div class="col-xl-9 col-md-8 col-sm-top-min">
                    <div class="col-bottom-min">
                        <!-- @@include = partials/_profile-menu-top.html -->
                    </div>
                    <div class="col-bottom-min">
                        <div class="pos-md-center">
                            <div class="profile__header">Отчётные документы</div>
                        </div>
                    </div>
                    <div class="box page__info col-bottom-min">Здесь может отображаться подсказка....</div>
                    <div class="docs">
                        <div class="box box--light-green box--ok page__info col-bottom-min">
                            <div class="docs__links">
                                <a href="" class="docs__link docs--link-l openmodal" data-id="modal-docs-original"><span class="docs__link-icon icon--drawer"></span>Оригиналы документов</a>
                                <a href="" class="docs__link docs--link-r openmodal" data-id="modal-docs-electronic"><span class="docs__link-icon icon--at"></span>Электронные копии документов</a>
                            </div>
                        </div>

                        <div class="tabs-page js-tab">
                            <div class="tabs-page__btns">
                                <div class="tabs-page__btn-wrap tabs-page--btn-first current js-tab-btn" data-tab="1"><div class="tabs-page__btn">Счета</div></div>
                                <div class="tabs-page__btn-wrap js-tab-btn" data-tab="2"><div class="tabs-page__btn">Акты</div></div>
                            </div>
                            <div class="tabs-page__body tabs-page--body-no-border">
                                <div class="tabs-page__content js-tab-content current" data-tab="1">
                                    <div class="docs__table">
                                        <div class="docs__table-row docs--table-header">
                                            <div class="docs__table-col col-xsm-visiable">Ваши документы</div>
                                            <div class="docs__table-col col-xsm-hidden">Счёт №</div>
                                            <div class="docs__table-col col-xsm-hidden">Документ</div>
                                            <div class="docs__table-col col-xsm-hidden">Стоимость</div>
                                            <div class="docs__table-col col-xsm-hidden">Статус</div>
                                        </div>
                                        <div class="docs__table-row">
                                            <div class="docs__table-col">
                                                <div class="docs__table-id">ID 3083172</div>
                                                <div class="docs__table-date">от 22 сен 2018</div>
                                            </div>
                                            <div class="docs__table-col docs--table-file">
                                                <div class="docs__table-title-mob col-xsm-visiable">Документ</div>
                                                <div class="docs__table-info-mob">
                                                    <div class="docs__table-file">
                                                        <a href="" class="order__doc">
                                                            <span class="order__doc-icon icon--doc"></span>
                                                            <span class="order__doc-name">pdf</span>
                                                            <span class="order__doc-load icon--download"></span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="docs__table-col docs--table-price">
                                                <div class="docs__table-title-mob col-xsm-visiable">Стоимость</div>
                                                <div class="docs__table-info-mob">
                                                    17 424.00<span class="docs__table-icon icon--rouble"></span>
                                                </div>
                                            </div>
                                            <div class="docs__table-col docs--table-status docs--table-status-ok">
                                                <div class="docs__table-title-mob col-xsm-visiable">Статус</div>
                                                <div class="docs__table-info-mob">
                                                    <span class="docs__table-status-icon icon--done"></span>Оплачено
                                                </div>
                                            </div>
                                        </div>
                                        <div class="docs__table-row">
                                            <div class="docs__table-col">
                                                <div class="docs__table-id">ID 3083172</div>
                                                <div class="docs__table-date">от 22 сен 2018</div>
                                            </div>
                                            <div class="docs__table-col docs--table-file">
                                                <div class="docs__table-title-mob col-xsm-visiable">Документ</div>
                                                <div class="docs__table-info-mob">
                                                    <div class="docs__table-file">
                                                        <a href="" class="order__doc">
                                                            <span class="order__doc-icon icon--doc"></span>
                                                            <span class="order__doc-name">pdf</span>
                                                            <span class="order__doc-load icon--download"></span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="docs__table-col docs--table-price">
                                                <div class="docs__table-title-mob col-xsm-visiable">Стоимость</div>
                                                <div class="docs__table-info-mob">
                                                    17 424.00<span class="docs__table-icon icon--rouble"></span>
                                                </div>
                                            </div>
                                            <div class="docs__table-col docs--table-status docs--table-status-ok">
                                                <div class="docs__table-title-mob col-xsm-visiable">Статус</div>
                                                <div class="docs__table-info-mob">
                                                    <span class="docs__table-status-icon icon--done"></span>Оплачено
                                                </div>
                                            </div>
                                        </div>
                                        <div class="docs__table-row">
                                            <div class="docs__table-col">
                                                <div class="docs__table-id">ID 3083172</div>
                                                <div class="docs__table-date">от 22 сен 2018</div>
                                            </div>
                                            <div class="docs__table-col docs--table-file">
                                                <div class="docs__table-title-mob col-xsm-visiable">Документ</div>
                                                <div class="docs__table-info-mob">
                                                    <div class="docs__table-file">
                                                        <a href="" class="order__doc">
                                                            <span class="order__doc-icon icon--doc"></span>
                                                            <span class="order__doc-name">pdf</span>
                                                            <span class="order__doc-load icon--download"></span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="docs__table-col docs--table-price">
                                                <div class="docs__table-title-mob col-xsm-visiable">Стоимость</div>
                                                <div class="docs__table-info-mob">
                                                    17 424.00<span class="docs__table-icon icon--rouble"></span>
                                                </div>
                                            </div>
                                            <div class="docs__table-col docs--table-status docs--table-status-err">
                                                <div class="docs__table-title-mob col-xsm-visiable">Статус</div>
                                                <div class="docs__table-info-mob">
                                                    <span class="docs__table-status-icon icon--attention"></span>Не оплачено
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row row--padd-min col-top-min">
                                        <div class="col-xl-8 col-lg-6 col-sm-4 col-xsm-hidden">
                                            &nbsp;
                                        </div>
                                        <div class="col-xl-2 col-lg-3 col-sm-4 col-6">
                                            <div class="pseudo-select">
                                                <div class="pseudo-select__control">
                                                    <div class="pseudo-select__arrow"><span class="icon--down-open-mini"></span></div>
                                                    <div class="pseudo-select__text">2018</div>
                                                </div>
                                                <ul class="pseudo-select__list">
                                                    <li class="pseudo-select__option current" data-value="1">2018</li>
                                                    <li class="pseudo-select__option" data-value="2">2017</li>
                                                    <li class="pseudo-select__option" data-value="3">2016</li>
                                                </ul>
                                                <select name="status" class="pseudo-select__real">
                                                    <option value="1" selected="selected">2018</option>
                                                    <option value="2">2017</option>
                                                    <option value="3">2016</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xl-2 col-lg-3 col-sm-4 col-6">
                                            <div class="pseudo-select">
                                                <div class="pseudo-select__control">
                                                    <div class="pseudo-select__arrow"><span class="icon--down-open-mini"></span></div>
                                                    <div class="pseudo-select__text">Январь</div>
                                                </div>
                                                <ul class="pseudo-select__list">
                                                    <li class="pseudo-select__option current" data-value="1">Январь</li>
                                                    <li class="pseudo-select__option" data-value="2">Февраль</li>
                                                    <li class="pseudo-select__option" data-value="3">Март</li>
                                                    <li class="pseudo-select__option" data-value="4">Апрель</li>
                                                    <li class="pseudo-select__option" data-value="5">Май</li>
                                                    <li class="pseudo-select__option" data-value="6">Июнь</li>
                                                    <li class="pseudo-select__option" data-value="7">Июль</li>
                                                    <li class="pseudo-select__option" data-value="8">Август</li>
                                                    <li class="pseudo-select__option" data-value="9">Сентябрь</li>
                                                    <li class="pseudo-select__option" data-value="10">Октябрь</li>
                                                    <li class="pseudo-select__option" data-value="11">Ноябрь</li>
                                                    <li class="pseudo-select__option" data-value="12">Декабрь</li>
                                                </ul>
                                                <select name="status" class="pseudo-select__real">
                                                    <option value="1" selected="selected">Январь</option>
                                                    <option value="2">Февраль</option>
                                                    <option value="3">Март</option>
                                                    <option value="4">Апрель</option>
                                                    <option value="5">Май</option>
                                                    <option value="6">Июнь</option>
                                                    <option value="7">Июль</option>
                                                    <option value="8">Август</option>
                                                    <option value="9">Сентябрь</option>
                                                    <option value="10">Октябрь</option>
                                                    <option value="11">Ноябрь</option>
                                                    <option value="12">Декабрь</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tabs-page__content js-tab-content" data-tab="2">
                                    <div class="docs__table docs--table-col3">
                                        <div class="docs__table-row docs--table-header">
                                            <div class="docs__table-col col-xsm-visiable">Ваши документы</div>
                                            <div class="docs__table-col col-xsm-hidden">Счёт №</div>
                                            <div class="docs__table-col col-xsm-hidden">Документ</div>
                                            <div class="docs__table-col col-xsm-hidden">Стоимость</div>
                                        </div>
                                        <div class="docs__table-row">
                                            <div class="docs__table-col">
                                                <div class="docs__table-id">ID 3083172</div>
                                                <div class="docs__table-date">от 22 сен 2018</div>
                                            </div>
                                            <div class="docs__table-col docs--table-file">
                                                <div class="docs__table-title-mob col-xsm-visiable">Документ</div>
                                                <div class="docs__table-info-mob">
                                                    <div class="docs__table-file">
                                                        <a href="" class="order__doc">
                                                            <span class="order__doc-icon icon--doc"></span>
                                                            <span class="order__doc-name">pdf</span>
                                                            <span class="order__doc-load icon--download"></span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="docs__table-col docs--table-price">
                                                <div class="docs__table-title-mob col-xsm-visiable">Стоимость</div>
                                                <div class="docs__table-info-mob">
                                                    17 424.00<span class="docs__table-icon icon--rouble"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="docs__table-row">
                                            <div class="docs__table-col">
                                                <div class="docs__table-id">ID 3083172</div>
                                                <div class="docs__table-date">от 22 сен 2018</div>
                                            </div>
                                            <div class="docs__table-col docs--table-file">
                                                <div class="docs__table-title-mob col-xsm-visiable">Документ</div>
                                                <div class="docs__table-info-mob">
                                                    <div class="docs__table-file">
                                                        <a href="" class="order__doc">
                                                            <span class="order__doc-icon icon--doc"></span>
                                                            <span class="order__doc-name">pdf</span>
                                                            <span class="order__doc-load icon--download"></span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="docs__table-col docs--table-price">
                                                <div class="docs__table-title-mob col-xsm-visiable">Стоимость</div>
                                                <div class="docs__table-info-mob">
                                                    17 424.00<span class="docs__table-icon icon--rouble"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row row--padd-min col-top-min">
                                        <div class="col-xl-8 col-lg-6 col-sm-4 col-xsm-hidden">
                                            &nbsp;
                                        </div>
                                        <div class="col-xl-2 col-lg-3 col-sm-4 col-6">
                                            <div class="pseudo-select">
                                                <div class="pseudo-select__control">
                                                    <div class="pseudo-select__arrow"><span class="icon--down-open-mini"></span></div>
                                                    <div class="pseudo-select__text">2018</div>
                                                </div>
                                                <ul class="pseudo-select__list">
                                                    <li class="pseudo-select__option current" data-value="1">2018</li>
                                                    <li class="pseudo-select__option" data-value="2">2017</li>
                                                    <li class="pseudo-select__option" data-value="3">2016</li>
                                                </ul>
                                                <select name="status" class="pseudo-select__real">
                                                    <option value="1" selected="selected">2018</option>
                                                    <option value="2">2017</option>
                                                    <option value="3">2016</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xl-2 col-lg-3 col-sm-4 col-6">
                                            <div class="pseudo-select">
                                                <div class="pseudo-select__control">
                                                    <div class="pseudo-select__arrow"><span class="icon--down-open-mini"></span></div>
                                                    <div class="pseudo-select__text">Январь</div>
                                                </div>
                                                <ul class="pseudo-select__list">
                                                    <li class="pseudo-select__option current" data-value="1">Январь</li>
                                                    <li class="pseudo-select__option" data-value="2">Февраль</li>
                                                    <li class="pseudo-select__option" data-value="3">Март</li>
                                                    <li class="pseudo-select__option" data-value="4">Апрель</li>
                                                    <li class="pseudo-select__option" data-value="5">Май</li>
                                                    <li class="pseudo-select__option" data-value="6">Июнь</li>
                                                    <li class="pseudo-select__option" data-value="7">Июль</li>
                                                    <li class="pseudo-select__option" data-value="8">Август</li>
                                                    <li class="pseudo-select__option" data-value="9">Сентябрь</li>
                                                    <li class="pseudo-select__option" data-value="10">Октябрь</li>
                                                    <li class="pseudo-select__option" data-value="11">Ноябрь</li>
                                                    <li class="pseudo-select__option" data-value="12">Декабрь</li>
                                                </ul>
                                                <select name="status" class="pseudo-select__real">
                                                    <option value="1" selected="selected">Январь</option>
                                                    <option value="2">Февраль</option>
                                                    <option value="3">Март</option>
                                                    <option value="4">Апрель</option>
                                                    <option value="5">Май</option>
                                                    <option value="6">Июнь</option>
                                                    <option value="7">Июль</option>
                                                    <option value="8">Август</option>
                                                    <option value="9">Сентябрь</option>
                                                    <option value="10">Октябрь</option>
                                                    <option value="11">Ноябрь</option>
                                                    <option value="12">Декабрь</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- @@include = partials/_modal-docs.html -->
<!-- @@close-->