<!-- @@master  = partials/_master-accounts.html-->
 
<!-- @@block  =  content-->
<section class="page__section">
    <div class="page__content-inner">
        <ul class="breadcrumbs">
            <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link"><span class="icon--home"></span></a></li>
            <li class="breadcrumbs__item"><a href="profile.html" class="breadcrumbs__link">Личный кабинет</a></li>
            <li class="breadcrumbs__item"><div class="breadcrumbs__link">Мои заказы</div></li>
        </ul>
        <div class="page__header">
            <h1 class="page__header-title">Личный кабинет | ООО СТУПКА</h1>
        </div>
        <div class="page__body profile">
            <div class="row">
                <div class="col-xl-3 col-md-4">
                    <div class="col-bottom-min">
                        <!-- @@include = partials/_profile-card.html -->
                    </div>
                    <!-- @@include = partials/_profile-menu.html -->
                </div>
                <div class="col-xl-9 col-md-8 col-sm-top-min">
                    <div class="col-bottom-min">
                        <!-- @@include = partials/_profile-menu-top.html -->
                    </div>
                    <div class="col-bottom-min">
                        <div class="pos-md-center">
                            <div class="profile__header">Видеоинструкция</div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="steps col-bottom">
                            <div class="steps__item steps--left">
                                <div class="steps__name">Заказчик создаёт заказ</div>
                                <div class="steps__num">1</div>
                                <div class="steps__arrow"><span class="icon--down-curved-arrow-r"></span></div>
                            </div>
                            <div class="steps__item steps--right">
                                <div class="steps__arrow"><span class="icon--down-curved-arrow-l"></span></div>
                                <div class="steps__num">2</div>
                                <div class="steps__name">Исполнители предлагают свои цены и условия</div>
                            </div>
                            <div class="steps__item steps--left">
                                <div class="steps__name">Заказчик обсуждает детали заказа и выбирает исполнителя</div>
                                <div class="steps__num">3</div>
                                <div class="steps__arrow"><span class="icon--down-curved-arrow-r"></span></div>
                            </div>
                            <div class="steps__item steps--right">
                                <div class="steps__arrow"><span class="icon--down-curved-arrow-l"></span></div>
                                <div class="steps__num">4</div>
                                <div class="steps__name">Исполнитель приступает к работе</div>
                            </div>
                            <div class="steps__item steps--left">
                                <div class="steps__name">Заказчик принимает и оплачивает заказ</div>
                                <div class="steps__num">5</div>
                                <div class="steps__arrow"><span class="icon--down-curved-arrow-r"></span></div>
                            </div>
                            <div class="steps__item steps--right">
                                <div class="steps__arrow"><span class="icon--down-curved-arrow-l"></span></div>
                                <div class="steps__num">6</div>
                                <div class="steps__name">Исполнитель передает заказчику готовое изделие</div>
                            </div>
                        </div>
                        <div class="video">
                            <div class="video__inner">
                                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/ziGWlFYu7EE" frameborder="0" allowfullscreen=""></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- @@close-->