<!-- @@master  = partials/_master-accounts.html-->
 
<!-- @@block  =  content-->
<section class="page__section">
    <div class="page__content-inner">
        <ul class="breadcrumbs">
            <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link"><span class="icon--home"></span></a></li>
            <li class="breadcrumbs__item"><a href="profile.html" class="breadcrumbs__link">Личный кабинет</a></li>
            <li class="breadcrumbs__item"><div class="breadcrumbs__link">Статьи</div></li>
        </ul>
        <div class="page__header">
            <h1 class="page__header-title">Личный кабинет | ООО СТУПКА</h1>
        </div>
        <div class="page__body profile">
            <div class="row">
                <div class="col-xl-3 col-md-4">
                    <div class="col-bottom-min">
                        <!-- @@include = partials/_profile-card.html -->
                    </div>
                    <!-- @@include = partials/_profile-menu.html -->
                </div>
                <div class="col-xl-9 col-md-8 col-sm-top-min">
                    <div class="col-bottom-min">
                        <!-- @@include = partials/_profile-menu-top.html -->
                    </div>
                    <div class="col-bottom-min">
                        <div class="clearfix">
                            <div class="left col-md-full pos-md-center">
                                <div class="profile__header">Добавление камня в каталог</div>
                            </div>
                            <div class="right col-md-full col-md-top-micro">
                                <a href="/profile-catalog-stone-add.html" target="_blank" class="btn btn--min btn--orange col-md-full"><span class="icon--plus-squared"></span>Добавить камни</a>
                            </div>
                        </div>
                    </div>
                    <div class="box page__info col-bottom-min">Здесь может отображаться какая-то подсказка</div>
                    <div class="tabs-page js-tab">
                        <div class="tabs-page__btns">
                            <div class="tabs-page__btn-wrap tabs-page--btn-first"><a href="/profile-catalog-stone-edit-natural.html" class="tabs-page__btn">Натуральный камень</a></div>
                            <div class="tabs-page__btn-wrap current"><a href="/profile-catalog-stone-edit.html" class="tabs-page__btn">Искусственный камень</a></div>
                        </div>
                        <div class="tabs-page__body tabs-page--body-no-border">
                            <div class="row">
                                <div class="col-xl-4">
                                    <div class="filter">
                                        <div class="filter__title">Фильтр</div>
                                        <div class="filter__body">
                                            <div class="form__field">
                                                <div class="form__title">Подкатегории</div>
                                                <div class="row">
                                                    <div class="col-md-12 col-sm-6 col-bottom-micro">
                                                        <label for="check1" class="pseudo-check">
                                                            <div class="pseudo-check__check"><span class="pseudo-check__check-icon icon--check"></span></div>
                                                            <div class="pseudo-check__text">Акриловый камень<span class="pseudo-check__count">(450)</span></div>
                                                            <input id="check1" name="" value="yes" type="checkbox" class="pseudo-check__real" />
                                                        </label>
                                                    </div>
                                                    <div class="col-md-12 col-sm-6 col-bottom-micro">
                                                        <label for="check2" class="pseudo-check">
                                                            <div class="pseudo-check__check"><span class="pseudo-check__check-icon icon--check"></span></div>
                                                            <div class="pseudo-check__text">Кварцевый агломерат<span class="pseudo-check__count">(708)</span></div>
                                                            <input id="check2" name="" value="yes" type="checkbox" class="pseudo-check__real" />
                                                        </label>
                                                    </div>
                                                    <div class="col-md-12 col-sm-6 col-bottom-micro">
                                                        <label for="check2" class="pseudo-check">
                                                            <div class="pseudo-check__check"><span class="pseudo-check__check-icon icon--check"></span></div>
                                                            <div class="pseudo-check__text">Гранит<span class="pseudo-check__count">(708)</span></div>
                                                            <input id="check2" name="" value="yes" type="checkbox" class="pseudo-check__real" />
                                                        </label>
                                                    </div>
                                                    <div class="col-md-12 col-sm-6 col-bottom-micro">
                                                        <label for="check2" class="pseudo-check">
                                                            <div class="pseudo-check__check"><span class="pseudo-check__check-icon icon--check"></span></div>
                                                            <div class="pseudo-check__text">Оникс<span class="pseudo-check__count">(708)</span></div>
                                                            <input id="check2" name="" value="yes" type="checkbox" class="pseudo-check__real" />
                                                        </label>
                                                    </div>
                                                    <div class="col-md-12 col-sm-6 col-bottom-micro">
                                                        <label for="check2" class="pseudo-check">
                                                            <div class="pseudo-check__check"><span class="pseudo-check__check-icon icon--check"></span></div>
                                                            <div class="pseudo-check__text">Кварцит<span class="pseudo-check__count">(708)</span></div>
                                                            <input id="check2" name="" value="yes" type="checkbox" class="pseudo-check__real" />
                                                        </label>
                                                    </div>
                                                    <div class="col-md-12 col-sm-6 col-bottom-micro">
                                                        <label for="check2" class="pseudo-check">
                                                            <div class="pseudo-check__check"><span class="pseudo-check__check-icon icon--check"></span></div>
                                                            <div class="pseudo-check__text">Мрамор<span class="pseudo-check__count">(708)</span></div>
                                                            <input id="check2" name="" value="yes" type="checkbox" class="pseudo-check__real" />
                                                        </label>
                                                    </div>
                                                    <div class="col-md-12 col-sm-6 col-bottom-micro">
                                                        <label for="check2" class="pseudo-check">
                                                            <div class="pseudo-check__check"><span class="pseudo-check__check-icon icon--check"></span></div>
                                                            <div class="pseudo-check__text">Травертин<span class="pseudo-check__count">(708)</span></div>
                                                            <input id="check2" name="" value="yes" type="checkbox" class="pseudo-check__real" />
                                                        </label>
                                                    </div>
                                                    <div class="col-md-12 col-sm-6 col-bottom-micro">
                                                        <label for="check2" class="pseudo-check">
                                                            <div class="pseudo-check__check"><span class="pseudo-check__check-icon icon--check"></span></div>
                                                            <div class="pseudo-check__text">Лабрадорит<span class="pseudo-check__count">(708)</span></div>
                                                            <input id="check2" name="" value="yes" type="checkbox" class="pseudo-check__real" />
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="filter__separate"></div>
                                            <div class="form__field">
                                                <div class="form__title">Страна производства</div><!-- Если натуральный камень: страна происхождения-->
                                                <div class="pseudo-select">
                                                    <div class="pseudo-select__control">
                                                        <div class="pseudo-select__arrow"><span class="icon--down-open-mini"></span></div>
                                                        <div class="pseudo-select__text">Все страны</div>
                                                    </div>
                                                    <ul class="pseudo-select__list">
                                                        <li class="pseudo-select__option current" data-value="1">Все страны</li>
                                                        <li class="pseudo-select__option" data-value="2">Россия</li>
                                                        <li class="pseudo-select__option" data-value="3">Мексика</li>
                                                        <li class="pseudo-select__option" data-value="4">Уругвай</li>
                                                    </ul>
                                                    <select name="status" class="pseudo-select__real">
                                                        <option value="1" selected="selected">Все страны</option>
                                                        <option value="2">Россия</option>
                                                        <option value="3">Мексика</option>
                                                        <option value="4">Уругвай</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form__field">
                                                <div class="form__title">Производитель</div><!-- Только для искусственного камня-->
                                                <div class="pseudo-select">
                                                    <div class="pseudo-select__control">
                                                        <div class="pseudo-select__arrow"><span class="icon--down-open-mini"></span></div>
                                                        <div class="pseudo-select__text">Все производители</div>
                                                    </div>
                                                    <ul class="pseudo-select__list">
                                                        <li class="pseudo-select__option current" data-value="1">Все производители</li>
                                                        <li class="pseudo-select__option" data-value="2">Staron</li>
                                                        <li class="pseudo-select__option" data-value="3">Samsung</li>
                                                    </ul>
                                                    <select name="status" class="pseudo-select__real">
                                                        <option value="1" selected="selected">Все производители</option>
                                                        <option value="2">Staron</option>
                                                        <option value="3">Samsung</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form__field">
                                                <div class="form__title">Линейка</div><!-- Только для искусственного камня-->
                                                <div class="pseudo-select">
                                                    <div class="pseudo-select__control">
                                                        <div class="pseudo-select__arrow"><span class="icon--down-open-mini"></span></div>
                                                        <div class="pseudo-select__text">Все линейки</div>
                                                    </div>
                                                    <ul class="pseudo-select__list">
                                                        <li class="pseudo-select__option current" data-value="1">Все линейки</li>
                                                        <li class="pseudo-select__option" data-value="2">Aspen</li>
                                                        <li class="pseudo-select__option" data-value="3">Crystal</li>
                                                        <li class="pseudo-select__option" data-value="4">Tempest</li>
                                                    </ul>
                                                    <select name="status" class="pseudo-select__real">
                                                        <option value="1" selected="selected">Все производители</option>
                                                        <option value="2">Aspen</option>
                                                        <option value="3">Crystal</option>
                                                        <option value="4">Tempest</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-8 col-lg-top-min">
                                    <div class="col-bottom-min">
                                        <!-- @@include = partials/_smart-search-name.html -->
                                    </div>
                                    <div class="">
                                        <!-- @@include = partials/_profile-stone-select.html -->
                                        <!-- @@include = partials/_profile-stone-select.html -->
                                        <!-- @@include = partials/_profile-stone-select.html -->
                                        <!-- @@include = partials/_profile-stone-select.html -->
                                        <div class="pos-center">
                                            <!-- @@include = partials/_pagination.html -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- @@close-->