<!-- @@master  = partials/_master-accounts.html-->
 
<!-- @@block  =  content-->
<section class="page__section">
    <div class="page__content-inner">
        <ul class="breadcrumbs">
            <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link"><span class="icon--home"></span></a></li>
            <li class="breadcrumbs__item"><a href="profile.html" class="breadcrumbs__link">Личный кабинет</a></li>
            <li class="breadcrumbs__item"><div class="breadcrumbs__link">Личные сообщения</div></li>
        </ul>
        <div class="page__header">
            <h1 class="page__header-title">Личный кабинет | ООО СТУПКА</h1>
        </div>
        <div class="page__body profile">
            <div class="row">
                <div class="col-xl-3 col-md-4">
                    <div class="col-bottom-min">
                        <!-- @@include = partials/_profile-card.html -->
                    </div>
                    <!-- @@include = partials/_profile-menu.html -->
                </div>
                <div class="col-xl-9 col-md-8 col-sm-top-min">
                    <div class="col-bottom-min">
                        <!-- @@include = partials/_profile-menu-top.html -->
                    </div>
                    <div class="col-bottom-min">
                        <div class="pos-md-center">
                            <div class="profile__header">Личные сообщения</div>
                        </div>
                    </div>
                    <div class="col-bottom-min">
                        <a href="profile-messages.html" class="btn btn--min btn--white btn--empty btn--fill btn--text-left"><span class="icon--left-open-mini"></span>Вернуться к диалогам</a>
                    </div>
                    <div class="message message--detail">
                        <div class="message__order">
                            <div class="clearfix">
                                <div class="left">
                                    <div class="message__order-id"><span class="message__order-icon icon--vcard"></span>Диалог по заказу <span class="message__order-id-num">ID 442</span></div>
                                </div>
                                <div class="right">
                                    <div class="message__order-date"><span class="message__order-icon icon--calendar"></span>30.05.17</div>
                                </div>
                            </div>
                        </div>
                        <a href="/profile-order.html" class="message__order-name">Гранитный слэб (плита с полировкой)</a>
                        <div class="message__body">
                            <div class="message__mess-count col-xsm-hidden">
                                <div class="message__stat-mess">
                                    <span class="message__stat-icon icon--mail"></span>
                                    <span class="message__stat-text">Сообщений: </span>
                                    <span class="message__stat-count">81</span>
                                </div>
                            </div>
                            <div class="message__user col-xsm-full">
                                <div class="message__img"><img src="/img/files/default.png.250x250_q85_crop.jpg" alt="" /></div>
                                <div class="message__name">Кожевникова Виктория Юрьевна</div>
                            </div>
                            <div class="col-xsm-visiable col-xsm-top-micro pos-right">
                                <div class="message__stat-mess">
                                    <span class="message__stat-icon icon--mail"></span>
                                    <span class="message__stat-text">Сообщений: </span>
                                    <span class="message__stat-count">81</span>
                                </div>
                            </div>
                        </div>
                        <div class="message__chat">
                            <div class="message__chat-body">
                                <div class="message__chat-mess">
                                    <div class="message__chat-mess-header">
                                        <div class="message__chat-mess-name"><div class="message__chat-mess-img"><img src="/img/files/default.png.250x250_q85_crop.jpg" alt="" /></div>Кожевникова Виктория Юрьевна</div>
                                        <div class="message__chat-mess-date">25.02.2018 17:39:04</div>
                                    </div>
                                    <div class="message__chat-mess-text">Здравствуйте! Как там поживает моя столешница? Я всё жду-жду, а вы молчите.</div>
                                </div>
                                <div class="message__chat-mess">
                                    <div class="message__chat-mess-header">
                                        <div class="message__chat-mess-name"><div class="message__chat-mess-img"><img src="/img/files/favicon.jpg.238x238_q85_crop.jpg" alt="" /></div>ООО СТУПКА</div>
                                        <div class="message__chat-mess-date">25.02.2018 17:39:04</div>
                                    </div>
                                    <div class="message__chat-mess-text">Здравствуйте! Как там поживает моя столешница? Я всё жду-жду, а вы молчите.</div>
                                </div>
                                <div class="message__chat-mess">
                                    <div class="message__chat-mess-header">
                                        <div class="message__chat-mess-name"><div class="message__chat-mess-img"><img src="/img/files/default.png.250x250_q85_crop.jpg" alt="" /></div>Кожевникова Виктория Юрьевна</div>
                                        <div class="message__chat-mess-date">25.02.2018 17:39:04</div>
                                    </div>
                                    <div class="message__chat-mess-text">Здравствуйте! Как там поживает моя столешница? Я всё жду-жду, а вы молчите.</div>
                                </div>
                                <div class="message__chat-mess">
                                    <div class="message__chat-mess-header">
                                        <div class="message__chat-mess-name"><div class="message__chat-mess-img"><img src="/img/files/favicon.jpg.238x238_q85_crop.jpg" alt="" /></div>ООО СТУПКА</div>
                                        <div class="message__chat-mess-date">25.02.2018 17:39:04</div>
                                    </div>
                                    <div class="message__chat-mess-text">Здравствуйте! Как там поживает моя столешница? Я всё жду-жду, а вы молчите.</div>
                                </div>
                                <div class="message__chat-mess">
                                    <div class="message__chat-mess-header">
                                        <div class="message__chat-mess-name"><div class="message__chat-mess-img"><img src="/img/files/default.png.250x250_q85_crop.jpg" alt="" /></div>Кожевникова Виктория Юрьевна</div>
                                        <div class="message__chat-mess-date">25.02.2018 17:39:04</div>
                                    </div>
                                    <div class="message__chat-mess-text">Здравствуйте! Как там поживает моя столешница? Я всё жду-жду, а вы молчите.</div>
                                </div>
                                <div class="message__chat-mess">
                                    <div class="message__chat-mess-header">
                                        <div class="message__chat-mess-name"><div class="message__chat-mess-img"><img src="/img/files/favicon.jpg.238x238_q85_crop.jpg" alt="" /></div>ООО СТУПКА</div>
                                        <div class="message__chat-mess-date">25.02.2018 17:39:04</div>
                                    </div>
                                    <div class="message__chat-mess-text">Здравствуйте! Как там поживает моя столешница? Я всё жду-жду, а вы молчите.</div>
                                </div>
                            </div>
                            <div class="message__chat-write">
                                <textarea class="message__chat-write-area" placeholder="Введите ваше сообщение..."></textarea>
                                <div class="pos-right">
                                    <div class="btn btn--micro col-top-micro col-xsm-full">Отправить</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- @@close-->