<!-- @@master  = partials/_master.html-->
 
<!-- @@block  =  content-->
<section class="page__section">
    <div class="page__content-inner">
        <ul class="breadcrumbs">
            <li class="breadcrumbs__item"><a href="" class="breadcrumbs__link"><span class="icon--home"></span></a></li>
            <li class="breadcrumbs__item"><div class="breadcrumbs__link">Регистрация</div></li>
        </ul>
        <div class="page__header">
            <h1 class="page__header-title">Регистрация</h1>
        </div>
        <div class="page__body">
            <div class="box">
                <div class="heading heading--middle">Выберите, кем вы являетесь?</div>
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-sm-bottom">
                        <a href="/registration-user.html" class="reg__person">
                            <div class="reg__person-img"><img src="img/reg_1.jpg" alt="" /></div>
                            <div class="reg__person-text">Вы заказчик</div>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-6 col-sm-bottom">
                        <a href="/registration-company.html" class="reg__person">
                            <div class="reg__person-img"><img src="img/reg_2.jpg" alt="" /></div>
                            <div class="reg__person-text">Вы поставщик / производственная компания</div>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-6 col-sm-bottom">
                        <a href="/registration-user.html" class="reg__person">
                            <div class="reg__person-img"><img src="img/reg_3.jpg" alt="" /></div>
                            <div class="reg__person-text">Вы мастер</div>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-6 col-sm-bottom">
                        <a href="/registration-user.html" class="reg__person">
                            <div class="reg__person-img"><img src="img/reg_3.jpg" alt="" /></div>
                            <div class="reg__person-text">Вы дизайнер / архитектор</div>
                        </a>
                    </div>
                </div>

                <div class="separate-line separate-line--minless"></div>
                <div class="pos-right">
                    <a href="/login.html"><span class="icon--login marg-r-micro"></span>Авторизоваться</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- @@close-->