<!-- @@master  = partials/_master.html-->
 
<!-- @@block  =  content-->
<section class="page__section">
    <div class="page__content-inner">
        <ul class="breadcrumbs">
            <li class="breadcrumbs__item"><a href="" class="breadcrumbs__link"><span class="icon--home"></span></a></li>
            <li class="breadcrumbs__item"><a href="/registration.html" class="breadcrumbs__link">Регистрация</a></li>
            <li class="breadcrumbs__item"><div class="breadcrumbs__link">Регистрация компании</div></li>
        </ul>
        <div class="page__header">
            <h1 class="page__header-title">Регистрация</h1>
        </div>
        <div class="page__body">
            <div class="row">
                <div class="col-lg-6">
                    <div class="box col-onesize">
                        <form action="" method="post" class="form" enctype="multipart/form-data">
                            <div class="heading heading--small">Регистрация компаниии</div>
                            <div class="page__info-header col-bottom-min">Тип компании</div>
                            <div class="row row--padd-min">
                                <div class="col-sm-6">
                                    <div class="form__field">
                                        <label for="check1" class="pseudo-check">
                                            <div class="pseudo-check__check"><span class="pseudo-check__check-icon icon--check"></span></div>
                                            <div class="pseudo-check__text">Камнеобработчик</div>
                                            <input id="check1" name="" value="yes" type="checkbox" class="pseudo-check__real" />
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="js-checkshow-wrap">
                                        <label for="check_provider" class="pseudo-check">
                                            <div class="pseudo-check__check"><span class="pseudo-check__check-icon icon--check"></span></div>
                                            <div class="pseudo-check__text">Поставщик</div>
                                            <input id="check_provider" name="" value="yes" type="checkbox" class="pseudo-check__real js-checkshow-checkbox" />
                                        </label>
                                        <div class="js-checkshow-show" style="display: none;">
                                            <div class="separate-line separate-line--min"></div>
                                            <label for="check3" class="pseudo-check">
                                                <div class="pseudo-check__check"><span class="pseudo-check__check-icon icon--check"></span></div>
                                                <div class="pseudo-check__text">Поставщик камня</div>
                                                <input id="check3" name="" value="yes" type="checkbox" class="pseudo-check__real" />
                                            </label>
                                            <label for="check4" class="pseudo-check col-top-micro">
                                                <div class="pseudo-check__check"><span class="pseudo-check__check-icon icon--check"></span></div>
                                                <div class="pseudo-check__text">Поставщик оборудования</div>
                                                <input id="check4" name="" value="yes" type="checkbox" class="pseudo-check__real" />
                                            </label>
                                            <label for="check5" class="pseudo-check col-top-micro">
                                                <div class="pseudo-check__check"><span class="pseudo-check__check-icon icon--check"></span></div>
                                                <div class="pseudo-check__text">Поставщик химии для камня</div>
                                                <input id="check5" name="" value="yes" type="checkbox" class="pseudo-check__real" />
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="separate-line"></div>
                            <div class="form__field">
                                <div class="form__title">Название компании</div>
                                <input placeholder="Название вашей компании" name="" value="" type="text" class="form__input" />
                            </div>

                            <div class="row row--padd-min">
                                <div class="col-sm-6">
                                    <div class="form__field">
                                        <div class="form__title">E-mail</div>
                                        <input placeholder="Ваш e-mail" name="" value="" type="email" class="form__input" />
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form__field">
                                        <div class="form__title">Контактный телефон</div>
                                        <input placeholder="+7 (___) ___-__-__" name="" value="" type="tel" class="form__input request-phone" />
                                    </div>
                                </div>
                            </div>
                            <div class="form__field">
                                <div class="form__title">Город</div>
                                <!-- @@include = partials/_smart-search-city.html -->
                            </div>
                            <div class="form__field">
                                <div class="form__title">ИНН организации</div>
                                <input placeholder="ИНН организации" name="" value="" type="text" class="form__input" />
                            </div>

                            <div class="separate-line"></div>
                            <div class="row row--padd-min">
                                <div class="col-sm-6">
                                    <div class="form__field">
                                        <div class="form__title">Пароль</div>
                                        <input placeholder="Ваш пароль" name="" value="" type="password" class="form__input" />
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form__field">
                                        <div class="form__title">Повторите пароль</div>
                                        <input placeholder="Повторите ваш пароль" name="" value="" type="password" class="form__input" />
                                    </div>
                                </div>
                            </div>

                            <div class="box box--light-orange box--err page__info col-bottom-micro">Ошибка!</div>
                            <div class="clearfix">
                                <div class="left col-top-micro col-bottom-micro col-xsm-top-0">
                                    Здесь капча
                                </div>
                                <button class="btn btn--min btn--disabled right col-xsm-full" type="submit" name="" value="0">Зарегистрироваться</button>
                            </div>
                        </form>
                        <!--
                        Нужно ли для компании?

                        <div class="col-top">
                            <div class="separate-line separate-line--minless"></div>
                            <div class="page__info-header col-bottom-min">Зарегистрироваться через аккаунт Google</div>
                            <div class="socials socials--green socials--big">
                                <a href="" class="socials__btn socials--ggl icon--gplus"></a>
                            </div>
                            <div class="separate-line separate-line--minless"></div>
                            <div class="pos-right">
                                <a href="/login.html"><span class="icon--user-plus marg-r-micro"></span>Авторизоваться</a>
                            </div>
                        </div>
                        -->
                    </div>
                </div>
                <div class="col-lg-6 col-lg-top">
                    <div class="box col-onesize">
                        <div class="heading heading--small">В результате вы получаете</div>
                        <div class="reg__res col-top">
                            <div class="reg__res-img"><img src="img/orders.png" alt="" /></div>
                            <div class="reg__res-text">Большое число заказов на производство, которые оставляют покупатели на сайте. Список заявок постоянно обновляется и расширяется. Оставляйте свой отклик и общайтесь с клиентами, чтобы получить заказ в работу.</div>
                        </div>
                        <div class="reg__res col-top">
                            <div class="reg__res-img"><img src="img/promotion.png" alt="" /></div>
                            <div class="reg__res-text">Ваша страница - дополнительная рекламная площадка. Размещайте информацию, данные об акциях для клиентов, ведите рассылку и новостную ленту.<br />Ваша отличная репутация на бирже привлечёт больше заказов!</div>
                        </div>
                        <div class="reg__res col-top">
                            <div class="reg__res-img"><img src="img/partners.png" alt="" /></div>
                            <div class="reg__res-text">Биржа Amigo Stone — удобная площадка для создания новых связей с другими компаниями. Работайте над общими проектами или ищите дополнительные мощности и специалистов. Участвуйте в отраслевых семинарах, организуйте встречи и мероприятия.</div>
                        </div>
                        <div class="reg__res col-top">
                            <div class="reg__res-img"><img src="img/warranty.png" alt="" /></div>
                            <div class="reg__res-text">Гарантии и поддержку. Специалисты биржи консультируют вас по вопросам рекламы, по правильному оформлению страницы компании, бонусной программе и другим моментам. Чтобы показать компанию для клиентов с лучшей стороны.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- @@close-->